Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(menu): move "New" from Curriculum to Tools
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
  client/src/ui/molecules/tools-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): update faq copy
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

fix(observatory): hide mobile sidebar for now
  client/src/observatory/layout.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(observatory): add sidebar to Results page
  client/src/observatory/docs/index.tsx
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): support new vertical ad format
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

with embed
  client/public/assets/curriculum/scrim.png
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip
  client/src/playground/index.scss
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

lint
  client/src/curriculum/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(observatory): progress bar
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
  client/src/observatory/progress/index.scss
  client/src/observatory/progress/index.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

csp
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): doc pages menu layout, tests link to anchor in scoring doc
  client/src/observatory/docs/index.scss
  client/src/observatory/docs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(top-navigation): remove min-height from .menu-toggle
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

horizontal
  client/src/playground/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): error handling & display
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): make scanning animation a bit slower, support reduced motion prefs
  client/src/observatory/index.scss
  client/src/observatory/progress/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(observatory): responsive scan results table, still with a few hacks
  client/src/observatory/csp.tsx
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(observatory): improvements to responsive table
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "fix(top-navigation): remove min-height from .menu-toggle"
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "chore(menu): move "New" from Curriculum to Tools"
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
  client/src/ui/molecules/tools-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(build): split rendering `index.html` from building `index.json` (#10953)
  .github/workflows/dev-build.yml
  .github/workflows/performance.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  .github/workflows/xyz-build.yml
  build/blog.ts
  build/cli.ts
  build/curriculum.ts
  build/spas.ts
  build/ssr-cli.ts
  build/ssr.ts
  build/utils.ts
  client/src/app.test.tsx
  libs/types/hydration.ts
  package.json
  scripts/testing.sh
  server/index.ts
  ssr/index.ts
  ssr/render.ts
  testing/README.md
  testing/scripts/functional-test.sh
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): add blue dot to "Observatory" menu item
  client/src/ui/molecules/tools-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(observatory): glean
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
  client/src/telemetry/constants.ts
  copy/observatory/tests.md
Due: prettier --ignore-unknown --write, eslint --fix

feat(observatory): glean
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): style linter
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(cli): remove double import
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): glean errors
  client/src/observatory/index.tsx
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): proper spa rendering, make host a query parameter in routing, make countdown button a client-side component
  build/spas.ts
  client/src/observatory/index.tsx
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): removed unused temporary grades component, linter warnings
  client/src/observatory/index.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): fix iframe title and height + div ids
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/src/api/util.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip(observatory): new responsive table designs
  client/src/observatory/csp.tsx
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feedback
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/src/api/util.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix test
  testing/content/files/en-us/learn/css/css_layout/introduction/flex/index.html
Due: prettier --ignore-unknown --write

fix test
  testing/content/files/en-us/learn/css/css_layout/introduction/flex/stuff/index.html
Due: prettier --ignore-unknown --write

more div -> section
  testing/content/files/en-us/learn/css/css_layout/introduction/grid/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/index.html
Due: prettier --ignore-unknown --write

Sticky headers for BCD table, on desktop
  client/src/document/ingredients/browser-compatibility-table/index-desktop-sticky.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): revert description attempt
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): style lint
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): use minus symbol instead of dash in grades and scoring modifiers
  client/src/observatory/benchmark.tsx
  client/src/observatory/results.tsx
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): add "aria-hidden" to pass/fail icons
  client/src/observatory/csp.tsx
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
