Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix(modal): make close button visible
  client/src/ui/atoms/modal/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(macros/MDNSidebar): add Feature status page (#10409)
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/PreviousMenuNext): add zh translation (#10603)
  kumascript/macros/PreviousMenuNext.ejs
Due: prettier --ignore-unknown --write

chore(content): reuse Translation from libs/types
  content/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): please typescript
  build/blog.ts
  build/curriculum.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(docs): reflect Glean-derived nature of popularities.json
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  docs/popularities.md
  tool/cli.ts
  tool/popularities.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: reflect Glean-derived nature of popularities.json (#10609)
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  docs/popularities.md
  tool/cli.ts
  tool/popularities.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(curriculum): fix feedback changes
  build/curriculum.ts
  client/src/curriculum/about.tsx
  client/src/curriculum/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add containment guides
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

fix(curriculum): fix feedback changes (#10610)
  build/curriculum.ts
  client/src/curriculum/about.tsx
  client/src/curriculum/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

reload quota on ai help error
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): remove decorative images from a11y tree (#10520)
  client/src/plus/ai-help/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

updates featured articles
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(featured-articles): update links for 2024 Q1 (#10613)
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(latest-news): stop fetching Hacks feed
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(latest-news): fetch metadata from Blog articles
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(latest-news): update Blog articles
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(featured-articles): add parent for Blog articles
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(featured-articles): top-align article titles
  client/src/homepage/featured-articles/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(latest-news): filter empty items
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(ai-help): disable top banner if quota banner is visible (#10532)
  client/src/plus/ai-help/banners.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(latest-news): keep Playground blog post
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): hide "Stop answering" before we respond (#10530)
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(build): inline single-use var
  build/check-images.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(build): update array type syntax
  build/matches.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build): add param types
  build/check-images.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(ai-help): improve stopped state (#10580)
  client/src/plus/ai-help/constants.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/ui/_vars.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): index short_title (#10579)
  scripts/ai-help-macros.ts
  scripts/ai-help.sql
Due: prettier --ignore-unknown --write, eslint --fix

remove space test
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

Update kumascript/macros/CSSRef.ejs
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

signature
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

feat(macros/APIRef): show badges on all links
  kumascript/macros/APIRef.ejs
Due: prettier --ignore-unknown --write

test(macros/APIRef): mock wiki.getPage()
  kumascript/tests/macros/apiref.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/APIRef): fall back to en-US to determine badges
  kumascript/macros/APIRef.ejs
Due: prettier --ignore-unknown --write

chore(macros/CSSRef): add Containment guides (#10611)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

enhance(build/spas): allow yarn dev without internet if DEV_MODE is enabled (#10533)
  build/spas.ts
  libs/env/index.d.ts
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): override content/sources only for off-topic messages
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): remove unnecessary filter
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix
