Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

chore(sidebar): remove "Related Topics" header
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar): remove margin-top from first "header"
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(macros): remove translations for retired locales
  docs/kumascript/README.md
  kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/PreviousNext.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/unimplementedGeneric.ejs
  kumascript/src/api/mdn.ts
  testing/content/files/jsondata/L10n-CSS.json
  testing/content/files/jsondata/L10n-Common.json
  testing/content/files/jsondata/L10n-JavaScript.json
Due: prettier --ignore-unknown --write, eslint --fix

fix(server): avoid type confusion (#8124)
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(search): remove unused class
  client/src/ui/atoms/search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(search): remove unnecessary capture
  client/src/ui/atoms/search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(search): show reset even if focused
  client/src/ui/atoms/search/index.scss
  client/src/ui/atoms/search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Update kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/PreviousMenuNext.ejs
Due: prettier --ignore-unknown --write

fixup! chore(macros): remove translations for retired locales
  kumascript/macros/unimplementedGeneric.ejs
Due: prettier --ignore-unknown --write

Update kumascript/src/api/mdn.ts
  kumascript/src/api/mdn.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(kumascript): remove BUILD_MACROS_USED_LOGFILE feature
  docs/envvars.md
  kumascript/src/templates.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): load only ENV_FILE or .env, remove dotenv-expand
  client/config/env.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(a11y): add aria-label to "Related topics" sidebar
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(client): resolve .env properly/only + move testing/.env to .env.testing + improve how ENV_FILE works (#8116)
  .env.testing
  .github/workflows/testing.yml
  client/config/env.js
  client/config/paths.js
  package.json
  scripts/testing.sh
  testing/README.md
  testing/scripts/functional-test.sh
  testing/tests/index.test.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fix(a11y): add aria-label to "Related topics" sidebar
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(kumascript): remove BUILD_MACROS_USED_LOGFILE feature (#8128)
  docs/envvars.md
  kumascript/src/templates.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar): remove "Related Topics" header (#8126)
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(macros): remove usage of the obsolete tag
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSS_Ref.ejs
  kumascript/macros/Deprecated_Inline.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/macros/spec2.ejs
  kumascript/src/lib/badges.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): revert obsolete removals
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): remove translations for retired locales (#8127)
  docs/kumascript/README.md
  kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/PreviousNext.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/unimplementedGeneric.ejs
  kumascript/src/api/mdn.ts
  testing/content/files/jsondata/L10n-CSS.json
  testing/content/files/jsondata/L10n-Common.json
  testing/content/files/jsondata/L10n-JavaScript.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(search): remove "undefined" class
  client/src/ui/atoms/search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(search): restore molecule style
  client/src/ui/molecules/search/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(search): adjust position for consistency
  client/src/ui/atoms/search/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(plus/search-filter): add clear button (#8120)
  client/src/plus/search-filter/index.tsx
  client/src/ui/atoms/search/index.scss
  client/src/ui/atoms/search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(scripts): remove "md" script
  package.json
Due: prettier --ignore-unknown --write

chore(scripts): remove "md" script (#7966)
  package.json
Due: prettier --ignore-unknown --write

fix(plus): clicking "learn more" links caused stale or broken pages
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/ui/molecules/menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix lint
  client/src/ui/molecules/menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(navigation): avoid Link in menu + offer-overview (#8131)
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/ui/molecules/menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Add ENV_FILE to npm-published-simulation
  .github/workflows/npm-published-simulation.yml
Due: prettier --ignore-unknown --write

Add CSS performance features
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

Update template code
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

fix(build): match bad_src flaws for markdown files
  build/check-images.ts
  build/flaws/broken-links.ts
  build/matches-in-text.ts
  testing/content/files/en-us/web/images/bad_src/index.md
Due: prettier --ignore-unknown --write, eslint --fix

strict the type checking
  build/matches-in-text.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/JSRef): rewrite and show correct subpages
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

fix: special case handling for Intl's methods
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

apply suggestions and remove `WebAssembly`
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

wrapper function to render output
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

clean up empty line
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

format arrow function
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write
