Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

chore(plus/updates): use singular for Browser filter
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {{gecko_minversion_*}} macros (#7858)
  kumascript/macros/gecko_minversion_header.ejs
  kumascript/macros/gecko_minversion_inline.ejs
  kumascript/src/info.ts
  kumascript/tests/index.test.ts
  testing/content/files/en-us/web/fixable_flaws/deprecated_macros/index.html
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write

chore(ui): remove unused var
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(paginator): reuse PARAM
  client/src/ui/molecules/paginator/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add click event on offer overview clicks
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(plus): add some comments
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(plus/updates): add click event on offer overview clicks (MP-220) (#7861)
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(plus/updates): use API + add filters/search/sort (#7843)
  client/src/plus/common/api.tsx
  client/src/plus/common/tabs.tsx
  client/src/plus/contexts/search-filters.tsx
  client/src/plus/notifications/index.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/plus/search-filter/index.scss
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.scss
  client/src/plus/updates/index.tsx
  client/src/plus/updates/login-banner.scss
  client/src/plus/updates/login-banner.tsx
  client/src/telemetry/constants.ts
  client/src/ui/_vars.scss
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/search/index.scss
  client/src/ui/atoms/search/index.tsx
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
  client/src/ui/molecules/paginator/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(plus/updates): check that user != null
  client/src/plus/updates/api.ts
Due: prettier --ignore-unknown --write

fix(plus/updates): check that user != null (#7862)
  client/src/plus/updates/api.ts
Due: prettier --ignore-unknown --write

refactor(plus/updates): combine {added,removed} events
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(plus/updates): sort events by path
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus/updates): sort update events by path (#7863)
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(plus-menu): replace isNew badge with dot
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(menu): add top-level dot if any item has dot
  client/src/ui/molecules/menu/index.scss
  client/src/ui/molecules/menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

feat(plus/updates): show dot until Updates were viewed
  client/src/constants.ts
  client/src/hooks.ts
  client/src/plus/updates/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(useViewedState): set Date.now() for future usage
  client/src/hooks.ts
Due: prettier --ignore-unknown --write

fix(useViewedState): use window.localStorage
  client/src/hooks.ts
Due: prettier --ignore-unknown --write

fix(useViewedState): wrap localStorage read/write in try-catch
  client/src/hooks.ts
Due: prettier --ignore-unknown --write

fix(useViewedState): return if isServer
  client/src/hooks.ts
Due: prettier --ignore-unknown --write

feat(plus/updates): use dots in plus-menu to highlight feature until viewed (#7864)
  client/src/constants.ts
  client/src/hooks.ts
  client/src/plus/updates/index.tsx
  client/src/ui/molecules/menu/index.scss
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(useViewedState): assume isViewed on SSR
  client/src/hooks.ts
Due: prettier --ignore-unknown --write

fix(useViewedState): assume isViewed on SSR (#7865)
  client/src/hooks.ts
Due: prettier --ignore-unknown --write

fix(quicksearch): split query before dot
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(on-github): copy changes
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "chore(on-github): copy changes"
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Ensure that file path is proper URL (for Windows compatibility)
  client/config/modules.js
  client/config/webpackDevServer.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(search): rephrase init/error message
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(search): show init/error message as result item
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(build): set `@mdn/bcd-utils-api` as build dependency
  package.json
Due: prettier --ignore-unknown --write

fixes review comments
  client/src/document/on-github.tsx
  client/src/document/organisms/metadata/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(tool): sync the case changes of slug for content sync
  content/redirect.ts
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write

fix eslint
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write

chore: update performance api featured article
  build/spas.ts
Due: prettier --ignore-unknown --write

chore: update performance api featured article (#7898)
  build/spas.ts
Due: prettier --ignore-unknown --write

remove(plus): remove collections in qs preview
  client/src/plus/collections-quicksearch.ts
  client/src/plus/common/api.tsx
  client/src/search.tsx
  client/src/settings/feature-preview.tsx
  client/src/settings/index.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Destructure pages[p] to get status in APIListAlpha
  kumascript/macros/APIListAlpha.ejs
Due: prettier --ignore-unknown --write

ListGroups: remove unnecessary check for tags/status
  kumascript/macros/ListGroups.ejs
Due: prettier --ignore-unknown --write

remove(plus): remove collections in qs preview (#7899)
  client/src/plus/collections-quicksearch.ts
  client/src/plus/common/api.tsx
  client/src/search.tsx
  client/src/settings/feature-preview.tsx
  client/src/settings/index.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
