Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix sw
  client/public/play-runner.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/AvailableInWorkers): add German translation
  kumascript/macros/AvailableInWorkers.ejs
Due: prettier --ignore-unknown --write

chore(macros/WebExt*): add German translations
  kumascript/macros/WebExtAllExamples.ejs
  kumascript/macros/WebExtExamples.ejs
Due: prettier --ignore-unknown --write

Update client/src/ui/organisms/article-actions/language-menu/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(de): rephrase copy to "Erprobungsphase"
  client/src/document/molecules/localized-content-note/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/organisms/article-actions/language-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(de): replace "Erprobungsphase" with "Experiment"
  client/src/document/molecules/localized-content-note/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/organisms/article-actions/language-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ssr): ensure locale is set
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ssr): always set html[lang] to en-US
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ssr): ensure locale is set (#12096)
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(article-footer): fix typo
  client/src/document/organisms/article-footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(article-footer): fix typo (#12098)
  client/src/document/organisms/article-footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): remove bfj (#12086)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

make "Ad" overlay the same on all placements, added to home page placements, use theme-aware colors
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

add de
  .github/workflows/test-build.yml
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

compress state
  client/public/play-runner.html
  client/public/play-runner.js
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

move live samples
  client/public/play-runner.html
  client/public/play-runner.js
  client/src/document/hooks.ts
  client/src/playground/index.tsx
  client/src/playground/utils.ts
  kumascript/macros/LiveSampleURL.ejs
Due: prettier --ignore-unknown --write, eslint --fix

update rari
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

feat(homepage): add survey
  client/src/document/on-github.tsx
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(about): add our partners tab
  client/src/about/custom-elements.ts
  client/src/about/index.scss
  client/src/about/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

lint
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

csp for testing
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

Update firefox.svg and simple-firefox.svg to use browser logo instead of brand
  client/src/assets/icons/firefox.svg
  client/src/assets/icons/simple-firefox.svg
Due: prettier --ignore-unknown --write

Fix sizing on new simple-firefox.svg
  client/src/assets/icons/simple-firefox.svg
Due: prettier --ignore-unknown --write

fix test csp
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix cloud function
  cloud-function/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(playground): render html in back-end
  client/src/document/hooks.ts
  client/src/playground/index.tsx
  client/src/playground/utils.ts
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/app.ts
  cloud-function/src/env.ts
  cloud-function/src/headers.ts
  cloud-function/src/middlewares/resolve-runner-html.ts
  cloud-function/tsconfig.json
  libs/constants/index.js
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): fix testing url
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

remove play-runner
  cloud-function/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

add runner handler
  cloud-function/src/handlers/handle-runner.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove old runners
  client/public/runner.html
  cloud-function/src/app.ts
  cloud-function/src/handlers/proxy-runner.ts
  cloud-function/src/middlewares/resolve-runner-html.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(telemetry): measure BCD table views, link clicks, cell expansions (#12030)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix bottom banner
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix test
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Due: prettier --ignore-unknown --write

improve contrast
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(about): various design fixes
  client/src/about/_mixins.scss
  client/src/about/index.scss
  client/src/assets/about/dot-dark.svg
  client/src/assets/about/dot.svg
  client/src/assets/about/global-impact-dark.svg
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(about): fix sass deprecation
  client/src/about/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix runner html
  cloud-function/src/handlers/handle-runner.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip
  cloud-function/package.json
  cloud-function/src/handlers/handle-runner.ts
Due: prettier --ignore-unknown --write, eslint --fix
