Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(observatory): extract --observatory-grade-{a,b,c,d,f}-{bg,border} vars
  client/src/observatory/index.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

remove footer area from grid and styling
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

move landing page content into main grid area and place ad properly
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

removed host name from scan summary h2
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test(observatory): add /grades test page
  client/src/observatory/index.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

properly uppercase header names in MDN links
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): distribute tabs evenly with minimum gap
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): underline "Scan another website" on hover
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): remove indent/lines from mobile "About"
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): make "Scan summary" responsive
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): update grade colors
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore: Narrow 'string' type assigned to the 'locale' variable to 'Locale' type
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): highlight current grade label in benchmark
  client/src/observatory/benchmark.tsx
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

links in scan summary, host displayed with redirect information
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
  client/src/observatory/types.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix: fix additional lint error
  build/blog.ts
  build/index.ts
  libs/types/curriculum.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: fix DEFAULT_LOCALE's type to Locale type
  libs/constants/index.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(observatory): distribute space between Scan summary columns
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix: fix additional lint error
  build/spas.ts
  content/document.ts
  content/redirect.ts
  libs/constants/index.d.ts
  libs/types/document.ts
  markdown/m2h/cli.ts
  markdown/m2h/handlers/index.ts
  markdown/m2h/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): scale landing illustration
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixup! fix(observatory): scale landing illustration
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

link tests from scan result, rescan wait progress experiment
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): limit landing illustration width
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): show ad on landing page
  client/src/placement-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

move h2 icons into css with ::before selectors
  client/public/assets/observatory/results-icon.svg
  client/public/assets/observatory/summary-icon.svg
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

put error message under input field
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(build): prevent adding `only-in-en-us` css class to external links
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

add a test case
  build/flaws/broken-links.ts
  testing/content/files/en-us/_redirects.txt
  testing/tests/index.test.ts
  testing/translated-content/files/zh-cn/web/externallinks/index.md
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): bump braces from 3.0.2 to 3.0.3 in /cloud-function (#11314)
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

dark mode fixes, rescan button polish
  client/public/assets/observatory/assessment.svg
  client/public/assets/observatory/lines.svg
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): move host behind "Scan summary" header
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): remove top-right space on landing page (<xl screens)
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

dark theme adjustments, remove table borders
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): scroll scan results tab list on overflow
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): placement overlaps scan results table
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

bar chart adjustments
  client/src/observatory/benchmark.tsx
Due: prettier --ignore-unknown --write, eslint --fix

score + pass/fail icon fixes for dark mode
  client/src/observatory/index.scss
  client/src/observatory/utils.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(observatory): rename {Plus => Observatory}DocsNav
  client/src/observatory/docs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(observatory): add breadcrumbs
  client/src/app.tsx
  client/src/observatory/docs/index.tsx
  client/src/observatory/landing.tsx
  client/src/observatory/layout.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

better empty error message
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(observatory): add breadcrumbs
  client/src/observatory/docs/index.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
