Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix gap
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

lint
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feedback
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(images): use dark text on white background (#9863)
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

updates link to nesting
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

updates to sentence casing
  client/src/homepage/featured-articles/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(featured-articles): font-palette -> nesting (#9892)
  build/spas.ts
  client/src/homepage/featured-articles/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(document-survey): hide for writers
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update libs/pong/pong.js
  libs/pong/pong.js
Due: prettier --ignore-unknown --write, eslint --fix

lint
  libs/pong/pong.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(pong): bottom banner (#9883)
  client/src/document/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
  libs/pong/pong.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

message styling
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(blog): type buildBlog() param type (#9830)
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(images): avoid blurry images (#9591)
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): migrate to openai v4
  client/src/plus/ai-help/use-ai.ts
  scripts/ai-help.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(m2h): only hyperlink first `<code>` child
  kumascript/src/api/util.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(theme): check theme-color meta tag and background color exist
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(docs): add anchor link on first child if it has no link
  kumascript/src/api/util.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(markdown): update test expectation
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): sort allBrowserCompat.txt values
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): sort metadata.json
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): load stripe.js for fraud prevention (#9318)
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/stripe.tsx
  libs/constants/index.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): remove TenthCampaignQuote macro
  kumascript/macros/TenthCampaignQuote.ejs
Due: prettier --ignore-unknown --write

feat(links): distinguish visited links
  client/src/app.scss
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixup! feat(links): distinguish visited links
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(client): rendering locale in column header on /translations/dashboard
  client/src/translations/dashboard/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(docs): link first child of every description term in post-processing (#9862)
  kumascript/src/api/util.ts
  markdown/m2h/handlers/dl.ts
  testing/content/files/en-us/markdown/tool/m2h/expected.html
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(translations/dashboard): fix Popularity rank column header (#9908)
  client/src/translations/dashboard/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/Non-standard_Header): remove "Firefox OS" (#9827)
  kumascript/macros/Non-standard_Header.ejs
Due: prettier --ignore-unknown --write

fix(client): sorting documents table only by allowed columns
  client/src/translations/dashboard/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(glean): send geo_iso with pings
  client/src/env.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/user-context.tsx
  docs/envvars.md
Due: prettier --ignore-unknown --write, eslint --fix

test(build): avoid race condition in destructive test (#9828)
  testing/tests/destructive.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(theme): sync body background-color with theme-color meta tag (#9325)
  client/src/ui-context.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): improve code readability
  client/src/translations/dashboard/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): fix table header sorting cursor, remove unused CSS class
  client/src/translations/differences/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(client): improve looking of sorted table column header
  client/src/translations/dashboard/index.tsx
  client/src/translations/differences/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Update db.ts
  client/pwa/src/db.ts
Due: prettier --ignore-unknown --write, eslint --fix

history as setting and fixes
  client/src/assets/icons/edit-query.svg
  client/src/assets/icons/new_topic.svg
  client/src/assets/icons/play.svg
  client/src/assets/icons/return.svg
  client/src/document/code/playground.ts
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/history.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
  client/src/plus/common/api.tsx
  client/src/settings/ai-help.tsx
  client/src/settings/experiments.tsx
  client/src/settings/index.tsx
  client/src/telemetry/constants.ts
  client/src/ui/atoms/icon/index.scss
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix: correct some typos (#9858)
  client/pwa/src/db.ts
  client/src/settings/db.ts
  client/src/ui/README.md
  copy/plus/features/collections.md
  deployer/src/deployer/search/models.py
  kumascript/macros/SVGElement.ejs
Due: prettier --ignore-unknown --write, eslint --fix

add TextColor and BackgroundColor
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix
