Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

Fix slug (got moved ages ago
  kumascript/tests/macros/EmbedLiveSample.test.js
Due: prettier --ignore-unknown --write, eslint --fix

Try using loose equality
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write

Fix url (got moved ages ago)
  kumascript/tests/macros/EmbedLiveSample.test.js
Due: prettier --ignore-unknown --write, eslint --fix

Remove tests with 4 parameters
  kumascript/tests/macros/EmbedLiveSample.test.js
Due: prettier --ignore-unknown --write, eslint --fix

Deprecate parameters and too
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/tests/macros/EmbedLiveSample.test.js
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  deployer/src/deployer/analyze_pr.py
Due: prettier --ignore-unknown --write

fix(pr-companion): shorten the preview links (#7069)
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Due: prettier --ignore-unknown --write

refactor(frequently-viewed): rename index to serial to avoid confusion
  client/src/document/hooks.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write

fix(frequently-viewed): avoid unique key warning by assigning serials (#6564)
  client/src/document/hooks.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write

feature(plus) add preview banner
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

use last modified
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

support last_updated for collection in qs
  client/src/search-utils.ts
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

remove plus support for offline
  client/pwa/src/db.ts
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/fetcher.ts
  client/pwa/src/service-worker.ts
  client/src/search-utils.ts
  client/src/search.tsx
  client/src/settings/db.ts
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

guard settings and remove filter
  client/pwa/src/fetch-interceptors.ts
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

cleanup
  client/src/plus/collections-quicksearch.ts
  client/src/search-utils.ts
  client/src/search.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(kumascript): add mdn.deprecated() parameter
  kumascript/src/api/mdn.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/EmbedLiveSamples): mark deprecated parameters in JSDoc
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write

chore(macros/EmbedLiveSample): deprecate parameters 4 to 6 (#6299)
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/src/api/mdn.js
  kumascript/tests/macros/EmbedLiveSample.test.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/LearnSidebar): add MathML tutorial (#6953)
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

lint
  client/src/plus/collections/v2/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

GLEAN_DISABLED to GLEAN_ENABLED
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/telemetry/glean-context.tsx
  docs/envvars.md
  testing/.env
Due: prettier --ignore-unknown --write, eslint --fix

feature(plus) add preview banner (#7071)
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/plus/collections/v2/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

test(macros/jsxref): replace removed pages in examples
  kumascript/macros/jsxref.ejs
Due: prettier --ignore-unknown --write

fix(macros/jsxref): link to en-US, if page doesn't exist in locale (#6672)
  kumascript/macros/jsxref.ejs
  kumascript/src/api/wiki.js
  kumascript/tests/macros/jsxref.test.js
Due: prettier --ignore-unknown --write, eslint --fix

refactor: extract simulate-padding-border() mixin
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

refactor: reuse --elem-radius, rename mixin
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix: add margin all around
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

revert: inline mixin and restore previous state
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(live-samples): restore padding, use content-box sizing
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

chore(macros/SectionOnPage): add Chinese translation (#7051)
  kumascript/macros/SectionOnPage.ejs
Due: prettier --ignore-unknown --write

chore(syntax-highlight): add hyphen to nolint aliases
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write

chore(syntax-highlight): add nolint aliases for html/js (#7017)
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write

fix(macros/ListSubpagesForSidebar): list parent + subpages, if requested
  kumascript/macros/ListSubpagesForSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/ListSubpagesForSidebar): label parent page as "Overview"
  kumascript/macros/ListSubpagesForSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/JsSidebar): add "Overview" items
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

feat(macros): localize ExperimentalBadge
  kumascript/macros/ExperimentalBadge.ejs
Due: prettier --ignore-unknown --write

Add Trailing commas page to JS sidebar
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/ExperimentalBadge): add other locales
  kumascript/macros/ExperimentalBadge.ejs
Due: prettier --ignore-unknown --write

chore(macros/JsSidebar): use translated titles where available
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/JsSidebar): add "Trailing commas" page (#7082)
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write
