Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

some csp analysis styling, added dummy pages for faq, tests, fixed a missin react key warning
  build/spas.ts
  client/src/observatory/benchmark.tsx
  client/src/observatory/csp.tsx
  client/src/observatory/docs/index.tsx
  copy/observatory/faq.md
  copy/observatory/scoring.md
  copy/observatory/tests.md
Due: prettier --ignore-unknown --write, eslint --fix

csp analysis, handle pass null values
  client/src/observatory/csp.tsx
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
  client/src/observatory/types.ts
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

empty case for CSP
  client/src/observatory/csp.tsx
Due: prettier --ignore-unknown --write, eslint --fix

name it HTTP Observatory
  client/src/observatory/docs/index.tsx
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

observatory update
  client/src/assets/icons/observatory-landing-illustration.svg
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

intermediate commit
  client/src/observatory/benchmark.tsx
  client/src/observatory/csp.tsx
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
  client/src/observatory/types.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix build script error path
  client/scripts/build.js
Due: prettier --ignore-unknown --write, eslint --fix

fix swr/immutable import
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

proper header links
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

make url anchor links and history work
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/AddonSidebar*): update zh-CN translation (#11231)
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
Due: prettier --ignore-unknown --write

chore(seo): remove contributors.txt from robots.txt
  tool/build-robots-txt.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(seo): remove contributors.txt from robots.txt (#11311)
  tool/build-robots-txt.ts
Due: prettier --ignore-unknown --write, eslint --fix

restyle chart
  client/src/observatory/benchmark.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(footer): add locale to www.mozilla.org links
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(curriculum): use bg color from label bg
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps): bump braces from 3.0.2 to 3.0.3 in /cloud-function
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

chore(deps): bump @google-cloud/functions-framework from 3.1.3 to 3.4.0 in /cloud-function
  cloud-function/package-lock.json
  cloud-function/package.json
Due: prettier --ignore-unknown --write

top section styled, rescan button logic + countdown
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

some landing page
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

landing page
  client/public/assets/observatory/assessment.svg
  client/public/assets/observatory/landing-illustration.svg
  client/public/assets/observatory/lines.svg
  client/public/assets/observatory/mdn.svg
  client/public/assets/observatory/scanning.svg
  client/public/assets/observatory/security.svg
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

tooltip for grade
  client/public/assets/observatory/stars.svg
  client/public/assets/observatory/tooltip-arrow.svg
  client/src/observatory/index.scss
  client/src/observatory/recommendations.tsx
  client/src/observatory/results.tsx
  client/src/observatory/tooltip/index.scss
  client/src/observatory/tooltip/index.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

filecheck: ban parantheses
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  filecheck/checker.ts
  testing/tests/filecheck.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

handle all file types. not just images
  filecheck/checker.ts
  testing/tests/filecheck.test.ts
  testing/tests/filechecker/samplefiles-paren(theses)/index.md
  testing/tests/filechecker/samplefiles-upperCase/index.md
Due: prettier --ignore-unknown --write, eslint --fix

Apply remaining suggestions
  filecheck/checker.ts
  testing/tests/filecheck.test.ts
  testing/tests/filechecker/files/en-us/_Group Data.json
  testing/tests/filechecker/files/en-us/animation.flv
  testing/tests/filechecker/files/en-us/samplefiles-html/index.html
  testing/tests/filechecker/files/en-us/samplefiles-html/onhandler.svg
  testing/tests/filechecker/files/en-us/samplefiles-html/orphan.png
  testing/tests/filechecker/files/en-us/samplefiles-html/png.jpeg
  testing/tests/filechecker/files/en-us/samplefiles-html/script.svg
  testing/tests/filechecker/files/en-us/samplefiles-html/zero.gif
  testing/tests/filechecker/files/en-us/samplefiles-md/circle.svg
  testing/tests/filechecker/files/en-us/samplefiles-md/index.md
  testing/tests/filechecker/files/en-us/samplefiles-md/orphan.png
  testing/tests/filechecker/files/en-us/samplefiles-paren(theses)/index.md
  testing/tests/filechecker/files/en-us/samplefiles-upperCase/index.md
Due: prettier --ignore-unknown --write, eslint --fix

update check
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

reasons -> errors
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

rebase
  testing/tests/filecheck.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix filesize check issue
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove mp3
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

Ignore desktop metadata files
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

apply review comments
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

rename isBinearyFIle function to needsChecking
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

update unit tests
  filecheck/checker.ts
  testing/tests/filecheck.test.ts
  testing/tests/filechecker/files/en-us/:animation.flv
  testing/tests/filechecker/files/en-us/Änimation.flv
Due: prettier --ignore-unknown --write, eslint --fix

fix(curriculum): revert --curiculum-bg-color in light theme
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore: update default observatory api url
  client/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

removed unused component
  client/src/observatory/recommendations.tsx
Due: prettier --ignore-unknown --write, eslint --fix

key the score table
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix
