Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! feat(sidebar): style filter, add icons + clear button
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(sidebar): add thumbs to rate feature
  client/src/document/organisms/sidebar/filter.tsx
  client/src/telemetry/constants.ts
  client/src/ui/atoms/thumbs/index.scss
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): make filter sticky
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(sidebar): style filter, add icons + clear button
  client/src/assets/icons/filter.svg
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
  client/src/ui/atoms/icon/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(sidebar): implement SidebarFilterer with highlighting
  client/src/document/organisms/sidebar/SidebarFilterer.ts
  client/src/document/organisms/sidebar/filter.tsx
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): stop fading out top area
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar): refine layout + thumbs
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
  client/src/ui/atoms/thumbs/index.scss
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): highlight matches in recursive text nodes
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar): avoid whitespace: pre by wrapping highlighted text
  client/src/document/organisms/sidebar/SidebarFilterer.ts
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): fix button/icon placement
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixup! fix(sidebar): highlight matches in recursive text nodes
  client/src/ui/atoms/thumbs/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixup! chore(sidebar): refine layout + thumbs
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): remove filter background
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): avoid filter clear button moving
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixup! feat(sidebar): restore scroll position after filtering
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar): restore scroll position after filtering
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar): move thumbs below filter + add text
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
  client/src/ui/atoms/thumbs/index.scss
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): add backdrop to filter
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar): fade thumbs unless hover/focus-within
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): fix glean-thumbs height
  client/src/ui/atoms/thumbs/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(thumbs): use 0/1 for rating value
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar): avoid icons showing on top of the filter
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): make toc non-relative
  client/src/document/organisms/toc/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar): hide filter on mobile
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(thumbs): change how thumbs up/down behave on hover/active
  client/src/ui/atoms/thumbs/index.scss
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(sidebar): record sidebar_click_with_filter event
  client/src/document/organisms/sidebar/filter.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/sidebar-click.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar): reduce filter font-size
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "chore(sidebar): fade thumbs unless hover/focus-within"
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar): align thumbs right
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixup! fix(sidebar): avoid icons showing on top of the filter
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar): make filter field span full width
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): hide filter on medium screen as well
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(thumbs): rephrase default question
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar-filter): show/hide section headings dynamically
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar): show the filter clear only if there is a value
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar-filter): show match count below thumbs
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! feat(sidebar): record sidebar_click_with_filter event
  client/src/document/organisms/sidebar/filter.tsx
  client/src/telemetry/sidebar-click.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar-filter): show number of matches in footer
  client/src/document/organisms/sidebar/SidebarFilterer.ts
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
  client/src/ui/atoms/thumbs/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar): center thumbs
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(thumbs): refine wording
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
