Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

chore(deps): bump dotenv from 16.4.7 to 16.5.0
  cloud-function/package-lock.json
  cloud-function/package.json
Due: prettier --ignore-unknown --write

chore(deps-dev): bump nodemon from 3.1.9 to 3.1.10
  cloud-function/package-lock.json
  cloud-function/package.json
Due: prettier --ignore-unknown --write

chore(deps-dev): bump typescript from 5.7.3 to 5.8.3
  cloud-function/package-lock.json
  cloud-function/package.json
Due: prettier --ignore-unknown --write

chore(deps): bump @sentry/google-cloud-serverless from 8.54.0 to 8.55.0
  cloud-function/package-lock.json
  cloud-function/package.json
Due: prettier --ignore-unknown --write

chore(deps): bump dependencies in /cloud-function (#12953)
  cloud-function/package-lock.json
  cloud-function/package.json
Due: prettier --ignore-unknown --write

fix(ci): run npm ci early
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(play/console): prevent spaces from being collapsed (#12927)
  client/src/lit/play/console.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

gh token
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix cp
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

chore(cloud-function): reuse NO_CACHE_VALUE for wildcard
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(cloud-function): reduce NO_CACHE_VALUE to `no-store`
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(cloud-function): cache hashed urls despite wildcard
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(cloud-function): refine `cache-control` header (#12987)
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(blog): assets aren't being proxied for live samples
  cloud-function/src/app.ts
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): proxy blog assets for live samples incl. avif (#12994)
  cloud-function/src/app.ts
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(server): wrap rariBin in quotes
  bins/server.mjs
  server/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(surveys): add Italian locale survey
  client/src/ui/molecules/document-survey/surveys.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(locale): add Italian locale
  client/src/document/index.scss
  client/src/document/molecules/localized-content-note/index.tsx
  client/src/document/on-github.tsx
  client/src/document/organisms/article-footer/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  libs/constants/index.js
  libs/l10n/l10n.ts
  libs/types/core.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(surveys): add Italian locale survey (#13031)
  client/src/ui/molecules/document-survey/surveys.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(favicon): add SVG + legacy icons
  client/public/favicon.ico
  client/public/favicon.svg
  client/public/index.html
Due: prettier --ignore-unknown --write

fixup! enhance(favicon): add SVG + legacy icons
  client/public/index.html
Due: prettier --ignore-unknown --write

feat(stage-build): build with Italian
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(ssr): update favicons
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(stage-build): build with Italian
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(stage-build): name checkout steps
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(sidebar): improve summary link style
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ssr): avoid hashes in favicon
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(ssr): add favicon.ico as "shortcut icon"
  client/public/index.html
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(seo): improve favicon
  client/public/favicon.ico
  client/public/favicon.svg
  client/public/index.html
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test(favicon): update expectations
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(workflows): disable cache in privileged workflows
  .github/workflows/dev-build.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prod-build.yml
  .github/workflows/review-deploy.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(workflows): disable cache in privileged workflows (#13037)
  .github/workflows/dev-build.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prod-build.yml
  .github/workflows/review-deploy.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

enhance(seo): improve favicon (#13036)
  client/public/favicon.ico
  client/public/favicon.svg
  client/public/index.html
  ssr/render.tsx
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove hreflang attr for Blog RSS feed
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove hreflang attr for Blog RSS feed, tests
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(meta): remove hreflang attr from Blog RSS feed (#13049)
  ssr/render.tsx
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(surveys): remove Italian locale survey
  client/src/ui/molecules/document-survey/surveys.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(surveys): remove Italian locale survey (#13053)
  client/src/ui/molecules/document-survey/surveys.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(server): wrap rariBin in quotes (#13012)
  bins/server.mjs
  server/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(csp): allow incoming.telemetry.m.o
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix
