Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

play icon
  client/src/document/code/playground.ts
  client/src/document/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(links): distinguish visited links (#9907)
  client/src/app.scss
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

alt field
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/MathMLRef): update zh-CN translation
  kumascript/macros/MathMLRef.ejs
Due: prettier --ignore-unknown --write

chore(macros/MathMLRef): update zh-CN translation (#9915)
  kumascript/macros/MathMLRef.ejs
Due: prettier --ignore-unknown --write

fix(mandala): remove rotation
  client/src/homepage/homepage-hero/index.tsx
  client/src/plus/ai-help/index.tsx
  client/src/plus/collections/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/plus/updates/index.tsx
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(mandala): remove color animation
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(footer): move "mastodon" order and apply prettier
  client/src/ui/atoms/icon/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(mandala): remove rotation and color animation (#9916)
  client/src/homepage/homepage-hero/index.tsx
  client/src/plus/ai-help/index.tsx
  client/src/plus/collections/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/plus/updates/index.tsx
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(telemetry): measure Menu/Submenu clicks
  client/src/telemetry/constants.ts
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): measure TOC clicks
  client/src/document/organisms/toc/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(glean): send geo_iso with pings
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(glean): send geo_iso with pings
  client/src/telemetry/glean-context.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): measure TOC clicks (#9919)
  client/src/document/organisms/toc/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(glean): record menu/submenu id
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(user-menu): change ID to "user-menu"
  client/src/ui/molecules/user-menu/index.tsx
  testing/tests/headless.auth.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(glean): record menu/submenu id
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "refactor(user-menu): change ID to "user-menu""
  client/src/ui/molecules/user-menu/index.tsx
  testing/tests/headless.auth.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/JsSidebar): update zh-CN translation (#9849)
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

chore(telemetry): measure menu clicks (#9918)
  client/src/telemetry/constants.ts
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "feat(links): distinguish visited links (#9907)"
  client/src/app.scss
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "feat(links): distinguish visited links" (#9922)
  client/src/app.scss
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixes
  client/src/assets/icons/new_topic.svg
  client/src/assets/icons/queue.svg
  client/src/assets/icons/sidebar-filled.svg
  client/src/document/code/playground.ts
  client/src/document/index.scss
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/history.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
  client/src/ui/atoms/icon/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

missing icon
  client/src/assets/icons/new-topic.svg
Due: prettier --ignore-unknown --write

fix
  client/src/playground/queue/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros): add "no-link" class to text section titles
  kumascript/macros/CSSRef.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/SVGRef.ejs
Due: prettier --ignore-unknown --write

refactor(sidebar): replace `<strong>` with .section class
  client/src/document/organisms/sidebar/index.scss
  kumascript/macros/APIRef.ejs
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/GlossarySidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/PWASidebar.ejs
  kumascript/macros/SVGRef.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/macros/XsltSidebar.ejs
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar): reduce section margin-top to 1.5rem
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar): remove unused data-default-state attrs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(sidebar): update expectation
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! test(sidebar): update expectation
  kumascript/tests/macros/DefaultAPISidebar.test.ts
  kumascript/tests/macros/apiref.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(links): avoid colored anchor links
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(links): use minimal revert approach
  client/src/app.scss
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(macros/WebAssemblySidebar): add zh-CN translation
  kumascript/macros/WebAssemblySidebar.ejs
Due: prettier --ignore-unknown --write

feat(sidebar): Add 'Colors' category to Guides
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

chore(macros/LearnSidebar): add some pages under MathML
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/LearnSidebar): add some pages under MathML (#9937)
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/WebAssemblySidebar): add zh-CN translation (#9932)
  kumascript/macros/WebAssemblySidebar.ejs
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
