Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Order lists of items to match their order in the page
  kumascript/macros/APIRef.ejs
  kumascript/tests/macros/apiref.test.ts
Due: prettier --ignore-unknown --write

fix(htmlattrxref macro): fix uri fragment for global attributes
  kumascript/macros/htmlattrxref.ejs
Due: prettier --ignore-unknown --write

chore(sidebar): add common questions overview menu
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

fix(survey): www.surveygizmo -> survey.alchemer
  client/src/plus/collections/index.tsx
  client/src/settings/feature-preview.tsx
  client/src/ui/molecules/document-survey/index.tsx
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

extend end date
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(survey): www.surveygizmo -> survey.alchemer (#7360)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/plus/collections/index.tsx
  client/src/settings/feature-preview.tsx
  client/src/ui/molecules/document-survey/index.tsx
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

refactor(client): use ArticleActionsContainer in non-Doc context
  client/src/homepage/static-page/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add ability to only output deprecated macros
  scripts/macro-usage-report.ts
Due: prettier --ignore-unknown --write

fix(plus): add breadcrumbs to Collections/Notifications/Settings
  client/src/plus/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(plus): extract LayoutProps
  client/src/plus/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/FirefoxSidebar): add Japanese translation (#7213)
  kumascript/macros/FirefoxSidebar.ejs
Due: prettier --ignore-unknown --write

Use page types, not tags, for CSS sidebar (#7337)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

ci(deps): pin snok/install-poetry and setup-python to major version (#7330)
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(content/document): pass `roots` to read() as rest parameter (#7197)
  content/document.ts
  kumascript/index.ts
Due: prettier --ignore-unknown --write

fix(macros/htmlattrxref): remove `attr-` from global attribute links (#7350)
  kumascript/macros/htmlattrxref.ejs
Due: prettier --ignore-unknown --write

fix(server/translations): convert path segment separators on Windows (#7304)
  server/translations.ts
Due: prettier --ignore-unknown --write

chore(on-github): use localized issue templates for translated-content (#7277)
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/HTMLRefTable): fix typos (#7268)
  kumascript/macros/HTMLRefTable.ejs
Due: prettier --ignore-unknown --write

fix: preserve metadata spacing on write
  content/document.ts
Due: prettier --ignore-unknown --write

chore(macros): remove unused Link macro (#7237)
  kumascript/macros/Link.ejs
Due: prettier --ignore-unknown --write

build: add Dependabot for remaining yarn.lock (#7235)
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

fix(stylelint): color-named (#7231)
  .stylelintrc.json
  client/src/banners/banner.scss
  client/src/document/index.scss
  client/src/document/toolbar/flaws.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/translations/differences/index.scss
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/notification/index.scss
  client/src/ui/molecules/card/index.scss
  client/src/writers-homepage/viewed-documents.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(stylelint): block-no-empty (#7229)
  .stylelintrc.json
  client/src/homepage/homepage-hero/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

build: run yarn upgrade again
  yarn.lock
Due: prettier --ignore-unknown --write

build: run yarn upgrade (#7228)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(stylelint): function-url-quotes (#7230)
  .stylelintrc.json
  client/src/ui/molecules/document-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(stylelint): custom-property-no-missing-var-function (#7232)
  .stylelintrc.json
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

refactor(client/utils): make docCategory more generic
  client/src/app.tsx
  client/src/plus/common/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(client/utils): unwrap docCategory parameter
  client/src/app.tsx
  client/src/plus/common/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(client/utils): rename docCategory => getCategoryByPathname()
  client/src/app.tsx
  client/src/plus/common/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refacto(client/utils): avoid multiple toLowerCase()
  client/src/utils.ts
Due: prettier --ignore-unknown --write

chore(macros/APIRef): separate static and instance members (#7335)
  kumascript/macros/APIRef.ejs
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
  kumascript/tests/macros/fixtures/apiref/subpages.json
Due: prettier --ignore-unknown --write

fix: stylelint length-zero-no-unit
  .stylelintrc.json
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/homepage/contributor-spotlight/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/ui/_vars.scss
  client/src/ui/atoms/modal/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/top-navigation/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

chore: remove old Stylelint ignore
  .stylelintignore
Due: prettier --ignore-unknown --write

fix: stylelint rule-empty-line-before
  .stylelintrc.json
  client/src/app.scss
  client/src/community/index.scss
  client/src/contributor-spotlight/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/interactive-examples.scss
  client/src/document/toolbar/flaws.scss
  client/src/flaws/index.scss
  client/src/homepage/homepage-hero/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/settings/index.scss
  client/src/sitemap/index.scss
  client/src/translations/differences/index.scss
  client/src/translations/index.scss
  client/src/ui/atoms/signout/index.scss
  client/src/ui/atoms/spinner/index.scss
  client/src/ui/atoms/switch/index.scss
  client/src/ui/base/_mdn.scss
  client/src/ui/molecules/get_involved/index.scss
  client/src/ui/molecules/maintenance/index.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/offline-status-bar/index.scss
  client/src/ui/molecules/plus-menu/index.scss
  client/src/ui/molecules/reference-menu/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/molecules/theme-switcher/index.scss
  client/src/ui/molecules/user-menu/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
  client/src/writers-homepage/viewed-documents.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix: stylelint declaration-block-no-duplicate-properties
  .stylelintrc.json
  client/src/homepage/homepage-hero/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix: stylelint function-no-unknown
  .stylelintrc.json
  client/src/minimal-prism.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix: ESLint enable reportUnusedDisableDirectives
  .eslintrc.js
  deployer/aws-lambda/tests/server.test.js
Due: prettier --ignore-unknown --write, eslint --fix

fix: replace eslint-plugin-node with n
  .eslintrc.js
  build/cli.ts
  build/spas.ts
  content/utils.ts
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  package.json
  sd-config.js
  server/dev.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
