Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

style(stylelint): fix scss/at-extend-no-missing-placeholder (#7433)
  .stylelintrc.json
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

style(stylelint): fix no-duplicate-selectors (#7432)
  .stylelintrc.json
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/flaws/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/ui/atoms/icon/index.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Add combinators to CSS sidebar
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

feat(surveys): add Interop 2023 survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write

chore(macros/CSSRef): add Combinator pages (#7439)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

Group CSS properties in the sidebar
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

Remove code formatting; let->const
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

Remvoe 'HTML atrribute' prefix from the links
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

Refactor
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

Open all details elements, not just the closest
  build/document-extractor.ts
Due: prettier --ignore-unknown --write

Update kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

Add description to the smartLink function
  kumascript/src/api/web.ts
Due: prettier --ignore-unknown --write

Make the sidebar scroll to the current page
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(macros/HTMLSidebar): replace Documentation section by Guides section (#7402)
  kumascript/macros/HTMLSidebar.ejs
  kumascript/src/api/web.ts
Due: prettier --ignore-unknown --write

chore(client/fallback-link): remove empty block
  client/src/page-not-found/fallback-link.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(page-not-found): suggest search terms (#7070)
  client/src/document/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/ui/molecules/notecards/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

refactor(sync-translated-content): move from /build to /tool (#7151)
  build/spas.ts
  content/document.ts
  libs/types/document.ts
  tool/cli.ts
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write

MP-128: validate collections forms when submitting with return key
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Expand all collapsible sidebar sectiona, not just the closest
  build/document-extractor.ts
Due: prettier --ignore-unknown --write

Add isSidebarOpen dependency
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: use lowercase to match slug and minor fixes
  kumascript/macros/HTMLRef.ejs
Due: prettier --ignore-unknown --write

chore: remove duplicate words
  build/bcd-urls.ts
  build/document-extractor.ts
  client/src/banners/README.md
  client/src/utils.ts
  deployer/aws-lambda/content-origin-response/index.js
  docs/envvars.md
  docs/npm-packaging.md
  kumascript/src/templates.ts
  testing/translated-content/files/fr/web/embeddable/index.html
Due: prettier --ignore-unknown --write, eslint --fix

Use scrollTo
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Remove scroll margin for sidebar element
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Remove sidebar-content class and styling
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

chore: enable ESLinting on Typescript
  .eslintrc.js
  build/check-images.ts
  build/cli.ts
  build/document-extractor.ts
  build/flaws/broken-links.ts
  build/spas.ts
  content/document.ts
  content/redirect.ts
  filecheck/cli.ts
  markdown/m2h/cli.ts
  markdown/m2h/handlers/index.ts
  server/react-app.d.ts
  server/static.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove duplicate words (#7453)
  build/bcd-urls.ts
  build/document-extractor.ts
  client/src/banners/README.md
  client/src/utils.ts
  deployer/aws-lambda/content-origin-response/index.js
  docs/envvars.md
  docs/npm-packaging.md
  kumascript/src/templates.ts
  testing/translated-content/files/fr/web/embeddable/index.html
Due: prettier --ignore-unknown --write, eslint --fix

chore: match ESLint ES version tsconfig.json
  .eslintrc.js
Due: prettier --ignore-unknown --write, eslint --fix

update survery range date
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

feat(surveys): add Interop 2023 survey (#7440)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write

Add Japanese translation to HTMLSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

fix(bcd): Allow check for __compat on null
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write

enchance(build): write metadata.json with hashes
  build/cli.ts
Due: prettier --ignore-unknown --write

Add Japanese translation to HTMLSidebar.ejs (#7468)
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

fix(plus): remove always-displayed scrollbars on article action dropdowns
  client/src/ui/organisms/article-actions/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

chore(macros): delete {{warning}} macro
  kumascript/macros/warning.ejs
Due: prettier --ignore-unknown --write

fix(check_redirects): make the checks fail fast
  tool/cli.ts
Due: prettier --ignore-unknown --write

Directly throw with the message without logging
  tool/cli.ts
Due: prettier --ignore-unknown --write

Fix BCD rendering when added is "true" and removed is truthy
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): remove always-displayed scrollbars on article action dropdowns (#7481)
  client/src/ui/organisms/article-actions/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix
