Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

MP-223 Add filtering on collections. (#7931)
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): change newsletter copy and unbreak it
  client/src/settings/newsletter.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

more copy changes
  client/src/banners/active-banner.tsx
  client/src/settings/newsletter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): change newsletter copy and unbreak it (#7958)
  client/src/banners/active-banner.tsx
  client/src/settings/newsletter.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixes review comments
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): turn on typescript strict null checking
  client/src/hooks.ts
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/settings/newsletter.tsx
  client/src/ui/molecules/paginator/index.tsx
  client/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): update newsletter copy
  client/src/settings/newsletter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/settings/newsletter.tsx
  client/src/settings/newsletter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

improve
  client/src/settings/newsletter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

again
  client/src/settings/newsletter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): turn on typescript strict null checking (#7961)
  client/src/hooks.ts
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/settings/newsletter.tsx
  client/src/ui/molecules/paginator/index.tsx
  client/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): update newsletter copy (#7962)
  client/src/settings/newsletter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Fix: add space between url and text "!"
  package.json
Due: prettier --ignore-unknown --write

fix(mathml): add missing comma in the @font-face declaration of the STIXTwoMath-Regular font.
  client/src/document/mathml-polyfill/mathml-font.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(mathml): add missing comma in the @font-face declaration of the S… (#7968)
  client/src/document/mathml-polyfill/mathml-font.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(ssr): use language tags instead of locale
  ssr/render.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write

Add ko translation to macro
  kumascript/macros/AvailableInWorkers.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/CanvasSidebar.ejs
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ObsoleteGeneric.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/ServiceWorkerSidebar.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebGLSidebar.ejs
  kumascript/macros/WebRTCSidebar.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/js_property_attributes.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/spec2.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssvisual.ejs
Due: prettier --ignore-unknown --write

Add Ko translation for macro/kumascript
  kumascript/macros/AvailableInWorkers.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/CanvasSidebar.ejs
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ObsoleteGeneric.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/ServiceWorkerSidebar.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebGLSidebar.ejs
  kumascript/macros/WebRTCSidebar.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/js_property_attributes.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/spec2.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssvisual.ejs
Due: prettier --ignore-unknown --write

fix lint
  client/src/document/lazy-bcd-table.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(build): migrate from bcd.json to bcd-utils-api
  build/bcd-urls.ts
  build/cli.ts
  build/extract-bcd.ts
  build/extract-sections.ts
  build/index.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/document/lazy-bcd-table.tsx
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove bcd.json from dev server
  server/index.ts
Due: prettier --ignore-unknown --write

remove bad_bcd_links flaw checking
  client/src/document/toolbar/flaws.tsx
  client/src/flaw-utils.js
  libs/constants/index.js
  libs/types/document.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

add offline support
  build/cli.ts
  client/pwa/src/fetcher.ts
Due: prettier --ignore-unknown --write

fix tsc errors
  client/src/document/lazy-bcd-table.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixes review comment
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Deprecate SectionOnPage
  kumascript/macros/SectionOnPage.ejs
Due: prettier --ignore-unknown --write

fix: allow whitespace above content folder
  content/document.ts
Due: prettier --ignore-unknown --write

enhance(plus): enable newsletter on prod
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

fix(on-github): improve copy language (#7809)
  client/src/document/on-github.tsx
  client/src/document/organisms/metadata/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): render collection filter correct
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(plus): enable newsletter on prod (#7988)
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

lint
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: old asset-manifest is returned from disk cache
  client/pwa/src/service-worker.ts
Due: prettier --ignore-unknown --write

fix(offline): when actually offline article pages error out
  client/pwa/src/fetch-interceptors.ts
Due: prettier --ignore-unknown --write

fix(offline): when actually offline article pages error out (#7997)
  client/pwa/src/fetch-interceptors.ts
Due: prettier --ignore-unknown --write

Remove inconsistant colons in HTMLSidebar
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

Remove inconsistent colons in JSSidebar
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

Add Web Performance to sidebar
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

Remove inconsistent colons in HTTPSidebar
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

Add few types
  build/check-images.ts
  build/cli.ts
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/format-notecards.ts
  build/index.ts
  build/page-title.ts
  build/spas.ts
  build/syntax-highlight.ts
  build/utils.ts
  build/wrap-tables.ts
  content/image.ts
  content/redirect.ts
  content/translation.ts
  content/utils.ts
  server/index.ts
Due: prettier --ignore-unknown --write
