Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix(language-menu): correct spacing
  client/src/ui/organisms/article-actions/language-menu/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

rari env vars
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

chore(language-menu): make thumbs text italic
  client/src/ui/organisms/article-actions/language-menu/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

rari pre-11
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

no prep
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(build): use pipefail to fail function deployments
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix testing
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(build): use pipefail to fail function deployments (#11806)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

wip(syntax-highlighting): catch recursive errors and prism errors
  client/src/document/code/syntax-highlight.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test(macros/CSSSyntax): update snapshot
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Due: prettier --ignore-unknown --write

feat(language-menu): reuse preferredlocale, make opt-in
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  cloud-function/src/middlewares/redirect-preferred-locale.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(ssr): render JSX instead of index.html (#11672)
  .gitignore
  client/config/webpack.config.js
  client/public/index.html
  client/scripts/build.js
  client/scripts/postprocess-client-build.js
  libs/constants/index.js
  package.json
  ssr/include.d.ts
  ssr/prepare.ts
  ssr/print.css
  ssr/react-app.d.ts
  ssr/render.ts
  ssr/render.tsx
  ssr/theme.js
  ssr/webpack.config.js
  testing/tests/csp.test.ts
  testing/tests/index.test.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(syntax-highlight): do client side, support more languages (#11654)
  build/blog.ts
  build/code-headers.ts
  build/curriculum.ts
  build/index.ts
  build/syntax-highlight.ts
  client/src/blog/post.tsx
  client/src/document/code/syntax-highlight.tsx
  client/src/document/hooks.ts
  client/src/document/index.tsx
  client/src/plus/ai-help/index.tsx
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(test-build): enable BSA
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

feat(curriculum): add scrim-inline custom element
  client/config/webpack.config.js
  client/public/assets/curriculum/scrim.png
  client/src/assets/curriculum/scrim-bg.png
  client/src/assets/curriculum/scrim-play.svg
  client/src/curriculum/index.scss
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/module.tsx
  client/src/curriculum/scrim-inline.ts
  client/src/curriculum/scrim.scss
  client/src/curriculum/scrim.tsx
  client/src/react-app.d.ts
  client/src/telemetry/glean-context.tsx
  package.json
  ssr/webpack.config.js
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(test-build): enable BSA (#11815)
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

refactor(main-menu): move {Reference,Guides,Plus,Tools}Menu
  client/src/ui/molecules/guides-menu/index.tsx
  client/src/ui/molecules/main-menu/guides.scss
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/main-menu/plus.scss
  client/src/ui/molecules/main-menu/references.scss
  client/src/ui/molecules/main-menu/tools.scss
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/reference-menu/index.tsx
  client/src/ui/molecules/tools-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(main-menu): inline {Reference,Guides,Plus,Tools}Menu
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(main-menu): remove Updates dot
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(main-menu): define menu in single array
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(main-menu): merge Plus into Tools menu
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(signup-link): change "Sign up for free" to "Sign up"
  client/src/ui/atoms/signup-link/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(theme-switcher): hide "Theme" visually
  client/src/ui/molecules/theme-switcher/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(main-menu): remove Plus {Docs,FAQ}
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(main-menu): migrate to topical structure
  client/src/ui/molecules/main-menu/guides.scss
  client/src/ui/molecules/main-menu/index.scss
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/main-menu/plus.scss
  client/src/ui/molecules/main-menu/references.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(main-menu): use Observatory accent color
  client/src/ui/molecules/main-menu/index.scss
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(main-menu): remove unused component
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(test-de): build translated-content with de
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

chore(main-menu): derive isActive from item urls
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip(scrim-inline): add id to glean ping
  client/src/curriculum/landing.scss
  client/src/curriculum/scrim-inline.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(scrim-inline): remove console.log
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip(scrim-inline): fix tsc errors
  ssr/react-app.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(origin-trial): update tokens
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(bundle-size): partially revert 4a5cf81b8958bb3b5f80b8d20ae0bc1ae1d426bb
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(bundle-size): add name to github action
  .github/workflows/pr-bundlesize-compare.yml
Due: prettier --ignore-unknown --write

chore(origin-trial): update tokens (#11824)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(test-de-build): enable flaws
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

fix(test-de-build): build canonicals + enable pipefail
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

chore(test-de-build): enable writer mode
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  .github/workflows/pr-bundlesize-compare.yml
Due: prettier --ignore-unknown --write
