Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

feat(doc): add pageType field (#11662)
  build/index.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! refactor(build): move meta description template to ssr
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! Merge branch 'main' into MP-1332-meta-description-templates
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(build): move meta description template to ssr
  build/index.ts
  libs/types/document.ts
  ssr/meta-description.ts
  ssr/render.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(ssr): use Intl.ListFormat
  ssr/meta-description.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(seo): use meta description templates for web-api-* pages (#11635)
  ssr/meta-description.ts
  ssr/render.ts
Due: prettier --ignore-unknown --write, eslint --fix

Make footer icons visually focusable (#11663)
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ssr): rename render.ts to render.tsx
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ssr): use jsx in ssr/render.tsx
  client/config/webpack.config.js
  client/public/index.html
  client/scripts/build.js
  client/scripts/postprocess-client-build.js
  libs/constants/index.js
  package.json
  ssr/.gitignore
  ssr/include.d.ts
  ssr/prepare.ts
  ssr/print.css
  ssr/react-app.d.ts
  ssr/render.tsx
  ssr/theme.js
  ssr/webpack.config.js
  testing/tests/csp.test.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ssr): test for asset-manifest.json in yarn start
  package.json
Due: prettier --ignore-unknown --write

fix(ssr): weird path resolution in libs/env breaking npm-published-simulation
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ssr): fix failing index.html tests
  testing/tests/csp.test.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ssr): handle absolute paths in libs/env
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix tests
  testing/tests/csp.test.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

revert changes to libs/env, use actual client webpack outputPath
  libs/env/index.js
  ssr/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

🙏
  package.json
Due: prettier --ignore-unknown --write

webpack-node-externals wasn't working, but now it works things break, so disable it
  ssr/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

fix tests
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

first rough attempt at a fix
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ssr): delete root index.html
  package.json
  ssr/.gitignore
  ssr/rm-index.js
  testing/tests/csp.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

a bit of refactoring, handle history disabled case
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(contributor-spotlight): some old pages not building
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(community): design tweaks from design review
  client/src/assets/community/video-bg-dark.svg
  client/src/assets/community/video-bg.svg
  client/src/community/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(community): stylelint
  client/src/community/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(community): fix links, update contributors in spotlight
  client/src/community/index.tsx
  copy/community/index.json
  copy/community/index.md
Due: prettier --ignore-unknown --write, eslint --fix

fix(community): add gap between contributor sections on mobile
  client/src/community/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat: translate MathML section
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

fix(curriculum): fix module overview sidescroll
  client/src/curriculum/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

enhance(syntax-highlight): enable Go language, set tab-size to 4 (#11608)
  build/syntax-highlight.ts
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sandbox): add `allow-forms` so <dialog /> element could work properly
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write

link to scrimba partnership blog post on home page
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

moved scrimba banner one section above
  client/src/curriculum/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

changed top banner fallback to scrimba
  client/src/telemetry/constants.ts
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebars): change slugs for URI documents in HTTP sidebar
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

feature(placement): changed top banner fallback to scrimba (#11699)
  client/src/telemetry/constants.ts
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feature(curriculum): move banner one block upwards (#11698)
  client/src/curriculum/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feature(blog): display new blog post on home page (#11697)
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebars): change slugs for URI documents in HTTP sidebar (#11700)
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

add scrimba partnership to latest news
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(news): add scrimba partnership to news (#11701)
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix
