Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(syntax-highlight): add apacheconf to Prism.js languages (#8862)
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write, eslint --fix

update designs, add thanks, simplify ssr
  build/spas.ts
  client/src/app.tsx
  client/src/newsletter/index.scss
  client/src/newsletter/index.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/modal/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(blog): hydration error on date
  client/src/blog/post.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(blog): hydration error on date (#8871)
  client/src/blog/post.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove unused cta-banner code
  client/public/index.html
  client/src/banners/README.md
  client/src/banners/active-banner.tsx
  client/src/banners/banner-utils.ts
  client/src/banners/banner.scss
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/document/index.scss
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(csp): replace media.*.mdn.mozit.cloud with mdn.dev
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(fundamental-redirects): redirect /samples/ to mdn.dev archive
  libs/fundamental-redirects/index.js
Due: prettier --ignore-unknown --write, eslint --fix

experiment(top-banner): make it non-sticky
  client/src/app.scss
  client/src/document/index.scss
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

experiment(top-banner): make it non-sticky (#8882)
  client/src/app.scss
  client/src/document/index.scss
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Use en-US page to fetch front matter key
  kumascript/macros/cssxref.ejs
Due: prettier --ignore-unknown --write

fix(ui): gap at top of page in tablet mode
  client/src/ui/molecules/theme-switcher/index.scss
  client/src/ui/organisms/article-actions/bookmark-menu/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore: remove specific nodejs version
  README.md
Due: prettier --ignore-unknown --write

chore: remove specific nodejs version (#8340)
  README.md
Due: prettier --ignore-unknown --write

chore: add secure the web survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write, eslint --fix

revert package lock
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

chore: add secure the web survey (#8893)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

review updates
  build/flaws/unsafe-html.ts
  content/redirect.ts
  package.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(tsc): remove a number of `any` types (#8013)
  build/check-images.ts
  build/cli.ts
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/format-notecards.ts
  build/index.ts
  build/page-title.ts
  build/syntax-highlight.ts
  build/utils.ts
  build/wrap-tables.ts
  content/image.ts
  content/redirect.ts
  content/translation.ts
  content/utils.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ui): gap at top of page in tablet mode (#8885)
  client/src/ui/molecules/theme-switcher/index.scss
  client/src/ui/organisms/article-actions/bookmark-menu/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(cloud-function): strip x-forwarded-* headers
  cloud-function/src/app.ts
  cloud-function/src/middlewares/stripXfwdHeaders.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): strip Forwarded header as well
  cloud-function/src/app.ts
  cloud-function/src/middlewares/stripForwardedHeaders.ts
Due: prettier --ignore-unknown --write, eslint --fix

apply suggestions from code review
  content/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(content): only collect required translations (#8806)
  build/cli.ts
  content/translations.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: activate webidle language definition
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): add sse.js 0.6.1
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): add react-markdown 8.0.7
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): add openai 3.2.1
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

wip
  client/src/app.tsx
  client/src/search/ai.scss
  client/src/search/ai.tsx
  client/src/search/dialog.scss
  client/src/search/dialog.tsx
  client/src/search/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore: inline var
  client/src/search/ai.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore: rename {MDN AI => Ask MDN}
  client/src/search/ai.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: use primary border color for dialog
  client/src/search/dialog.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix: remove console.log
  client/src/search/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore: rename {MDN AI => Ask MDN}
  client/src/search/ai.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: add missing useEffect dep
  client/src/search/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): strip only X-Forwarded-Host + Forwarded
  cloud-function/src/app.ts
  cloud-function/src/middlewares/stripForwardedHeaders.ts
  cloud-function/src/middlewares/stripForwardedHostHeaders.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: svelte is implicitly loaded
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(csp,fundamental-redirects): replace media.*.mdn.mozit.cloud with mdn.dev (#8873)
  libs/constants/index.js
  libs/fundamental-redirects/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): strip X-Forwarded-Host + Forwarded headers (#8894)
  cloud-function/src/app.ts
  cloud-function/src/middlewares/stripForwardedHostHeaders.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build,content,server): allow mp3/mp4/ogg/ttf/webm attachments
  build/check-images.ts
  build/flaws/broken-links.ts
  build/index.ts
  build/utils.ts
  content/file-attachment.ts
  content/index.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(file-attachment): type params
  build/utils.ts
  content/file-attachment.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
