Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sync-translated-content): preserve l10n frontmatter
  content/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(sync-translated-content): preserve l10n frontmatter (#11224)
  content/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(fundamental-redirects): prefix Media_formats_supported_by_the_audio_and_video_elements
  libs/fundamental-redirects/index.js
  testing/tests/redirects.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(fundamental-redirects): add more /docs/ prefix redirects (#11223)
  libs/fundamental-redirects/index.js
  testing/tests/redirects.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(pride): pride 2024 (#11213)
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(build): remove the redirection of legacy images that start with `/@api/deki/`
  build/check-images.ts
  build/utils.ts
  testing/integration/headless/test_cdn.py
Due: prettier --ignore-unknown --write, eslint --fix

fix(breadcrumbs): use short-title for parents (#11180)
  build/document-utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): sanitize pong/get input
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(cloud-function): migrate to @sentry/google-cloud-serverless
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build): support non-docs sitemaps
  build/cli.ts
  build/sitemaps.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(build): build sitemap index universally
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(blog): build sitemap
  build/blog.ts
  build/build-blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(spas): build sitemap
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(curriculum): build sitemap
  build/build-curriculum.ts
  build/curriculum.ts
Due: prettier --ignore-unknown --write, eslint --fix

add & sync
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
Due: prettier --ignore-unknown --write

update
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
Due: prettier --ignore-unknown --write

fix(search-box): make search results scrollable
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! feat(build): build sitemap index universally
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(build): extract writeSitemap()
  build/blog.ts
  build/cli.ts
  build/curriculum.ts
  build/sitemaps.ts
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(build): extract buildSitemap()
  build/blog.ts
  build/cli.ts
  build/curriculum.ts
  build/sitemaps.ts
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update Observatory links in HTTPsidebar
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

remove trailing slash
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

fix/typos-in-translations
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write

fix(cloud-function): set gzip encoding only for existing sitemaps
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(sitemaps): use BASE_URL
  build/sitemaps.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): bump express from 4.18.2 to 4.19.2
  cloud-function/package-lock.json
  cloud-function/package.json
Due: prettier --ignore-unknown --write

chore(deps): bump follow-redirects from 1.15.5 to 1.15.6
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

style(prettier): run prettier -w .
  client/src/playground/editor.tsx
  client/src/ui/atoms/form/expanding-textarea.tsx
  docs/architecture.md
  docs/typescript.md
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/MDNSidebar): fix typo in Korean translation (#11244)
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write

fix(seo): add missing sitemaps (#11234)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  build/blog.ts
  build/build-blog.ts
  build/build-curriculum.ts
  build/cli.ts
  build/curriculum.ts
  build/sitemaps.ts
  build/spas.ts
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(cloud-function): migrate `url.parse()` to `new URL()` (#9655)
  cloud-function/src/handlers/proxy-bsa.ts
  cloud-function/src/handlers/proxy-kevel.ts
  cloud-function/src/middlewares/lowercase-pathname.ts
  cloud-function/src/middlewares/resolve-index-html.ts
  cloud-function/src/middlewares/resolve-runner-html.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build): remove obsolete `/@api/deki/` handling (#11228)
  build/check-images.ts
  build/utils.ts
  testing/integration/headless/test_cdn.py
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/AvailableInWorkers): update Japanese translation (#11155)
  kumascript/macros/AvailableInWorkers.ejs
Due: prettier --ignore-unknown --write

chore(assets): optimize contributor logo
  client/public/assets/mdn_contributor.png
Due: prettier --ignore-unknown --write

fix(homepage): update contributor logo width
  client/src/homepage/contributor-spotlight/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(homepage): import contributor logo
  client/src/homepage/contributor-spotlight/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(homepage) lazy-load contributor logo
  client/src/homepage/contributor-spotlight/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(sync-translated-content): add sidebars from en-US
  tool/cli.ts
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/AccessibilitySidebar): list subpages via en-US
  kumascript/macros/AccessibilitySidebar.ejs
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
