Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

remove disabled code
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sync-translated-content): replace locale in QuickLinksWithSubpages
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update kumascript/src/lib/css-syntax.ts
  kumascript/src/lib/css-syntax.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(css-syntax): link types with brackets + prefer main spec for at-rules (#11070)
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Due: prettier --ignore-unknown --write, eslint --fix

chore(readme): remove ngrok section (#11164)
  README.md
Due: prettier --ignore-unknown --write

Update kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/Non-standard_Header.ejs
Due: prettier --ignore-unknown --write

fix(cloud-function): use URL.pathname to resolve index.html only
  cloud-function/src/middlewares/resolve-index-html.ts
Due: prettier --ignore-unknown --write, eslint --fix

intermediate commit
  client/src/observatory/index.scss
  client/src/observatory/index.tsx
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
  client/src/observatory/types.ts
  client/src/placement-context.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

remove test sorting, remove table header boldness
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(surveys): add German locale survey
  client/src/ui/molecules/document-survey/index.scss
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(cloud-function): use URL.pathname to resolve index.html only (#11271)
  cloud-function/src/middlewares/resolve-index-html.ts
Due: prettier --ignore-unknown --write, eslint --fix

intermediate commit
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
  client/src/observatory/types.ts
  client/src/observatory/utils.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(survey): remove border + increase padding-left
  client/src/ui/molecules/document-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(survey): improve design further
  client/src/ui/molecules/document-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(survey): fix dismissal icon in dark theme
  client/src/ui/molecules/document-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(survey): update icon
  client/src/assets/icons/survey.svg
  client/src/ui/molecules/document-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(surveys): use vertical margin of 0.75rem
  client/src/ui/molecules/document-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(surveys): change dismiss icon color on hover
  client/src/ui/molecules/document-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(survey): comment about color used for light and dark
  client/src/ui/molecules/document-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(surveys): support footnote
  client/src/ui/molecules/document-survey/index.scss
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(surveys): update design + logo + add footnote (#11274)
  client/src/assets/icons/survey.svg
  client/src/ui/molecules/document-survey/index.scss
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(surveys): add German locale survey
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(surveys): update teaser + question of German locale survey
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(surveys): update footnote of German locale survey
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(surveys): add German locale survey (#11272)
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(telemetry): measure survey interactions
  client/src/telemetry/constants.ts
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry): avoid measuring seen survey twice
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): measure when survey is opened
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fix(telemetry): avoid measuring seen survey twice
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fixup! fix(telemetry): avoid measuring seen survey twice
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry): move measurement into state callback
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(survey): avoid overwriting seen_at
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(surveys): move measurement before setState for consistency
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(telemetry): measure survey actions (#11273)
  client/src/telemetry/constants.ts
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(homepage): optimize + lazy-load contributor logo (#11258)
  client/public/assets/mdn_contributor.png
  client/src/homepage/contributor-spotlight/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "feat(cloud-function): redirect capitalization"
  cloud-function/src/app.ts
  cloud-function/src/middlewares/redirect-capitalization.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(cloud-function): redirect capitalization (v2)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/cli.ts
  build/sitemaps.ts
  build/spas.ts
  cloud-function/.gcloudignore
  cloud-function/.gitignore
  cloud-function/package.json
  cloud-function/src/app.ts
  cloud-function/src/build-sitemap.ts
  cloud-function/src/middlewares/redirect-capitalization.ts
  cloud-function/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(cloud-function): rename redirect{Capitalization => NonCanonicals}
  cloud-function/src/app.ts
  cloud-function/src/middlewares/redirect-non-canonicals.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
