Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): introduce common layout, make tables scrollable
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
  client/src/observatory/recommendations.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! fix(observatory): introduce common layout, make tables scrollable
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): use horizontal placement on mobile
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): remove trailing paragraph
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): add "Scan another site" button
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): use align-items: flex-start
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(workflows): use default runners (#10387)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fixup! fix(observatory): introduce common layout, make tables scrollable
  client/src/observatory/csp.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(observatory): add "Scan another site" button
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(husky): migrate to v9
  .husky/pre-commit
  package.json
Due: prettier --ignore-unknown --write

feat(macro/MDNSidebar): rewrite macro + add missing pages (#10329)
  kumascript/macros/MDNSidebar.ejs
  kumascript/tests/macros/mdnsidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): improve margins
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): reduce footer
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(markdown): move h2mSync to h2m module
  markdown/h2m/index.ts
  markdown/index.ts
  markdown/m2h/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): remove console.log()
  scripts/ai-help-macros.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): populate markdown column
  scripts/ai-help-macros.ts
  scripts/ai-help.sql
Due: prettier --ignore-unknown --write, eslint --fix

chore(labeler): migrate config to actions/labeler v5
  .github/labeler.yml
Due: prettier --ignore-unknown --write

chore(release-please): migrate config to release-please v4 manifest file
  .github/workflows/npm-publish.yml
  .release-please-manifest.json
Due: prettier --ignore-unknown --write

Stick to rems instead of pixels
  client/src/ui/molecules/breadcrumbs/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): move placement outside on xl screen
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): rename result header
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): move host into summary header
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): refine summary table
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): remove color from table headers
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): remove grey background
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): improve landing footer
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): replace black with CanvasText in SVGs
  client/public/assets/observatory/assessment.svg
  client/public/assets/observatory/mdn.svg
  client/public/assets/observatory/scanning.svg
  client/public/assets/observatory/security.svg
Due: prettier --ignore-unknown --write

feat(scripts): use pg instead of supabase (#10337)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  scripts/ai-help-macros.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/CSSRef): add media queries printing guide (#10386)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

fix(release-please): remove release-type
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

fix(release-please): specify release-type in manifest
  .release-please-manifest.json
Due: prettier --ignore-unknown --write

wip
  .github/workflows/stage-build.yml
  build/build-curriculum.ts
  build/curriculum.ts
  build/utils.ts
  client/src/app.tsx
  client/src/assets/icons/cur-ext-resource.svg
  client/src/assets/icons/cur-mdn-resource.svg
  client/src/assets/icons/cur-resources.svg
  client/src/curriculum/module.scss
  client/src/curriculum/module.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/placement-context.tsx
  client/src/ui/molecules/main-menu/index.tsx
  cloud-function/src/app.ts
  deployer/src/deployer/search/__init__.py
  libs/env/index.d.ts
  libs/env/index.js
  libs/types/curriculum.ts
  libs/types/document.ts
  libs/types/hydration.ts
  package.json
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ci): add/update release-please v4 files
  .release-please-manifest.json
  release-please-config.json
Due: prettier --ignore-unknown --write

remove release-type from workflow yml file
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

fix(release-please): move release-type/changelog-sections to config file (#10411)
  .github/workflows/npm-publish.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --ignore-unknown --write

fix(release-please): fix config structure
  release-please-config.json
Due: prettier --ignore-unknown --write

feat(ai-help): index content as markdown (#10330)
  markdown/h2m/index.ts
  markdown/index.ts
  package.json
  scripts/ai-help-macros.ts
  scripts/ai-help.sql
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): make subtitle/input use full width
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): center about in box
  client/src/observatory/index.scss
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): reuse --border-radius var
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
