Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(placement): reuse TextColor for border
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(placement): reuse TextColor/BackgroundColor for "AD" link (#11540)
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(baseline): hide when feature status differs from BCD key status
  build/index.ts
  build/web-features.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(markdown): Always render noteblock titles on its own line
  markdown/m2h/handlers/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip(cloud-function): add server-timing header
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/app.ts
  cloud-function/src/handlers/proxy-content.ts
  cloud-function/src/handlers/render-html.ts
  cloud-function/src/middlewares/server-timing.ts
  cloud-function/src/types/express.d.ts
  cloud-function/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

wip(cloud-function): add more timings to server-timing
  cloud-function/src/handlers/render-html.ts
  cloud-function/src/middlewares/server-timing.ts
Due: prettier --ignore-unknown --write, eslint --fix

mobile design
  client/src/assets/community/globe.svg
  client/src/assets/community/quote.svg
  client/src/community/index.scss
  client/src/community/index.tsx
  client/src/community/svg/chat.svg
  client/src/community/svg/community-calls.svg
  client/src/community/svg/header-1.svg
  client/src/community/svg/header-2.svg
  client/src/community/svg/header-3.svg
  client/src/community/svg/header-background.svg
  client/src/community/svg/tape.svg
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

review updates
  build/web-features.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip(cloud-function): reset to text/plain on 500 error
  cloud-function/src/handlers/render-html.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip(cloud-function): clean up server-timing logic
  cloud-function/src/handlers/render-html.ts
  cloud-function/src/middlewares/server-timing.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(baseline): hide when feature status differs from BCD key status (#11547)
  build/index.ts
  build/web-features.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(community): add hero bg
  client/src/assets/community/hero-bg.svg
  client/src/community/index.scss
  client/src/community/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(notecard): misaligned icon, excessive internal padding (#11467)
  client/src/document/index.scss
  client/src/ui/molecules/notecards/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(cloud-function): split decodeJSON into text and json components
  cloud-function/src/handlers/render-html.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: progress
  client/src/assets/community/contributors-bg.svg
  client/src/community/index.scss
  client/src/community/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(community): fetch data in build step, needs optimisation
  build/spas.ts
  docs/envvars.md
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(community): add Contributors circles
  client/src/assets/community/contributors-bg.svg
  client/src/community/index.scss
  client/src/community/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(community): slight optimisation, clean up types
  build/spas.ts
  client/src/community/index.tsx
  libs/types/community.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(survey): august 2024 web app survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(community): wip
  client/src/assets/community/contribute-bg.svg
  client/src/assets/community/contributors-bg.svg
  client/src/community/index.scss
  client/src/community/index.tsx
  client/src/community/svg/video-preview.svg
  client/src/community/svg/video-preview_dark.svg
  client/src/community/svg/video-preview_light.svg
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(types): use upstream web-features types
  client/src/document/baseline-indicator.tsx
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

add note about survey action
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip(build): test some different upload commands, try to exclude plain.html
  .gcloudignore
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

chore(survey): august 2024 web app survey (#11570)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): replace GPT-3.5 Turbo with GPT-4o mini
  client/src/plus/ai-help/banners.tsx
  client/src/plus/ai-help/history.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/landing.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(build): test different configs for google-github-actions/upload-cloud-storage
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

wip(build): 10000 concurrent uploads was excessive, attempt to bisect 'best' config
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

wip(build): change the config, not just the name
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

wip(build): test deletion methods
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

wip(build): actually add delete option, add dry run flag to test static exclude works
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(observatory): use error.name for glean data
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip(build): remove dry run, fix exclude
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

wip(community): remove unncessary data
  build/spas.ts
  client/src/contributor-spotlight/index.tsx
  libs/types/community.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): use `error.name` for glean data
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): better glean error keys (#11597)
  client/src/observatory/landing.tsx
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: better logging
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

update functions-framework dependency
  cloud-function/package-lock.json
  cloud-function/package.json
Due: prettier --ignore-unknown --write

updated package.lock
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

feat: enable Go language syntax highlighting, set pre,code tab-size to 4
  build/syntax-highlight.ts
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(cli): Fix recursive document deletion (#9486)
  content/document.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
