Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

Update index.test.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/cssxref): don't lowercase CSS keyword (#8270)
  kumascript/macros/cssxref.ejs
Due: prettier --ignore-unknown --write

Add placment dummy while loading
  client/src/document/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(placement): show placement in split screen (#8484)
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/ui/molecules/grids/_document-page.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

hofix(sidebar): safari had issues with z-index
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

hofix(sidebar): safari had issues with z-index (#8492)
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

new approach for traversing git commit graph
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove p tag in table tag
  client/src/translations/differences/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add details to report message and file name
  .gitignore
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

modify source commit filter condition
  client/src/translations/differences/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: consider sourceCommitsBehindCount undefined
  client/src/translations/differences/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(style/code): prevent code blocks appear above side menus
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(deployer): add content encoding when exists
  deployer/src/deployer/upload.py
Due: prettier --ignore-unknown --write

Fix: Issue #8494
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

check automatic cache validation
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: types and naming
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(macros): make JSRef sidebar more useful
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

Fix Segments
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

fix(sidebar): fix scrolling behavior.
  client/src/document/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/ui/_vars.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Relocate related
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

fix the sidebar
  client/src/document/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/ui/_vars.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): fix scrolling behavior (#8512)
  client/src/document/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/ui/_vars.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(gcp/function): don't lowercase /static/
  gcp/function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(gcp/function): separate sitemaps + add content-encoding
  gcp/function/src/app.ts
  gcp/function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(banner): show newsletter banner to core users (#8475)
  client/src/banners/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(placement): introduce a placment context
  client/src/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

lint
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(surveys): add Web Components survey (#8466)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

nits
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

lint
  client/src/placement-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/AddonSidebar): dissolve summary-only <details> element
  kumascript/macros/AddonSidebar.ejs
Due: prettier --ignore-unknown --write

fix: make icons in good/bad examples float
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(client): place hash before headings
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

ci(xyz-build): use function name from vars context
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

chore(gcp/function): remove manual deployment
  gcp/function/package.json
Due: prettier --ignore-unknown --write
