Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

Update client/src/app.scss
  client/src/app.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

add to prod
  .github/workflows/prod-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(gather-git-history): skip if locale directory does not exist
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(gather-git-history): skip de
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(tool/gather-git-history): skip German locale (#12120)
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

fullscreen warning
  cloud-function/src/app.ts
  cloud-function/src/handlers/handle-runner.ts
  cloud-function/src/headers.ts
  libs/constants/index.js
  libs/play/index.d.ts
  libs/play/index.js
  libs/play/package.json
  libs/play/tsconfig.json
  server/index.ts
  server/middlewares.ts
Due: prettier --ignore-unknown --write, eslint --fix

bottom banner color
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Fix background and padding for a11y nav
  client/src/ui/molecules/a11y-nav/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

update copy
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

yarn
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

fix route in dev server
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

revert
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

type
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip(about): various updates inc. updating images to mdn.dev
  client/src/about/_mixins.scss
  client/src/about/index.scss
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

yarn.lock
  yarn.lock
Due: prettier --ignore-unknown --write

squelch a linter warning
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update server/index.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

content merged
  .github/workflows/test-build.yml
  client/src/document/toolbar/flaws.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

use hash as subdomain
  client/src/playground/index.tsx
  client/src/playground/utils.ts
  libs/play/index.d.ts
  libs/play/index.js
  libs/play/package.json
Due: prettier --ignore-unknown --write, eslint --fix

rari 19
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

wip(about): scroll to top of tab and add glean ping
  client/src/about/index.scss
  client/src/about/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(test-de)!: redirect to prod
  .github/workflows/test-de-build.yml
  cloud-function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(survey): homepage survey 2024 (#12115)
  .github/workflows/prod-build.yml
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

remove warning
  client/src/playground/utils.ts
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

add content asset proxy
  cloud-function/src/app.ts
  cloud-function/src/handlers/proxy-content-assets.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(flaws): re-add href to broken links as data
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(survey): webdx editing survey
  .github/workflows/prod-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix hashes
  client/src/playground/utils.ts
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(flaws): shared assets images must no be flaws
  build/check-images.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(font): disable contextual variant ligatures in headings
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(flaws): shared assets images must no be flaws (#12133)
  build/check-images.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(survey): webdx editing survey (#12132)
  .github/workflows/prod-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

base64 hash
  client/src/playground/utils.ts
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(font): disable contextual variant ligatures in headings (#12134)
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "base64 hash"
  client/src/playground/utils.ts
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

use sha1
  client/src/playground/utils.ts
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

search index
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix
