Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(blog): add RSS icon
  client/src/blog/index.scss
  client/src/blog/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(blog): extract BlogFeedIcon
  client/src/blog/icon.tsx
  client/src/blog/index.tsx
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(blog): add RSS icon to posts
  client/src/blog/post.scss
  client/src/blog/post.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(blog): add UTM params to RSS feed
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(blog): add RSS icon to posts
  client/src/blog/post.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(breadcrumbs): use short-title for parents
  build/document-utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(curriculum): increase module list tab contrast (#11062)
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(i10n): localize deprecated header text in ko
  kumascript/macros/Deprecated_Header.ejs
Due: prettier --ignore-unknown --write

fix(i10n): localize deprecated header text in ko (#11189)
  kumascript/macros/Deprecated_Header.ejs
Due: prettier --ignore-unknown --write

fix(seo): prevent contributors.txt from indexing and crawling (#11149)
  client/src/document/organisms/article-footer/index.tsx
  cloud-function/src/headers.ts
  tool/build-robots-txt.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(l10n): localize translation banner in pt-BR (#11018)
  client/src/document/molecules/localized-content-note/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(filechecker): revert imagemin-svgo
  .github/dependabot.yml
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Update .github/dependabot.yml
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

fix(filechecker): revert imagemin-svgo (#11201)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(search): use "noindex, follow" robots tag + remove robots.txt exclude (#11140)
  build/spas.ts
  libs/types/hydration.ts
  ssr/render.ts
  tool/build-robots-txt.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(telemetry): measure user preferred languages (#11065)
  client/src/telemetry/generated/element.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/generated/page.ts
  client/src/telemetry/generated/pings.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
Due: prettier --ignore-unknown --write, eslint --fix

refactor(macros): use smartLink() in sidebars (cont'd) (#11166)
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/SVGRef.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
  kumascript/tests/macros/HTTPSidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(pong): add debug stmt
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(pong): avoid duplicate "https:"
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(pong): avoid duplicate "https:" (#11212)
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(pride): pride 2024
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(placement): identify sponsored links
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "fix(experiment): replace test group for Web/API page titles (#10955)"
  build/seo.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "feat(experiment): rewrite Web/API page titles (#10926)"
  build/index.ts
  build/seo.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(seo): identify sponsored links (#11217)
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(experiment): stop rewriting Web/API page titles (#11218)
  build/index.ts
  build/seo.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(seo): add rel="nofollow" on "Sign up" link
  client/src/ui/atoms/signup-link/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(seo): add rel="nofollow" on "Sign up for free" link (#11219)
  client/src/ui/atoms/signup-link/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

revert: always use string type
  build/git-history.ts
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Make the type of the `modified` field consistent
  content/wikihistories.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup the git history read logic
  build/git-history.ts
  content/githistories.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(fundamental-redirects): remove where target no longer exists
  libs/fundamental-redirects/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(fundamental-redirects): remove where target no longer exists
  libs/fundamental-redirects/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): skip next() on fundamental redirect
  cloud-function/src/middlewares/redirect-fundamental.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove the unused import
  content/githistories.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(redirects): remove obsolete cases
  testing/tests/redirects.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): skip next() on fundamental redirect (#11222)
  cloud-function/src/middlewares/redirect-fundamental.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(fundamental-redirects): prefix JavaScript_typed_arrays
  libs/fundamental-redirects/index.js
  testing/tests/redirects.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(fundamental-redirects): prefix Using_audio_and_video_in_Firefox
  libs/fundamental-redirects/index.js
  testing/tests/redirects.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(fundamental-redirects): prefix ECMAScript_DontEnum_attribute
  libs/fundamental-redirects/index.js
  testing/tests/redirects.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
