Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

typo
  kumascript/macros/LiveSampleLink.ejs
Due: prettier --ignore-unknown --write

fix: change property
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(macro): improve webref/css v6.x.x upgrade implementation
  kumascript/src/lib/css-syntax.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(client): make alt text on images appear in dark mode (#9250)
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(macros/LiveSampleLink): add fallback to prebuilt samples (#9738)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  kumascript/macros/LiveSampleLink.ejs
Due: prettier --ignore-unknown --write

fix scroll-margin-top without actions
  client/src/app.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(search): add more special character mappings
  deployer/src/deployer/search/models.py
Due: prettier --ignore-unknown --write

fix(blog): move main-page-content class to article
  client/src/blog/post.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(search): add more special character mappings
  deployer/src/deployer/search/models.py
Due: prettier --ignore-unknown --write

fixup! fixup! feat(search): add more special character mappings
  deployer/src/deployer/search/models.py
Due: prettier --ignore-unknown --write

fixup! fixup! fixup! feat(search): add more special character mappings
  deployer/src/deployer/search/models.py
Due: prettier --ignore-unknown --write

feat(blog): add toc (#9707)
  client/src/app.scss
  client/src/app.tsx
  client/src/blog/index.scss
  client/src/blog/index.tsx
  client/src/blog/post.scss
  client/src/blog/post.tsx
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/ui/molecules/grids/_document-page.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/top-navigation/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): index full docs as well (#9608)
  scripts/ai-help.sql
  scripts/ai-help.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(experiements): support experiments
  client/src/app.tsx
  client/src/banner.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
  client/src/plus/common/api.tsx
  client/src/settings/experiments.tsx
  client/src/settings/index.scss
  client/src/settings/index.tsx
  client/src/settings/manage.tsx
  client/src/settings/newsletter.tsx
  client/src/settings/offline-settings.tsx
  client/src/ui/atoms/form/expanding-textarea.tsx
  client/src/ui/atoms/thumbs/index.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(macros/DefaultAPISidebar): show badges on all links
  kumascript/macros/DefaultAPISidebar.ejs
Due: prettier --ignore-unknown --write

fix(sidebar): remove negative icon margin
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

ui clean up
  client/src/banner.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(contributor-spotlight): show PageNotFound on error
  client/src/contributor-spotlight/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

lint
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(redirects): remove broken redirect rules
  libs/fundamental-redirects/index.js
Due: prettier --ignore-unknown --write, eslint --fix

try to fix testing
  testing/integration/headless/map_301.py
  testing/integration/headless/test_redirects.py
  testing/tests/redirects.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(blog): move toc to left on large screens
  client/src/blog/post.scss
  client/src/blog/post.tsx
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(playground): allow img from blob and data
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(cloud-function): ad bsa support
  cloud-function/README.md
  cloud-function/src/app.ts
  cloud-function/src/env.ts
  cloud-function/src/handlers/proxy-bsa.ts
  cloud-function/src/handlers/proxy-pong.ts
  libs/pong/cc2ip.js
  libs/pong/click.d.ts
  libs/pong/click.js
  libs/pong/fallback.d.ts
  libs/pong/fallback.js
  libs/pong/get.d.ts
  libs/pong/index.d.ts
  libs/pong/index.js
  libs/pong/pong.d.ts
  libs/pong/pong.js
  libs/pong/pong2.d.ts
  libs/pong/pong2.js
  libs/pong/types.d.ts
  libs/pong/viewed.d.ts
  libs/pong/viewed.js
Due: prettier --ignore-unknown --write, eslint --fix

feedback
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(playground): allow img from blob and data (#9771)
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

add stage config
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

Update libs/fundamental-redirects/index.js
  libs/fundamental-redirects/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(redirects): remove broken redirect rules (#9762)
  libs/fundamental-redirects/index.js
  testing/integration/headless/map_301.py
  testing/integration/headless/test_redirects.py
  testing/tests/redirects.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove log
  cloud-function/src/handlers/proxy-pong.ts
Due: prettier --ignore-unknown --write, eslint --fix

decode copy to be safe
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(code): add play and queue to all examples
  client/src/blog/post.tsx
  client/src/document/code/playground.ts
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/playground/queue/index.scss
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(blog): move toc to left on large screens (#9772)
  client/src/blog/post.scss
  client/src/blog/post.tsx
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

styling
  client/src/playground/queue/index.scss
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(macros): delete {{SectionOnPage}} macro (#9436)
  kumascript/macros/SectionOnPage.ejs
Due: prettier --ignore-unknown --write

copy
  client/src/document/code/playground.ts
  client/src/document/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(labeler): add more labels
  .github/labeler.yml
Due: prettier --ignore-unknown --write

chore(labeler): add more labels (#9784)
  .github/labeler.yml
Due: prettier --ignore-unknown --write

chore(macros/LearnSidebar): update zh-CN translation (#9630)
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

queue fixes
  client/src/document/code/playground.ts
  client/src/document/index.scss
  client/src/playground/queue/index.scss
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/ui/_vars.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
