Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

Replace XR icon with my own creation
  client/src/assets/icons/xr.svg
Due: prettier --ignore-unknown --write

use `DEFAULT_LOCALE_LC` instead of "en-us"
  deployer/aws-lambda/content-origin-request/index.js
Due: prettier --ignore-unknown --write, eslint --fix

use bitwise mask for fallback image file name match
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/fallback-paths.json
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/mask.js
  deployer/aws-lambda/content-origin-request/package.json
Due: prettier --ignore-unknown --write, eslint --fix

fix: fallback to find images in content
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/fallback-paths.json
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-request/yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/jsxref): always strip ()/.prototype. from slug
  kumascript/macros/jsxref.ejs
Due: prettier --ignore-unknown --write

build(deps-dev): bump stylelint from 13.13.1 to 14.8.5
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

style(lint-staged): run stylelint, add extension to config file
  .lintstagedrc
  .lintstagedrc.json
Due: prettier --ignore-unknown --write

ci(testing): add stylelint step
  .github/workflows/testing.yml
  scripts/lint.sh
Due: prettier --ignore-unknown --write

style(stylelint): order rules alphabetically
  .stylelintrc.json
Due: prettier --ignore-unknown --write

style(stylelint): disable rules with errors
  .stylelintrc.json
Due: prettier --ignore-unknown --write

perf(ts-config): use @swc/core
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --ignore-unknown --write

style(stylelint): upgrade, run systematically, disable rules with errors (#7035)
  .github/workflows/testing.yml
  .lintstagedrc
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  scripts/lint.sh
  yarn.lock
Due: prettier --ignore-unknown --write

fix(stylelint): fix order/order
  .stylelintrc.json
  client/src/community/index.scss
  client/src/homepage/contributor-spotlight/index.scss
  client/src/homepage/featured-articles/index.scss
  client/src/homepage/homepage-hero/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/ui/atoms/switch/index.scss
  client/src/ui/atoms/toast/index.scss
  client/src/ui/base/_mdn.scss
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

getNexId -> getNextIndex
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write

better implementation for unique id
  client/src/document/hooks.ts
  client/src/plus/collections/collection-list-item.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: unique key warning in FrequentlyViewedTab component
  client/src/document/hooks.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write

id -> index
  client/src/document/hooks.ts
  client/src/plus/collections/collection-list-item.tsx
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

Persist indexes to local storage
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write

nit
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write

chore(macros): delete {{Tag}} macro
  kumascript/macros/Tag.ejs
Due: prettier --ignore-unknown --write

chore(macros): delete {{Tag}} macro (#7039)
  kumascript/macros/Tag.ejs
Due: prettier --ignore-unknown --write

refactor(build/spas): extract fetchRecentContributions()
  build/spas.ts
Due: prettier --ignore-unknown --write

fix(build/spas): filter recently merged contributions
  build/spas.ts
Due: prettier --ignore-unknown --write

fix(interactive-examples): post theme message only to loaded iframes (#6560)
  client/public/index.html
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(localstorage): consistently console.warn() on error
  client/public/index.html
  client/src/banners/banner-utils.ts
  client/src/document/hooks.ts
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(localstorage): consistently console.warn() on error
  client/public/index.html
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(localstorage): make warnings more consistent
  client/src/document/toolbar/index.tsx
  client/src/settings/mdn-worker.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(libs/constants): keep previous hash
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

style(prettier): fix issue
  client/src/document/toolbar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(client): make site work if localStorage is disabled (#6352)
  client/public/index.html
  client/src/banners/banner-utils.ts
  client/src/document/hooks.ts
  client/src/document/toolbar/index.tsx
  client/src/settings/mdn-worker.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
  client/src/writers-homepage/viewed-documents.tsx
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

Replace re-introduction to JS with language overview in JS sidebar
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/JsSidebar): replace "Re-introduction" with new "Language overview" (#7048)
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

refactor(hooks): move index assignment into getFrequentlyViewed()
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write

refactor(hooks): rename getNext{FrequentlyViewed}Index()
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write

CSSSyntax: handle hash+curly brackets
  kumascript/macros/CSSSyntax.ejs
Due: prettier --ignore-unknown --write

Update the script hash on the main page
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(csp): update script-src hash for inline script (#7050)
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix
