Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix(dev-server): support contributor spotlight
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

support pagefind test on test environments
  cloud-function/src/app.ts
  cloud-function/src/handlers/proxy-content-assets.ts
  cloud-function/src/handlers/proxy-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(dev-server): support contributor spotlight (#12463)
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Separate "Legacy css" prologue from included variable
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): update editor theme when changing browser/os light/dark theme
  client/src/lit/theme-controller.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): clear sessionStore when clearing code
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): don't leave play button in 'pressed' state when navigating back to docs page
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(playground): separate "Legacy css" prologue from included variable (#12467)
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

updated a11y menu items
  client/src/ui/molecules/learn-menu/index.tsx
  client/src/ui/molecules/reference-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(footer): update mozilla logo
  client/src/assets/moz-logo.svg
Due: prettier --ignore-unknown --write

chore(footer): update mozilla logo (#12478)
  client/src/assets/moz-logo.svg
Due: prettier --ignore-unknown --write

chore(menu): change accessibility menu items (#12365)
  client/src/ui/molecules/learn-menu/index.tsx
  client/src/ui/molecules/reference-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(workflows/build): use static robots.txt
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  assets/nonprod/robots.txt
  assets/prod/robots.txt
Due: prettier --ignore-unknown --write

Update Deno logo
  client/src/assets/icons/deno.svg
Due: prettier --ignore-unknown --write

feat(newletter): deprecate newsletter
  client/src/blog/index.tsx
  client/src/blog/post.tsx
  client/src/newsletter/index.tsx
  client/src/settings/newsletter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): auto scroll console
  client/src/lit/play/console.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(playground): remove unused state property
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

feat: add <interactive-example> custom element (#12413)
  client/package.json
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/lit/glean-mixin.js
  client/src/lit/globals.d.ts
  client/src/lit/interactive-example.global.scss
  client/src/lit/interactive-example.js
  client/src/lit/interactive-example.scss
  client/src/lit/play/console-utils.js
  client/src/lit/play/console.js
  client/src/lit/play/console.scss
  client/src/lit/play/controller.js
  client/src/lit/play/editor.js
  client/src/lit/play/editor.scss
  client/src/lit/play/runner.js
  client/src/lit/play/runner.scss
  client/src/lit/play/types.d.ts
  client/src/lit/theme-controller.js
  client/src/playground/editor.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
  client/src/search-utils.ts
  client/src/setupProxy.js
  client/src/telemetry/glean-context.tsx
  libs/play/index.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(blog): set max-width only on large screens
  client/src/blog/post.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(blog): avoid adding padding twice
  client/src/blog/post.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(icons): optimize Deno logo with svgo
  client/src/assets/icons/deno.svg
Due: prettier --ignore-unknown --write

chore(icons): update Deno logo (#12505)
  client/src/assets/icons/deno.svg
Due: prettier --ignore-unknown --write

fix(blog): avoid overflow + double padding (#12508)
  client/src/blog/post.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps-dev): remove react-is
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps-dev): remove react-is (#12510)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

enhance(server): retry rari fetch if ECONNREFUSED
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(csp): allow images from prod (developer.mozilla.org)
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(csp): allow images from prod (developer.mozilla.org) (#12514)
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

Update index.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deployer): replace the deprecated "poetry.dev-dependencies" section
  deployer/poetry.lock
  deployer/pyproject.toml
Due: prettier --ignore-unknown --write

chore(deployer): make dev dependencies optional
  .github/workflows/pr-deployer.yml
  deployer/pyproject.toml
Due: prettier --ignore-unknown --write

run poetry lock
  deployer/poetry.lock
Due: prettier --ignore-unknown --write

docs(deployer): add option for installing poetry dependencies
  deployer/README.md
Due: prettier --ignore-unknown --write

chore(bin): add deprecation warnings
  build/cli.ts
  server/index.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(workflows/npm-published-simulation): test rari-{build,tool}
  .github/workflows/npm-published-simulation.yml
Due: prettier --ignore-unknown --write

enhance(server): retry rari fetch if ECONNREFUSED (#12513)
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(bin): deprecate yari bins + test rari bins (#12517)
  .github/workflows/npm-published-simulation.yml
  build/cli.ts
  server/index.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): bump path-to-regex from 0.1.10 to 0.1.12 in /cloud-function
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

chore(deps): bump path-to-regex from 0.1.10 to 0.1.12 in /cloud-function (#12525)
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

chore(bcd): prefix title with browser name
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix
