Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): color only submit button green
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): align chat icon with topic
  client/src/plus/ai-help/history.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): fade out topics in history list
  client/src/plus/ai-help/history.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): make button icons less prominent
  client/src/plus/ai-help/history.scss
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): rename "Delete question" to "Clear question"
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): add title on cancel edit button
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): fetch summary only once, not too early
  client/src/plus/ai-help/history.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(blog): enable LFS for mdn-studio (#10027)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

Feature gamedev articles
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

Capitalize Node.js
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

chore(ai-help): rename "Cancel editing" to "Undo editing"
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): change "PLAY" to "Play" in queue
  client/src/playground/queue/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): align "Report feedback" with "Get answers..."
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): reduce fade out to ~3 characters
  client/src/plus/ai-help/history.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): generalize button icon style
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(playground): use category color for Queue
  client/src/document/index.scss
  client/src/playground/queue/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(playground): use filled trash icon in queue
  client/src/playground/queue/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(playground): color icon if Queued
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): remember feedback by message id
  client/src/plus/ai-help/index.tsx
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fix(ai-help): generalize button icon style
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip: manage queue in UIContext
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.tsx
  client/src/types/queue.ts
  client/src/ui-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): override "New Topic" color on hover
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): add queued icon
  client/src/assets/icons/queued.svg
  client/src/document/index.scss
  client/src/ui/atoms/icon/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "wip: manage queue in UIContext"
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.tsx
  client/src/types/queue.ts
  client/src/ui-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(ai-help): add queued icon
  client/src/assets/icons/queued.svg
Due: prettier --ignore-unknown --write

fix(playground): determine language properly
  client/src/playground/queue/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(playground): disable Queue in Web Docs
  client/src/document/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(playground): move Queue state to UIContext
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.tsx
  client/src/types/playground.ts
  client/src/ui-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): manage queue via UIContext
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): derive queuedExamples from queue
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.tsx
  client/src/ui-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): update queue icons
  client/src/assets/icons/queue.svg
  client/src/assets/icons/queued.svg
Due: prettier --ignore-unknown --write

fix(playground): use category color for collapsed queue
  client/src/playground/queue/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Add one more
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

refactor(playground): merge details CSS into single block
  client/src/playground/queue/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(playground): remove queue "reset" button
  client/src/playground/queue/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(playground): move queue collapse/expand to the right
  client/src/playground/queue/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(playground): avoid scrollbar in queue list
  client/src/playground/queue/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(playground): align queue header with list
  client/src/playground/queue/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): introduce loadingState
  client/src/plus/ai-help/history.tsx
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): improve loading/responding messages
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
