Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixed watify import
  client/config/webpack.config.js
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(play): add no-op html template tag and format
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(ix): move default css/js for tabbed examples to cloud function
  client/src/lit/interactive-example/example.css
  client/src/lit/interactive-example/example.js
  client/src/lit/interactive-example/index.js
  client/src/lit/play/runner.js
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(ix): fix shadow dom examples
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(ix): collapse javascript and wat templates into single console template
  client/src/lit/interactive-example/index.js
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(ix): by default toUpperCase lang name
  client/src/lit/interactive-example/index.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(ix): remove unused css vars
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(ix): migration script now includes section in html, so port styles from bob 1:1
  client/src/lit/interactive-example/choice.css
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ix): deal with overflowing editors
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ix): lower specificity of default styles so examples can override
  client/src/lit/interactive-example/choice.css
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(ix): add transition styling
  client/src/lit/interactive-example/choice.css
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps): bump dependencies in /cloud-function (#12563)
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

fix(playground): remove duplicate editor scrollbar (#12653)
  client/src/playground/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Update libs/play/index.js
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(interactive-examples): add support for tabbed css examples (#12665)
  client/src/lit/interactive-example/example.css
  client/src/lit/interactive-example/example.js
  client/src/lit/interactive-example/index.js
  client/src/lit/play/runner.js
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ix): conditionally set type=module, it breaks some js examples
  client/src/lit/interactive-example/index.js
  client/src/lit/play/runner.js
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(interactive-examples): add support for WAT examples (#12654)
  client/src/lit/interactive-example/index.js
  client/src/lit/interactive-example/index.scss
  client/src/lit/play/editor.js
  client/src/lit/play/runner.js
  libs/play/index.js
  libs/watify/.gitignore
  libs/watify/Cargo.lock
  libs/watify/Cargo.toml
  libs/watify/LICENSE
  libs/watify/README.md
  libs/watify/index.html
  libs/watify/pkg/LICENSE
  libs/watify/pkg/README.md
  libs/watify/pkg/package.json
  libs/watify/pkg/watify.d.ts
  libs/watify/pkg/watify.js
  libs/watify/pkg/watify_bg.js
  libs/watify/pkg/watify_bg.wasm
  libs/watify/pkg/watify_bg.wasm.d.ts
  libs/watify/src/lib.rs
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(interactive-examples): allow wasm in csp
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(interactive-examples): allow wasm in csp (#12676)
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(footer): update to new atproto handle `@developer.mozilla.org`
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: Render userScripts_legacy.register as userScripts.register (Legacy)
  kumascript/macros/WebExtAllExamples.ejs
Due: prettier --ignore-unknown --write

chore(ix): remove unnecessary console.log
  client/src/lit/interactive-example/choice.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ix): signal runner ready state via message
  client/src/lit/interactive-example/index.js
  client/src/lit/play/runner.js
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(ix): remove unused "js" height
  client/src/lit/interactive-example/global.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(ix): simplify some css variables
  client/src/lit/interactive-example/choice.css
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(ix): don't set live-sample default styles, will move choice.js/css into cloud function after fixing bugs
  client/src/lit/interactive-example/index.js
  client/src/lit/play/runner.js
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(play): condense postMessage error handling
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(footer): add Bluesky link (#12538)
  client/src/assets/icons/bluesky.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

use the published watify package
  libs/watify/.gitignore
  libs/watify/Cargo.lock
  libs/watify/Cargo.toml
  libs/watify/LICENSE
  libs/watify/README.md
  libs/watify/index.html
  libs/watify/pkg/LICENSE
  libs/watify/pkg/README.md
  libs/watify/pkg/package.json
  libs/watify/pkg/watify.d.ts
  libs/watify/pkg/watify.js
  libs/watify/pkg/watify_bg.js
  libs/watify/pkg/watify_bg.wasm
  libs/watify/pkg/watify_bg.wasm.d.ts
  libs/watify/src/lib.rs
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(deps): use the published watify package (#12678)
  libs/watify/.gitignore
  libs/watify/Cargo.lock
  libs/watify/Cargo.toml
  libs/watify/LICENSE
  libs/watify/README.md
  libs/watify/index.html
  libs/watify/pkg/LICENSE
  libs/watify/pkg/README.md
  libs/watify/pkg/package.json
  libs/watify/pkg/watify.d.ts
  libs/watify/pkg/watify.js
  libs/watify/pkg/watify_bg.js
  libs/watify/pkg/watify_bg.wasm
  libs/watify/pkg/watify_bg.wasm.d.ts
  libs/watify/src/lib.rs
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(interactive-example): ioslate messages to runner origin
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(ix): fix types
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ix): avoid controller reset in chocies
  client/src/lit/interactive-example/index.js
Due: prettier --ignore-unknown --write, eslint --fix

use the mdn-scoped watify
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fixed import
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ix/choices): prefill unsupported mask
  client/src/lit/interactive-example/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ix/choice): set first choice on initial load
  client/src/lit/interactive-example/choice.js
  client/src/lit/interactive-example/index.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(workflows): add review-deploy workflow
  .github/workflows/review-deploy.yml
Due: prettier --ignore-unknown --write

test(workflow/review-deploy): trigger on push to this branch
  .github/workflows/review-deploy.yml
Due: prettier --ignore-unknown --write

fixup! feat(workflows): add review-deploy workflow
  .github/workflows/review-deploy.yml
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
