Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

remove mp3
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  filecheck/checker.ts
  testing/tests/filecheck.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix filesize check issue
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

Apply remaining suggestions
  filecheck/checker.ts
  testing/tests/filecheck.test.ts
  testing/tests/filechecker/files/en-us/_Group Data.json
  testing/tests/filechecker/files/en-us/animation.flv
  testing/tests/filechecker/files/en-us/samplefiles-html/index.html
  testing/tests/filechecker/files/en-us/samplefiles-html/onhandler.svg
  testing/tests/filechecker/files/en-us/samplefiles-html/orphan.png
  testing/tests/filechecker/files/en-us/samplefiles-html/png.jpeg
  testing/tests/filechecker/files/en-us/samplefiles-html/script.svg
  testing/tests/filechecker/files/en-us/samplefiles-html/zero.gif
  testing/tests/filechecker/files/en-us/samplefiles-md/circle.svg
  testing/tests/filechecker/files/en-us/samplefiles-md/index.md
  testing/tests/filechecker/files/en-us/samplefiles-md/orphan.png
  testing/tests/filechecker/files/en-us/samplefiles-paren(theses)/index.md
  testing/tests/filechecker/files/en-us/samplefiles-upperCase/index.md
Due: prettier --ignore-unknown --write, eslint --fix

Ignore desktop metadata files
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

rebase
  testing/tests/filecheck.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

reasons -> errors
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build): better error message for bad .env configs
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

update check
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

small change
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix TypeScript error
  scripts/ai-help-macros.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): use GPT-3.5 for free users
  client/src/plus/ai-help/banners.tsx
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/landing.scss
  client/src/plus/ai-help/landing.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! fix(ai-help): use GPT-3.5 for free users
  client/src/plus/ai-help/banners.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): avoid plainHTML for other locales
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): use GPT-3.5 for free users (#10205)
  client/src/plus/ai-help/banners.tsx
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/landing.scss
  client/src/plus/ai-help/landing.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): avoid plainHTML for other locales (#10206)
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

Use badge for {{secureContext_inline}}
  kumascript/macros/secureContext_inline.ejs
Due: prettier --ignore-unknown --write

Replace call to {{Compat}} form {{WebExtAllCompatTables}}
  kumascript/macros/WebExtAllCompatTables.ejs
Due: prettier --ignore-unknown --write

Remove unused "lang"
  kumascript/macros/secureContext_inline.ejs
Due: prettier --ignore-unknown --write

Update kumascript/macros/secureContext_inline.ejs
  kumascript/macros/secureContext_inline.ejs
Due: prettier --ignore-unknown --write

feat(build): add Macro render report
  build/cli.ts
  kumascript/src/render.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/CSSRef): update zh-CN translation
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

fix previous 'margins, borders and padding'
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

chore(macros/GamesSidebar) init zh-CN translation of GamesSidebar
  kumascript/macros/GamesSidebar.ejs
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  kumascript/macros/GamesSidebar.ejs
Due: prettier --ignore-unknown --write

Fix special cases in CSS_Ref macro
  kumascript/macros/CSS_Ref.ejs
Due: prettier --ignore-unknown --write

fix(build): avoid warning multiple times
  build/spas.ts
  build/utils.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macro/css-syntax): add zh-CN translation
  kumascript/src/lib/css-syntax.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(pong): gcp sends gb cc rather than uk
  libs/pong/cc2ip.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(pong): gcp sends gb cc rather than uk (#10286)
  libs/pong/cc2ip.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(macro): update CSSRef macro
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

fix(macro): update CSSRef macro (#10303)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

feat(ai-help): use markdown for context
  markdown/m2h/index.ts
  package.json
  scripts/ai-help-macros.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): only show for js,css,html
  client/src/document/code/playground.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(scripts): use pg instead of supabase
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  package.json
  scripts/ai-help-macros.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): don't allow empty questions
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): only show for js,css,html (#10338)
  client/src/document/code/playground.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(baseline): hide status from async-clipboard subfeatures
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(baseline): hide status from async-clipboard subfeatures (#10345)
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix
