Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Update kumascript/macros/CSSRef.ejs
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

reordered the links to match the order on CSS nesting module page
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

27180 css nesting (#9469)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

Fix blurry images
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

proper path in windows
  .eslintrc.cjs
Due: prettier --ignore-unknown --write

fix(eslint): support running in git submodule (#9578)
  .eslintrc.cjs
Due: prettier --ignore-unknown --write

feat(glean): add is_baseline metric to pings (#9476)
  client/src/app.tsx
  client/src/telemetry/generated/element.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/generated/page.ts
  client/src/telemetry/generated/pings.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(glean): add page's UTM parameters to pings
  client/src/telemetry/generated/page.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
Due: prettier --ignore-unknown --write, eslint --fix

refactor(scripts/ai-help): extract selectDocs helper
  scripts/ai-help.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): add {content,token_count,embedding} columns
  scripts/ai-help.sql
Due: prettier --ignore-unknown --write

refactor(scripts/ai-help): extract createEmbedding() helper
  scripts/ai-help.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(scripts/ai-help): create embeddings for full docs
  scripts/ai-help.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(glean): renew metrics
  client/src/telemetry/metrics.yaml
Due: prettier --ignore-unknown --write

chore(glean): renew metrics (#9592)
  client/src/telemetry/metrics.yaml
Due: prettier --ignore-unknown --write

fix(client/public): avoid global variable
  client/public/index.html
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(client/public): avoid global variable (#9619)
  client/public/index.html
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(banners): remove unused cta code (#8872)
  client/public/index.html
  client/src/banners/README.md
  client/src/banners/active-banner.tsx
  client/src/banners/banner-utils.ts
  client/src/banners/banner.scss
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/document/index.scss
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(stylelint): disable media-query-no-invalid rule
  .stylelintrc.json
Due: prettier --ignore-unknown --write

refactor(kumascript/css-syntax): migrate to @webref/css v6
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): bump @sentry/node from 7.67.0 to 7.68.0
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(dependabot): group `@sentry/*` updates
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

chore(dependabot): group `@types/*` minor/patch updates
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

fixup! refactor(kumascript/css-syntax): migrate to @webref/css v6
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Due: prettier --ignore-unknown --write, eslint --fix

chore(menu): remove playground new tag
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(menu): remove playground new tag (#9629)
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/LearnSidebar): update zh-CN translation of LearnSidebar
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

fix(placement): fix firing multiple impressions
  client/src/document/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Update LearnSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

"fix" test
  client/src/document/index.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feedback 1
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

ts
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip: use intersection observer in hook
  client/src/hooks.ts
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

simplify
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

don't trigger useEffect every render, can't use ref in useEffect
  client/src/hooks.ts
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(cookie-security): update link
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

chore(deps): bump @webref/css from 5.4.4 to 6.0.0 (#9621)
  kumascript/src/lib/css-syntax.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(cloud-function): migrate `url.parse()` to `new URL()`
  cloud-function/src/handlers/proxy-kevel.ts
  cloud-function/src/middlewares/lowercase-pathname.ts
  cloud-function/src/middlewares/resolve-index-html.ts
  cloud-function/src/middlewares/resolve-runner-html.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(cloud-function): migrate `url.parse()` to `new URL()`
  cloud-function/src/handlers/proxy-kevel.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(play): queue for play for any code.
  client/src/document/code/playground.ts
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
