Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

use 'MDN Discord Server'
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "fix(kumascript): mention path in render error message (#8936)"
  kumascript/index.ts
  kumascript/src/templates.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "fix(kumascript): mention path in render error message (#8936)" (#8951)
  kumascript/index.ts
  kumascript/src/templates.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/SeeCompatTable): add localization support for title
  kumascript/macros/SeeCompatTable.ejs
Due: prettier --ignore-unknown --write

fix(kumascript): mention path in render error message
  kumascript/index.ts
  kumascript/src/templates.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(kumascript): render without fileInfo.path
  kumascript/index.ts
  kumascript/src/templates.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(blog): add fileInfo.path to render context
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(webpack): declare audio/video/font files as modules
  client/src/react-app.d.ts
  server/react-app.d.ts
  ssr/react-app.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(kumascript): mention path in render error message (v2) (#8953)
  build/blog.ts
  kumascript/index.ts
  kumascript/src/templates.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix lazy loading
  client/public/runner.html
  client/src/playground/index.tsx
  client/src/playground/utils.ts
  kumascript/macros/LiveSampleURL.ejs
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/SeeCompatTable): localize "Experimental" title (#8952)
  kumascript/macros/SeeCompatTable.ejs
Due: prettier --ignore-unknown --write

refactor(libs): convert to TypeScript
  libs/constants/index.d.ts
  libs/constants/index.ts
  libs/constants/package.json
  libs/env/index.d.ts
  libs/env/index.ts
  libs/env/package.json
  libs/fundamental-redirects/index.d.ts
  libs/fundamental-redirects/index.ts
  libs/fundamental-redirects/package.json
  libs/languages/index.d.ts
  libs/languages/index.ts
  libs/languages/package.json
  libs/locale-utils/index.d.ts
  libs/locale-utils/index.ts
  libs/locale-utils/package.json
  libs/pong/cc2ip.d.ts
  libs/pong/cc2ip.ts
  libs/pong/click.d.ts
  libs/pong/click.ts
  libs/pong/coding.d.ts
  libs/pong/coding.ts
  libs/pong/fallback.d.ts
  libs/pong/fallback.ts
  libs/pong/get.d.ts
  libs/pong/get.ts
  libs/pong/image.d.ts
  libs/pong/image.ts
  libs/pong/index.js
  libs/pong/index.ts
  libs/pong/viewed.d.ts
  libs/pong/viewed.ts
  libs/slug-utils/index.d.ts
  libs/slug-utils/index.ts
  libs/slug-utils/package.json
Due: prettier --ignore-unknown --write, eslint --fix

fixes
  client/public/runner.html
  client/src/playground/index.scss
  client/src/playground/index.tsx
  client/src/playground/utils.ts
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

non heading code samples
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(constants): add pl to RETIRED_LOCALES
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(constants): add Polish to RETIRED_LOCALES (#8970)
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(toolbar): reduce height if read-only
  client/src/document/toolbar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ask): send request with credentials
  client/src/search/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ask): use finish_reason to determine end of message
  client/src/search/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ask): differentiate loading & responding
  client/src/search/ai.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ask): add some MDN-related questions
  client/src/search/ai.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(search/dialog): open via button next to UserMenu
  client/src/search/dialog.tsx
  client/src/ui-context.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
  client/src/ui/organisms/top-navigation-main/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(ask): add close button
  client/src/search/ai.scss
  client/src/search/ai.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps-dev): bump from pegjs tp peggy
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

regenerate parser.js using peggy
  kumascript/src/parser.js
  kumascript/src/parser.pegjs
Due: prettier --ignore-unknown --write, eslint --fix

re-add "use strict"
  kumascript/src/parser.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(kumascript): use url in render error
  kumascript/index.ts
  kumascript/src/templates.ts
Due: prettier --ignore-unknown --write, eslint --fix

feature: pride month 2023
  client/src/assets/mdn-docs-logo.svg
  client/src/assets/mdn-logo.svg
  client/src/assets/mdn-plus-logo.svg
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Use official invite which won't expire ever
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

lint fix
  client/src/homepage/homepage-hero/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

review updates
  build/blog.ts
  client/src/blog/post.scss
  client/src/blog/post.tsx
  content/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

lint fix
  client/src/blog/post.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

xlink:href -> href
  client/src/ui/atoms/logo/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/ui/molecules/mandala/index.tsx
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feature: pride month 2023 (#8979)
  client/src/assets/mdn-docs-logo.svg
  client/src/assets/mdn-logo.svg
  client/src/assets/mdn-plus-logo.svg
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(toolbar): reduce height if read-only (#8976)
  client/src/document/toolbar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(kumascript): use url in render error (#8978)
  kumascript/index.ts
  kumascript/src/templates.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar): implement filtering
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar): add filter field (w/o logic)
  client/src/document/organisms/sidebar/filter.tsx
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar): split query like quicksearch
  client/src/document/organisms/sidebar/filter.tsx
  client/src/search.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
