Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

css clean up
  client/src/curriculum/index.scss
  client/src/curriculum/layout.tsx
  client/src/curriculum/module.scss
  client/src/curriculum/module.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

rm
  client/src/curriculum/no-side.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): reduce @media screen max-width by 0.02
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

more css
  client/src/curriculum/index.scss
  client/src/curriculum/layout.tsx
  client/src/curriculum/module.scss
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(observatory): remove contribute.json test
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip(observatory): remove all filtering of tests in table
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip(observatory): simplify TEST_MAP logic
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): improve placement layout
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

style(prettier): run prettier-format
  client/pwa/tsconfig.json
  client/tsconfig.json
  cloud-function/tsconfig.json
  ssr/tsconfig.json
  tsconfig.json
Due: prettier --ignore-unknown --write

chore(deps): bump fast-xml-parser from 4.1.3 to 4.3.4
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): bump fast-xml-parser from 4.1.3 to 4.3.4 (#10460)
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps-dev): bump dependencies of react-dev-utils
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps-dev): bump dependencies of react-dev-utils (#10461)
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): resolve http-cache-semantics to 4.1.1
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): resolve http-cache-semantics to >=4.1.1 (#10462)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): resolve semver-regex to ^3.1.4
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): resolve semver-regex to ^3.1.4 (#10463)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): bump follow-redirects from 1.15.2 to 1.15.5 in /cloud-function
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

fix(workflows): cache `@vscode/ripgrep` bin in test job
  .github/workflows/testing.yml
Due: prettier --ignore-unknown --write

fix(workflows): cache `@vscode/ripgrep` bin in test job (#10471)
  .github/workflows/testing.yml
Due: prettier --ignore-unknown --write

chore(deps): bump follow-redirects from 1.15.2 to 1.15.5 in /cloud-function (#10464)
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

wip(observatory): misc css fixes
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps): bump semver v5 from 5.7.1 to 5.7.2
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): bump is-svg v4 from 4.3.2 to 4.4.0
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): bump is-svg v4 from 4.3.2 to 4.4.0 (#10473)
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): bump semver v5 from 5.7.1 to 5.7.2 (#10472)
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): bump semver in /cloud-function
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

chore(deps): bump semver v5 + v7 in /cloud-function (#10474)
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

wip(observatory): implement new error design
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(observatory): auto-fix some invalid hostnames
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip(observatory): add error message when input is empty
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

styles 1
  client/public/assets/curriculum/cur-landing-top.svg
  client/src/assets/icons/cur-landing-about-beginner.svg
  client/src/assets/icons/cur-landing-about-bullet.svg
  client/src/assets/icons/cur-landing-about-free.svg
  client/src/assets/icons/cur-landing-about-pace.svg
  client/src/assets/icons/cur-modules-underline-1.svg
  client/src/assets/icons/cur-modules-underline-2.svg
  client/src/assets/icons/cur-modules-underline-3.svg
  client/src/curriculum/about.tsx
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/modules-list.scss
  client/src/curriculum/overview.tsx
  client/src/curriculum/utils.ts
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

style fixes
  client/src/curriculum/index.scss
  client/src/curriculum/landing.scss
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

more svg
  client/public/assets/curriculum/cur-landing-top.svg
  client/src/assets/icons/cur-landing-started-advanced.svg
  client/src/assets/icons/cur-landing-started-beginner.svg
  client/src/assets/icons/cur-landing-started-educator.svg
  client/src/assets/icons/cur-landing-started-employment.svg
  client/src/curriculum/landing.scss
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

minor
  client/src/curriculum/landing.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

reuse layout
  client/src/assets/icons/cur-started-underline.svg
  client/src/curriculum/index.scss
  client/src/curriculum/landing.scss
  client/src/curriculum/layout.tsx
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(observatory): don't error out when loading non-FINISHED scans
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
  client/src/observatory/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

styles
  client/public/assets/curriculum/cur-landing-ladder-1.svg
  client/src/curriculum/landing.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(baseline): add custom elements group to blocklist
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(baseline): add custom elements group to blocklist (#10479)
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
