Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

use main for content
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(macros/CSSRef): update learn url base
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

fix(ci): use legacy for whatsdeployed
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

change menu item url
  client/src/ui/molecules/reference-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Fix: "head" element order
  client/public/index.html
  kumascript/src/live-sample.ts
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(placement): update Scrimba banner
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(placement): update Scrimba banner (#12385)
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): remove unnecessary GA4 pageview event
  client/src/document/index.tsx
  client/src/site-search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(client): remove unnecessary GA4 pageview event
  client/src/document/index.tsx
  client/src/site-search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(rari): propagate rari exit code
  bins/build.mjs
  bins/tool.mjs
Due: prettier --ignore-unknown --write

chore(lit): move into separate folder and make tsconfig stricter
  client/src/about/index.tsx
  client/src/community/index.tsx
  client/src/curriculum/landing.tsx
  client/src/curriculum/module.tsx
  client/src/lit/about.js
  client/src/lit/community/contributor-list.js
  client/src/lit/community/contributor-list.scss
  client/src/lit/community/types.d.ts
  client/src/lit/curriculum/scrim-inline.global.css
  client/src/lit/curriculum/scrim-inline.js
  client/src/lit/curriculum/scrim-inline.scss
  client/src/lit/globals.d.ts
  client/src/lit/modules.d.ts
  client/src/lit/play/console.js
  client/src/lit/play/console.scss
  client/src/lit/play/types.d.ts
  client/src/lit/tsconfig.json
  client/src/playground/index.tsx
  client/src/plus/collections/frequently-viewed.tsx
  client/src/react-app.d.ts
  client/src/settings/mdn-worker.tsx
  client/src/telemetry/glean-context.tsx
  client/src/user-context.tsx
  server/react-app.d.ts
  ssr/modules.d.ts
  ssr/react-app.d.ts
  ssr/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(survey): add house survey
  .github/workflows/stage-build.yml
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  bins/build.mjs
  bins/tool.mjs
Due: prettier --ignore-unknown --write

fix(rari): propagate rari exit code (#12397)
  bins/build.mjs
  bins/tool.mjs
Due: prettier --ignore-unknown --write

chore(client): remove unnecessary GA pageview event (#12396)
  client/src/document/index.tsx
  client/src/site-search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ci): use legacy for whatsdeployed (#12351)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

add prod dates
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

style: modified grid-row to auto to prevent extra whitespace in devices with height less than 704px.
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(baseline): asterisk support for baseline
  client/src/document/baseline-indicator.tsx
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(placement): change statimp -> statview
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(placement): change statimp -> statview (#12404)
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

House survey (#12402)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deployer): use non-parallel bulk operation
  deployer/src/deployer/search/__init__.py
Due: prettier --ignore-unknown --write

chore(deps): bump elasticsearch from 7.17.9 to 7.17.12 in /deployer
  deployer/poetry.lock
Due: prettier --ignore-unknown --write

chore(lit): move into separate folder and make tsconfig stricter (#12398)
  client/src/about/index.tsx
  client/src/community/index.tsx
  client/src/curriculum/landing.tsx
  client/src/curriculum/module.tsx
  client/src/lit/about.js
  client/src/lit/community/contributor-list.js
  client/src/lit/community/contributor-list.scss
  client/src/lit/community/types.d.ts
  client/src/lit/curriculum/scrim-inline.global.css
  client/src/lit/curriculum/scrim-inline.js
  client/src/lit/curriculum/scrim-inline.scss
  client/src/lit/globals.d.ts
  client/src/lit/modules.d.ts
  client/src/lit/play/console.js
  client/src/lit/play/console.scss
  client/src/lit/play/types.d.ts
  client/src/lit/tsconfig.json
  client/src/playground/index.tsx
  client/src/plus/collections/frequently-viewed.tsx
  client/src/react-app.d.ts
  client/src/settings/mdn-worker.tsx
  client/src/telemetry/glean-context.tsx
  client/src/user-context.tsx
  server/react-app.d.ts
  ssr/modules.d.ts
  ssr/react-app.d.ts
  ssr/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(deployer): use parallel_bulk() with single thread
  deployer/src/deployer/search/__init__.py
Due: prettier --ignore-unknown --write

fixup! Merge branch 'MP-1840-reduce-elasticsearch-bulk-load' into next
  deployer/src/deployer/search/__init__.py
Due: prettier --ignore-unknown --write

chore(deployer): use streaming_bulk()
  deployer/src/deployer/search/__init__.py
Due: prettier --ignore-unknown --write

chore(deps): bump elasticsearch from 7.17.9 to 7.17.12 in /deployer (#12412)
  deployer/poetry.lock
Due: prettier --ignore-unknown --write

fix(deployer): stream bulk actions to avoid rate limit (#12411)
  deployer/src/deployer/search/__init__.py
Due: prettier --ignore-unknown --write

chore(playground): migrate runner iframe to web component
  client/src/lit/play/runner.js
  client/src/lit/play/runner.scss
  client/src/playground/index.scss
  client/src/playground/index.tsx
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat: add <interactive-example> custom element
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/lit/glean-mixin.js
  client/src/lit/globals.d.ts
  client/src/lit/interactive-example.js
  client/src/lit/interactive-example.scss
  client/src/lit/play/console-utils.js
  client/src/lit/play/console.js
  client/src/lit/play/console.scss
  client/src/lit/play/controller.js
  client/src/lit/play/editor.js
  client/src/lit/play/editor.scss
  client/src/lit/play/runner.js
  client/src/lit/play/types.d.ts
  client/src/lit/theme-controller.js
  client/src/playground/index.scss
  client/src/playground/index.tsx
  client/src/setupProxy.js
  client/src/telemetry/glean-context.tsx
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(playground): migrate formatting to editor component
  client/src/lit/play/editor.js
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): editor was losing state if value set before component was ready
  client/src/lit/play/editor.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(playground): migrate editor to web component
  client/src/lit/play/editor.js
  client/src/lit/play/editor.scss
  client/src/playground/editor.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(playground): slash key would open search box
  client/src/search-utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(iframe): add 'allow-modals' to sandbox attribute.
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write

add copy
  client/src/document/baseline-indicator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
