Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Use page type instead of tags in WebExtAPISidebar
  kumascript/macros/WebExtAPISidebar.ejs
Due: prettier --ignore-unknown --write

Update server/index.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(kumascript): load badge templates by locale
  kumascript/src/lib/badges.ts
Due: prettier --ignore-unknown --write, eslint --fix

let the key be in lowercase
  kumascript/src/lib/badges.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove unnecessary return value
  kumascript/src/lib/badges.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(translate): LearnSidebar.ejs translate for Command line crash course
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

refactor(flaws): Make flaws functions asynchronous
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/sections.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(flaws): Add `wrong-language` flaw
  build/flaws/index.ts
  build/flaws/wrong-language.ts
  client/src/document/toolbar/flaws.tsx
  libs/constants/index.js
  libs/types/document.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

Update unittests
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Merge DeprecatedGeneric into Deprecated_Header
  kumascript/macros/Deprecated_Header.ejs
Due: prettier --ignore-unknown --write

Remove {{fx_minversion_note}} macro
  kumascript/macros/fx_minversion_note.ejs
Due: prettier --ignore-unknown --write

Merge {{secureContextGeneric}} into {{secureContext_header/inline}}
  kumascript/macros/secureContextGeneric.ejs
  kumascript/macros/secureContext_header.ejs
  kumascript/macros/secureContext_inline.ejs
Due: prettier --ignore-unknown --write

Rename {{SeeCompatTable}} macro to {{experimental_header}}
  kumascript/macros/SeeCompatTable.ejs
  kumascript/macros/experimental_header.ejs
Due: prettier --ignore-unknown --write

chore(macros): remove "Inheritance" from JS sidebars
  kumascript/macros/APIRef.ejs
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

fixup! chore(macros): remove "Inheritance" from JS sidebars
  kumascript/tests/macros/apiref.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update kumascript/src/lib/badges.ts
  kumascript/src/lib/badges.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/cssxref): don't lowercase CSS keyword
  kumascript/macros/cssxref.ejs
Due: prettier --ignore-unknown --write

refactor(macros/cssxref): rename {str => displayName}
  kumascript/macros/cssxref.ejs
Due: prettier --ignore-unknown --write

chore(macros): remove {{fx_minversion_note}} macro (#8257)
  kumascript/macros/fx_minversion_note.ejs
Due: prettier --ignore-unknown --write

fix(kumascript): cache badge templates by locale (#8252)
  kumascript/src/lib/badges.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(tool/macro-usage-report): add trailing slash for yari
  tool/macro-usage-report.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(tool/macro-usage-report): add trailing slash for yari (#8271)
  tool/macro-usage-report.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(breadcrumbs): add breadcrumb_click metric (#8227)
  client/src/telemetry/constants.ts
  client/src/ui/molecules/breadcrumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebars): add data-macro attr
  kumascript/macros/APIRef.ejs
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/QuickLinksWithSubpages.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebars): add sidebarMacro to Doc
  build/cli.ts
  build/extract-sidebar.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): expose sidebarMacro as data-macro
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar): add sidebar-click event
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(flaws): Improve flaws display page
  client/src/flaws/index.scss
  client/src/flaws/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(sidebar): extract getPathDistance()
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(utils): extract path functions from sidebar
  client/src/document/organisms/sidebar/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar): rename cleanup => removeEventListener + improve
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar): add "current_visible" to sidebar-click
  client/src/document/organisms/sidebar/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(telemetry): extract SIDEBAR_CLICK + use underscore
  client/src/document/organisms/sidebar/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar): use 0/1 for current_visible
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(utils): extract getBaseFontSize()
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(utils): compute base font size properly
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar): extract useSidebarMetricsCallback()
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar): rename {link => slug}_distance
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar): correct getPathDistance()
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
