Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

fix(macros/CSSSyntax): find item by name
  kumascript/macros/CSSSyntax.ejs
Due: prettier --ignore-unknown --write

fix(macros/CSSSyntax): collect values by name
  kumascript/macros/CSSSyntax.ejs
Due: prettier --ignore-unknown --write

fix(macros/CSSSyntax): update function name pattern
  kumascript/macros/CSSSyntax.ejs
Due: prettier --ignore-unknown --write

refactor(macros): use `mdn.localStringMap` instead of switch
  kumascript/macros/js_property_attributes.ejs
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  kumascript/macros/js_property_attributes.ejs
Due: prettier --ignore-unknown --write

Move parameter parsing to the beginning
  kumascript/macros/js_property_attributes.ejs
Due: prettier --ignore-unknown --write

fix(client): reduce pre/code font-size (#7676)
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(csp): remove polyfill.io from script-src
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

Revert "fix(ssr): escape colon in <title> (#7166)"
  ssr/render.ts
Due: prettier --ignore-unknown --write

div to aside for semantics
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Remove tags from cssxref
  kumascript/macros/cssxref.ejs
Due: prettier --ignore-unknown --write

Update tests
  kumascript/tests/macros/cssxref.test.ts
Due: prettier --ignore-unknown --write

Fix more tests, possibly
  kumascript/tests/index.test.ts
Due: prettier --ignore-unknown --write

Yet another failing test
  testing/content/files/en-us/web/css/number/index.html
Due: prettier --ignore-unknown --write

chore(macros/cssxref): use page-type to detect CSS Functions/Data Types (#7729)
  kumascript/macros/cssxref.ejs
  kumascript/tests/index.test.ts
  kumascript/tests/macros/cssxref.test.ts
  testing/content/files/en-us/web/css/number/index.html
Due: prettier --ignore-unknown --write

support undefined doc in article actions, improve mobile overlay logic
  client/src/app.scss
  client/src/banners/banner.scss
  client/src/plus/collections/collection.tsx
  client/src/ui-context.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(filecheck): use current working directory
  filecheck/cli.ts
Due: prettier --ignore-unknown --write

Improve Lighthouse accessibility score
  client/src/ui/organisms/article-actions-container/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(filecheck): allow to compress if the file is larger than MAX_FILE_SIZE
  filecheck/checker.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

add comment
  filecheck/checker.ts
Due: prettier --ignore-unknown --write

Keep page-not-created styles on visited links
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

chore: remove @types/react resolution
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Delete Note.ejs
  kumascript/macros/Note.ejs
Due: prettier --ignore-unknown --write

chore: remove deprecated Note macros
  kumascript/macros/Note.ejs
  kumascript/macros/NoteEnd.ejs
  kumascript/macros/NoteStart.ejs
Due: prettier --ignore-unknown --write

chore(deps): remove @types/react resolution (#7738)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Apply suggestions
  filecheck/checker.ts
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {Note,NoteStart,NoteEnd} macros (#7590)
  kumascript/macros/Note.ejs
  kumascript/macros/NoteEnd.ejs
  kumascript/macros/NoteStart.ejs
Due: prettier --ignore-unknown --write

refactor(macro-usage-report): move into tool
  tool/cli.ts
  tool/macro-usage-report.ts
Due: prettier --ignore-unknown --write

fix(macro-usage-report): add command interface
  tool/cli.ts
Due: prettier --ignore-unknown --write

feat(macro-usage-report): add JSON format
  tool/cli.ts
  tool/macro-usage-report.ts
Due: prettier --ignore-unknown --write

chore(macro-usage-report): only search deprecated macros if requested
  tool/macro-usage-report.ts
Due: prettier --ignore-unknown --write

feat(macro-usage-report): add --unused-only option
  tool/cli.ts
  tool/macro-usage-report.ts
Due: prettier --ignore-unknown --write

Update client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(filecheck): allow compress if file is larger than MAX_FILE_SIZE (#7734)
  filecheck/checker.ts
  libs/env/index.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(filecheck): use current working directory (#7732)
  filecheck/cli.ts
Due: prettier --ignore-unknown --write

fix(toc): make div, wrap in aside nav
  client/src/document/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/homepage/static-page/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar): make sidebar-inner the nav
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(nav): use <aside> and un-nested <nav>s for better semantics (#7400)
  client/src/document/index.tsx
  client/src/document/organisms/sidebar/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/homepage/static-page/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix
