Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(placement): fix on site search
  client/src/site-search/index.scss
  client/src/site-search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(telemetry): measure BCD table views + clicks
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(bcd): extract getCurrentStatus()
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(bcd): extract getStatus()
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(bcd): extract getCurrentSupportType()
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(bcd): extract SupportType
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(bcd): extract getCurrentSupportAttributes()
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! refactor(bcd): extract getCurrentSupportType()
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(telemetry): measure BCD support {type,attrs}
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): use "bcd:" for BCD table
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! enhance(telemetry): measure BCD support {type,attrs}
  client/src/document/ingredients/browser-compatibility-table/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(telemetry): measure links in BCD table
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix padding
  client/src/site-search/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feedback
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(placement): fix on site search (#12029)
  client/src/site-search/index.scss
  client/src/site-search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(server): clean-up (#11968)
  libs/env/index.d.ts
  libs/env/index.js
  server/index.ts
  server/static.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): migrate to googleapis/release-please-action
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

chore(language-menu): mark de as experimental
  client/src/ui/organisms/article-actions/language-menu/index.scss
  client/src/ui/organisms/article-actions/language-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(de): use experimental icon in banner
  client/src/document/molecules/localized-content-note/index.tsx
  client/src/document/molecules/note-banner/index.tsx
  client/src/types/notecards.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(test-de-build): remove MDN_MTC_PAT
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

chore(deps): migrate to googleapis/release-please-action (#12032)
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

chore(css): run `sass-migrator module --migrate-deps`
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop-xl.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop.scss
  client/src/document/ingredients/browser-compatibility-table/index-mobile.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/ui/_color-palette.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(css): use vars via wildcard
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop-xl.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop.scss
  client/src/document/ingredients/browser-compatibility-table/index-mobile.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Update client/src/ui/_color-palette.scss
  client/src/ui/_color-palette.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ssr): do not index German locale
  ssr/render.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "feat(build/cli): add {sort,from} options"
  build/cli.ts
  content/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "fix(build): avoid error with check-images"
  build/check-images.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(baseline): correct German BCD anchor
  client/src/document/baseline-indicator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(de): use translated-content-de only for de
  build/index.ts
  build/spas.ts
  client/src/document/molecules/localized-content-note/index.tsx
  client/src/document/on-github.tsx
  docs/envvars.md
  libs/env/index.d.ts
  libs/env/index.js
  libs/locale-utils/index.d.ts
  libs/locale-utils/index.js
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "chore(content): resolve symlinks in findAll()"
  content/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/Deprecated_Header.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/SeeCompatTable.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/js_property_attributes.ejs
  kumascript/macros/secureContext_header.ejs
  libs/constants/index.js
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(de): abbreviate disclaimer
  client/src/document/molecules/localized-content-note/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(document-survey): support dynamic source
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(document-survey): add German evaluation survey
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(various): small fixes from diffing with rari
  build/flaws/broken-links.ts
  build/git-history.ts
  build/utils.ts
  kumascript/macros/GlossarySidebar.ejs
  kumascript/macros/InheritanceDiagram.ejs
  kumascript/macros/MathMLElement.ejs
  kumascript/macros/PreviousNext.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/SVGAttr.ejs
  kumascript/src/api/util.ts
  kumascript/src/api/web.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix svgattr test
  kumascript/tests/macros/svgattr.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

don't add href
  kumascript/src/api/web.ts
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
Due: prettier --ignore-unknown --write, eslint --fix

remove href for page-not-created
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove weird tests
  build/flaws/broken-links.ts
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
  testing/content/files/en-us/learn/css/css_layout/introduction/flex/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/index.html
Due: prettier --ignore-unknown --write, eslint --fix

update test
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
