Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(cloud-function): improve proxyContent router
  cloud-function/src/handlers/proxy-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): disallow unauthenticated access
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

chore(play): allow new review host
  cloud-function/README.md
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(play): allow new review host (#12711)
  cloud-function/README.md
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ix-choice): scrollbar at bottom and correct background color
  client/src/lit/interactive-example/index.scss
  client/src/lit/play/editor.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ix-choice): support dark mode
  client/src/lit/interactive-example/choice.css
  client/src/lit/play/runner.js
  client/src/lit/play/runner.scss
  client/src/lit/theme-controller.js
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(ix): extract runner defaults into type
  client/src/lit/play/runner.js
  client/src/lit/play/types.d.ts
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ix): fix csp error for blank.localhost
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ix-choice): keep same height for js demos
  client/src/lit/interactive-example/global.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(review-deploy): allow unauthenticated, restrict ingress
  .github/workflows/review-deploy.yml
Due: prettier --ignore-unknown --write

wip(ix): refactor choices/console/tabs into seperate classes
  client/src/lit/interactive-example/index.js
  client/src/lit/interactive-example/with-choices.js
  client/src/lit/interactive-example/with-console.js
  client/src/lit/interactive-example/with-tabs.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(ix): replace unsupported mask with array
  client/src/lit/interactive-example/with-choices.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(ix): post ready message after DOM loaded
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(ix): move choice js/css into cloud function
  client/src/lit/interactive-example/choice.css
  client/src/lit/interactive-example/choice.js
  client/src/lit/interactive-example/with-choices.js
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ix): split choice/update event handlers
  client/src/lit/interactive-example/with-choices.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(ix): small refactor to play-runner using iframe ref
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

wip(ix): small fixes to css
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(ix): fix check:tsc
  package.json
Due: prettier --ignore-unknown --write

Update test-build to use non default SA
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

Update stage and prod builds to use non-default SA
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(cloud-function): run with non default service account (#12723)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(review-deploy): simplify cron pattern
  .github/workflows/review-deploy.yml
Due: prettier --ignore-unknown --write

chore(review-deploy): remove unused invalidate input
  .github/workflows/review-deploy.yml
Due: prettier --ignore-unknown --write

chore(review-deploy): remove push trigger
  .github/workflows/review-deploy.yml
Due: prettier --ignore-unknown --write

fix(dev-build): exclude parent from upload
  .github/workflows/dev-build.yml
Due: prettier --ignore-unknown --write

feat(cloud-function): setup review environment (#12694)
  .github/workflows/dev-build.yml
  .github/workflows/review-deploy.yml
  .gitignore
  cloud-function/README.md
  cloud-function/src/env.ts
  cloud-function/src/handlers/proxy-content-assets.ts
  cloud-function/src/handlers/proxy-content.ts
  cloud-function/src/middlewares/require-origin.ts
  deployer/README.md
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): ignore cached 404 page when WILDCARD_ENABLED
  cloud-function/src/handlers/proxy-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): cache 404 page when ok and not wildcard
  cloud-function/src/handlers/proxy-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci: simplify cron expression
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci: simplify cron expression (#12729)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(cloud-function): improve 404 fallback handling (#12730)
  cloud-function/src/handlers/proxy-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): override Cache-Control for Review environment
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): override Cache-Control for Review environment (#12742)
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(interactive-examples): support CSS examples (#12664)
  client/src/lit/interactive-example/global.scss
  client/src/lit/interactive-example/index.js
  client/src/lit/interactive-example/index.scss
  client/src/lit/interactive-example/utils.js
  client/src/lit/interactive-example/with-choices.js
  client/src/lit/interactive-example/with-console.js
  client/src/lit/interactive-example/with-tabs.js
  client/src/lit/play/editor.js
  client/src/lit/play/editor.scss
  client/src/lit/play/runner.js
  client/src/lit/play/runner.scss
  client/src/lit/play/types.d.ts
  client/src/lit/theme-controller.js
  libs/play/index.js
  package.json
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(play): avoid double-slash in runner URL (#12655)
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(client): implement basic BCD lit
  client/src/document/index.tsx
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/lit/compat/bcd-table.js
  client/src/lit/compat/feature-row.ts
  client/src/lit/compat/index-desktop-md.scss
  client/src/lit/compat/index-desktop-xl.scss
  client/src/lit/compat/index-desktop.scss
  client/src/lit/compat/index-mobile.scss
  client/src/lit/compat/index.scss
  client/src/lit/compat/lazy-bcd-table.js
  client/src/lit/compat/legend.ts
  client/src/lit/compat/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(client): implement basic BCD lit
  client/src/document/index.tsx
  client/src/lit/compat/lazy-bcd-table.js
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fixup! feat(compat): implement BCD table with notes
  client/src/lit/compat/index-desktop.scss
  client/src/lit/compat/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
