Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix tab bar on small screens in webkit
  client/src/observatory/results.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(npm-published-simulation): curl with --fail
  .github/workflows/npm-published-simulation.yml
Due: prettier --ignore-unknown --write

fix(package): run render:html on prepack
  package.json
Due: prettier --ignore-unknown --write

fix(package): run render:html on prepack (#11368)
  .github/workflows/npm-published-simulation.yml
  package.json
Due: prettier --ignore-unknown --write

minor fixes and new svgs
  client/public/assets/curriculum/enter-fullscreen.svg
  client/src/assets/icons/enter-fullscreen.svg
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): updated FAQ
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

remove more tests
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove more tests
  testing/tests/headless.index.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): MP-1269 fix test order stability
  client/src/observatory/results/tests.tsx
  client/src/observatory/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): MP-736 fix link to old observatory
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): MP-1275 display scan times in the near past as humanized durations
  client/src/observatory/results/human-duration.tsx
  client/src/observatory/results/rating.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/observatory/results.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): MP-1275 change to "1 minute" and wrap in time element
  client/src/observatory/results/human-duration.tsx
Due: prettier --ignore-unknown --write, eslint --fix

use the launch announcement branch of mdn studio
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(observatory): update title/description for SEO
  build/spas.ts
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): MP-1284 fix cookie table
  client/src/observatory/results.scss
  client/src/observatory/results/cookies.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): MP-1282 striped tables
  client/src/observatory/results.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): MP-1284 correct matching for cookie prefix
  client/src/observatory/results/cookies.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): MP-1257 Tabs role and aria-props
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): MP-1284 adjust the viewbox of a landing page icon slightly
  client/public/assets/observatory/mdn.svg
Due: prettier --ignore-unknown --write

fix(observatory): small style adjustment for lines illustration on landing page
  client/src/observatory/landing.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): removed paragraph from FAQ
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

fix(env): update required node engine to v18.18
  .nvmrc
  package.json
Due: prettier --ignore-unknown --write

reverting special mdn-studio ref for stage deployment
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(test-build): enable placements
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

Update .nvmrc
  .nvmrc
Due: prettier --ignore-unknown --write

chore(spas): add HTTP Observatory launch blog to homepage
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): reduce FAQ heading level
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

fix(observatory): tabs
  client/src/observatory/results.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix on blog
  client/src/blog/post.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix MP-1262
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): apply meta description to all pages
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): MP-1243 show the F grade in the chart
  client/src/observatory/results/benchmark.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(obseratory): input placeholder cut off
  client/src/observatory/landing.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix grade change indicator
  client/src/observatory/results/rating.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix grade change dependency
  client/src/observatory/results/rating.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): latest FAQ doc
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
