Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

enhance(bcd): prefix release date title
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

update content-hash
  deployer/poetry.lock
Due: prettier --ignore-unknown --write

chore(ui): Update firefox.svg and simple-firefox.svg to use browser logo (#12107)
  client/src/assets/icons/firefox.svg
  client/src/assets/icons/simple-firefox.svg
Due: prettier --ignore-unknown --write

updated @sentry/browser dependency
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(footer): add Bluesky link
  client/src/assets/icons/bluesky.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Apply suggestions from code review
  client/src/newsletter/index.tsx
  client/src/settings/newsletter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(newletter): deprecate newsletter (#12499)
  client/src/blog/index.tsx
  client/src/blog/post.tsx
  client/src/newsletter/index.tsx
  client/src/settings/newsletter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(footer): fix fill color of Mozilla logo in dark mode
  client/src/assets/moz-logo.svg
Due: prettier --ignore-unknown --write

chore(deployer): migrate to dependency groups (#12516)
  .github/workflows/pr-deployer.yml
  deployer/README.md
  deployer/poetry.lock
  deployer/pyproject.toml
Due: prettier --ignore-unknown --write

first cut of console output comparison for interactive examples
  package.json
  tool/cli.ts
  tool/compare.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

console log comparison
  package.json
  tool/compare.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

some refactoring
  package.json
  tool/compare.ts
Due: prettier --ignore-unknown --write, eslint --fix

lockfile
  yarn.lock
Due: prettier --ignore-unknown --write

intermediate commit
  tool/compare.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(test-build): allow specifiying translated-content ref
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(deployer): avoid GitHub mentions (#12429)
  deployer/src/deployer/analyze_pr.py
Due: prettier --ignore-unknown --write

fix(ui): check for `addEventListener` on `MediaQueryList` (#12448)
  client/src/ui-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(tool): remove build-robots-txt command
  package.json
  tool/build-robots-txt.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(tool): remove robots.txt test
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

sufficiently stable now
  tool/compare.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(footer): use currentColor for Mozilla logo (#12541)
  client/src/assets/moz-logo.svg
Due: prettier --ignore-unknown --write

refactor(cloud-function): don't return value in handler
  cloud-function/src/handlers/handle-stripe-plans.ts
  cloud-function/src/handlers/proxy-bsa.ts
  cloud-function/src/handlers/proxy-kevel.ts
  cloud-function/src/handlers/proxy-pong.ts
  cloud-function/src/middlewares/require-origin.ts
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(test-build): allow specifiying translated-content ref (#12562)
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

chore(deps): downgrade @google-cloud/functions-framework
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

chore(deps): bump dependencies in /cloud-function
  cloud-function/package-lock.json
Due: prettier --ignore-unknown --write

fix(interactive-examples): correct heights
  client/src/lit/interactive-example.global.scss
  client/src/lit/interactive-example.scss
  client/src/lit/play/console.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(interactive-examples): add name attribute
  client/src/lit/interactive-example.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(client): implement basic BCD lit
  client/src/document/index.tsx
  client/src/lit/compat/lazy-bcd-table.js
Due: prettier --ignore-unknown --write, eslint --fix

minor tweaks
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

update rari
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(interactive-examples): use old string quoting logic
  client/src/lit/play/console.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(play): log non-structured-cloneable objects better
  client/src/lit/play/console-utils.js
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(client): implement basic BCD lit
  client/src/document/index.tsx
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/lit/compat/bcd-table.js
  client/src/lit/compat/feature-row.ts
  client/src/lit/compat/index-desktop-md.scss
  client/src/lit/compat/index-desktop-xl.scss
  client/src/lit/compat/index-desktop.scss
  client/src/lit/compat/index-mobile.scss
  client/src/lit/compat/index.scss
  client/src/lit/compat/lazy-bcd-table.js
  client/src/lit/compat/legend.ts
  client/src/lit/compat/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(compat): implement BCD table with notes
  client/src/lit/compat/bcd-table.js
  client/src/lit/compat/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(compat): pass down {compat,browserInfo}
  client/src/lit/compat/bcd-table.js
  client/src/lit/compat/lazy-bcd-table.js
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(compat): implement BCD table with notes
  client/src/lit/compat/bcd-table.js
  client/src/lit/compat/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! fixup! feat(compat): implement BCD table with notes
  client/src/lit/compat/index-desktop.scss
  client/src/lit/compat/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(compat): use popover
  client/src/lit/compat/bcd-table.js
  client/src/lit/compat/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(compat): improve popover
  client/src/lit/compat/bcd-table.js
  client/src/lit/compat/feature-row.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: resolve check:tsc errors
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix
