Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(build): set `@mdn/bcd-utils-api` as build dependency (#7871)
  package.json
Due: prettier --ignore-unknown --write

fix(search) improve loading/error message (#7869)
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

change(plus): link to sumo for documentation
  client/src/app.scss
  client/src/plus/plus-docs/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/molecules/submenu/index.tsx
  copy/plus/faq.md
  copy/plus/features/collections.md
  copy/plus/features/notifications.md
  copy/plus/features/offline.md
  copy/plus/features/overview.md
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(server): update bcd-utils-api to 0.0.3
  package.json
  server/index.ts
  yarn.lock
Due: prettier --ignore-unknown --write

fix(server): update bcd-utils-api to 0.0.3 (#7912)
  package.json
  server/index.ts
  yarn.lock
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

fix testing/integration tests to work with rumba
  testing/integration/conftest.py
  testing/integration/headless/map_301.py
  testing/integration/headless/test_cdn.py
  testing/integration/headless/test_endpoints.py
Due: prettier --ignore-unknown --write

remove healthz check, treat LambdaGeneratedResponse as miss
  testing/integration/headless/test_cdn.py
Due: prettier --ignore-unknown --write

add name to action
  .github/workflows/testing-integration.yml
Due: prettier --ignore-unknown --write

add github action
  .github/workflows/testing-integration.yml
Due: prettier --ignore-unknown --write

test against https
  .github/workflows/testing-integration.yml
Due: prettier --ignore-unknown --write

don't fail fast
  .github/workflows/testing-integration.yml
Due: prettier --ignore-unknown --write

run against stage + prod in one action, test slack notification
  .github/workflows/testing-integration.yml
Due: prettier --ignore-unknown --write

go back to matrix, unsurprisingly it's faster
  .github/workflows/testing-integration.yml
Due: prettier --ignore-unknown --write

only slack notify on failure
  .github/workflows/testing-integration.yml
Due: prettier --ignore-unknown --write

fix(build): copy images that are in default locale only to l10n folder
  build/check-images.ts
  build/cli.ts
  build/index.ts
  testing/tests/index.test.ts
  testing/translated-content/files/zh-cn/web/foo/index.md
Due: prettier --ignore-unknown --write

fix(ssr): use different language tag when with duplicate langs
  ssr/render.ts
Due: prettier --ignore-unknown --write

add hreflang tag testing
  testing/tests/index.test.ts
  testing/translated-content/files/zh-cn/web/foo/index.md
Due: prettier --ignore-unknown --write

add comments
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write

fix(offline): don't intercept api/v? requests
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/service-worker.ts
Due: prettier --ignore-unknown --write

fix(offline): don't intercept api/v? requests (#7930)
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/service-worker.ts
Due: prettier --ignore-unknown --write

add error handling, disabled state. Add new api endpoint
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

update url
  client/src/plus/updates/api.ts
Due: prettier --ignore-unknown --write

feature(plus): add mdn plus newsletter
  client/src/plus/common/api.tsx
  client/src/settings/index.tsx
  client/src/settings/newsletter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

remove log
  client/src/plus/updates/api.ts
Due: prettier --ignore-unknown --write

fix lint
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(plus): send daily ping about offline feature status
  client/src/app.tsx
  client/src/hooks.ts
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add banner and dot
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/constants.ts
  client/src/settings/newsletter.tsx
  client/src/telemetry/constants.ts
  client/src/ui/molecules/user-menu/index.scss
  client/src/ui/molecules/user-menu/index.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

set offline settings in swr
  client/src/hooks.ts
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

check if we're on the server
  client/src/hooks.ts
Due: prettier --ignore-unknown --write

fix pinging on every pageload, and while a user was logged out
  client/src/hooks.ts
Due: prettier --ignore-unknown --write

copy and show banner only if not subscribed
  client/src/banners/index.tsx
  client/src/settings/newsletter.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

updates mdnsidebar
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write

Update Kumascript readme to reduce line length
  docs/kumascript/README.md
Due: prettier --ignore-unknown --write

Update Kumascript readme to only instruct deletion of wiki.languages() macro
  docs/kumascript/README.md
Due: prettier --ignore-unknown --write

Remove entire section as irrelevant
  docs/kumascript/README.md
Due: prettier --ignore-unknown --write

Remove "Broken wiki.languages() macros" section from Kumascript readme (#7947)
  docs/kumascript/README.md
Due: prettier --ignore-unknown --write

feature toggle
  .github/workflows/stage-build.yml
  client/src/banners/index.tsx
  client/src/env.ts
  client/src/settings/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

move the dot up!
  client/src/ui/molecules/user-menu/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

MP-233: send daily ping about offline feature status (#7940)
  client/src/app.tsx
  client/src/hooks.ts
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
