Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix(article-footer): reduce space below contribute link
  client/src/document/organisms/article-footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(macro): include level two functions in CSSRef mcaro
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

Revert auto formatted indentations
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

revert an indentation
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

fix(bcd): Fix tooltip for removed features
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  kumascript/macros/A11yRef.ejs
Due: prettier --ignore-unknown --write

chore(macros): Deprecate no_tag_omission macro
  kumascript/macros/no_tag_omission.ejs
Due: prettier --ignore-unknown --write

chore(macros): Deprecate screenshot URL parameter in EmbedLiveSample
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write

chore(telemetry): remove and migrate GA measurements to Glean (#10527)
  client/src/document/index.tsx
  client/src/site-search/index.tsx
  client/src/site-search/search-results.tsx
  client/src/telemetry/constants.ts
  client/src/ui/molecules/a11y-nav/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): measure theme switcher clicks
  client/src/telemetry/constants.ts
  client/src/ui/molecules/theme-switcher/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): Deprecate no_tag_omission macro (#10686)
  kumascript/macros/no_tag_omission.ejs
Due: prettier --ignore-unknown --write

fix(article-footer): reduce illustration size (#10678)
  client/src/document/organisms/article-footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(article-footer): show red heart emoji in Chrome/Edge (#10677)
  client/src/document/organisms/article-footer/index.scss
  client/src/document/organisms/article-footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! chore(telemetry): measure theme switcher clicks
  client/src/ui/molecules/theme-switcher/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry): measure link/button clicks properly
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry): measure link/button clicks properly (#10707)
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): measure theme switcher clicks (#10698)
  client/src/telemetry/constants.ts
  client/src/ui/molecules/theme-switcher/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(telemetry): measure served ad locations
  client/src/placement-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Fix a few Spanish typos in the sidebar
  kumascript/macros/HTTPSidebar.ejs
  kumascript/tests/macros/HTTPSidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix a few Spanish typos and mistranslations in the sidebar
  kumascript/macros/HTTPSidebar.ejs
  kumascript/tests/macros/HTTPSidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

test(flaws): test that fallback links are not in broken links
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! test(flaws): test that fallback links are not in broken links
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(flaws): test that fallback links are fixabln broken link flaws
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! test(flaws): test that fallback links are fixabln broken link flaws
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update testing/tests/index.test.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(flaws): don't report link to missing translation as broken if en-US fallback exists (#9408)
  build/flaws/broken-links.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): show stopped message once + restore search animation (#10632)
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(bcd): fix tooltip for removed features (#10684)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update kumascript/macros/EmbedLiveSample.ejs
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write

chore(macros/EmbedLiveSample): deprecate screenshot URL parameter (#10697)
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write

fix(csp): allow GA via Google Tag Manager
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(csp): allow GA via Tag Manager (#10715)
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

Address other missing translations
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

fix(cli): add popularities to "yarn start" script
  package.json
Due: prettier --ignore-unknown --write

fix(curriculum-card): expand clickable area
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(telemetry): measure served placement types (#10708)
  client/src/placement-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Fix typo
  package.json
Due: prettier --ignore-unknown --write

fix(search): remove "not" from stopwords (#10644)
  deployer/src/deployer/search/models.py
Due: prettier --ignore-unknown --write
