Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

ci(xyz-build): allow manual execution
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

chore(gcp/function): use live-samples.mdn.mozilla.net
  gcp/function/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(gcp/function): wrap with @sentry/serverless
  .github/workflows/xyz-build.yml
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(xyz-build): invalidate CDN once function is deployed
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fixup! ci(xyz-build): invalidate CDN once function is deployed
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fixup! feat(gcp/function): wrap with @sentry/serverless
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

Revert "ci(xyz-build): temporarily remove build/sync"
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): use live-samples subdomain
  .github/workflows/xyz-build.yml
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(gcp/function): add X-Forwarded headers for Telemetry
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(gcp/function): do not change origin
  .github/workflows/xyz-build.yml
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fix(gcp/function): do not change origin
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(gcp/function): set timeout to 20s
  gcp/function/src/handlers/rumba.ts
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(gcp/function): remove prepandPath: true (default value)
  gcp/function/src/handlers/content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(gcp/function): set timeout to 20s
  gcp/function/src/handlers/content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(gcp/function): remove prepandPath: true (default value)
  gcp/function/src/handlers/content.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(gcp/function): stop redirecting leading slash
  gcp/function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "chore(gcp/function): stop redirecting leading slash"
  gcp/function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(xyz-build: reduce timeout to 30s
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): increase max-instances
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

chore(gcp/function): set keep-alive on Glean proxy
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(xyz-build): set min-instances = 1
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fixup! Revert "ci(xyz-build): temporarily remove build/sync"
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

Revert changes to `index-desktop.scss`
  client/src/document/ingredients/browser-compatibility-table/index-desktop.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Make BCD table sticky for `screen-md` and above
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Fix linting
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert changes to `index.scss`
  client/src/document/ingredients/browser-compatibility-table/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feedback 2
  libs/pong/get.js
  libs/pong/yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(live-samples): use live-samples.mdn.mozilla/allizom.net (#8573)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/pwa/src/service-worker.ts
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

ci(stage-build): deploy Cloud Function in multiple regions (#8540)
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): disable build
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

chore(gcp/function): forward telemetry to stage
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): remove MDN Plus launch banner (#8575)
  client/src/banners/active-banner.tsx
  client/src/banners/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "chore(gcp/function): forward telemetry to stage"
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(gcp/function): set logLevel = debug
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(gcp/function): set secure = false
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(gcp/function): test with httpbin.org
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(gcp/function): test with httpbin.org
  gcp/function/src/handlers/telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix
