Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix typo
  client/src/playground/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): avoid duplicate focus events
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(icons): use rotated thumbs-up as thumbs-down
  client/src/assets/icons/thumbs-down.svg
Due: prettier --ignore-unknown --write

fix(glean): gleanClick changes between re-renders
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(glean): avoid gleanClick changing between re-renders (#9108)
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(icons): use SVG transform for thumbs-down
  client/src/assets/icons/thumbs-down.svg
Due: prettier --ignore-unknown --write

fix(icons): use rotated thumbs-up as thumbs-down (#9107)
  client/src/assets/icons/thumbs-down.svg
Due: prettier --ignore-unknown --write

style: run stylelint fix
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix reload
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feedback 3
  .github/workflows/stage-build.yml
  build/cli.ts
  client/public/runner.html
  client/src/env.ts
  client/src/playground/console.tsx
  client/src/playground/editor.tsx
  client/src/playground/index.tsx
  client/src/playground/utils.ts
  client/src/ui/atoms/icon/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
  cloud-function/src/middlewares/resolve-runner-html.ts
  docs/envvars.md
  kumascript/index.ts
  kumascript/src/live-sample.ts
  libs/env/index.d.ts
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix tooltip
  client/src/document/molecules/tooltip/index.scss
  client/src/document/molecules/tooltip/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

sessionStorage only session
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

clean up ready event
  client/public/runner.html
  client/src/playground/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

lint
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix safari bug
  client/public/runner.html
Due: prettier --ignore-unknown --write

fix(ai-help): avoid mutating state in reducer
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): throw when dispatch event refers to missing message
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): reset message-index
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): avoid reading localStorage on every render
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): hide raw output behind #debug hash
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): show example category colors on hover
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): pass body/footer as refs to useAutoScroll()
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): mark external links with icon
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

safari mobile fixes
  client/src/document/index.scss
  client/src/playground/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): remove status class from content
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fix(ai-help): pass body/footer as refs to useAutoScroll()
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): add missing effect dependency
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): add 0.5rem button padding
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "chore(ai-help): show example category colors on hover"
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

prep for prod
  .github/workflows/prod-build.yml
  client/src/blog/post.tsx
  client/src/document/molecules/tooltip/index.tsx
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

adjust CSP
  libs/constants/index.js
  server/middlewares.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix csp
  client/public/runner.html
  libs/constants/index.js
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove "load unsafe content"
  client/public/runner.html
  client/src/document/hooks.ts
  client/src/playground/index.scss
  client/src/playground/index.tsx
  cloud-function/src/app.ts
  cloud-function/src/env.ts
  cloud-function/src/headers.ts
  cloud-function/src/middlewares/resolve-runner-html.ts
  kumascript/macros/LiveSampleURL.ejs
  kumascript/src/live-sample.ts
  kumascript/tests/macros/EmbedLiveSample.test.ts
  kumascript/tests/macros/LiveSampleURL.test.ts
  libs/constants/index.d.ts
  libs/constants/index.js
  server/index.ts
  server/middlewares.ts
  testing/tests/headless.index.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): load AiHelp lazily
  client/src/plus/ai-help/index.tsx
  client/src/plus/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

drop body
  client/public/runner.html
Due: prettier --ignore-unknown --write

no more sample param and new live-samples
  client/src/document/hooks.ts
  client/src/playground/index.tsx
  client/src/playground/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(offer-overview): move AI Help down
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

telemetry
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/playground/index.tsx
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feedback
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

(final) feedback
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input
