Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(login-banner): improve responsiveness
  client/src/plus/common/login-banner.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(telemetry): mark unused constants as deprecated
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! refactor(client): extract PlusLoginBanner
  client/src/playground/forms.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): update login/signup constants
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): remove unused constants + mention in JSDoc
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(client): rename SignInLink to LogInLink
  client/src/plus/common/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/ui/atoms/login-link/index.scss
  client/src/ui/atoms/login-link/index.tsx
  client/src/ui/atoms/signup-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(document-survey): adjust margins and widths (#9364)
  client/src/ui/molecules/document-survey/index.scss
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(prod-build): update AI Help index
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

Add latex syntax highlighting
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(docs): add LaTeX syntax highlighting (#9366)
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: update minimum node version from 18.0 to 18.16
  package.json
Due: prettier --ignore-unknown --write

chore: update minimum node version from 18.0 to 18.16 (#9384)
  package.json
Due: prettier --ignore-unknown --write

update class on LogInLink component from signin-link to login-link
  client/src/ui/atoms/login-link/index.scss
  client/src/ui/atoms/login-link/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

simplify responsive css on login banner
  client/src/plus/common/login-banner.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

adjust site header so it doesn't overflow just prior to breakpoint
  client/src/ui/molecules/auth-container/index.scss
  client/src/ui/molecules/main-menu/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

enhance(signup): replace "Get MDN Plus" with "Sign up for free" (#9357)
  client/src/playground/forms.tsx
  client/src/plus/ai-help/banners.tsx
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/login-banner.tsx
  client/src/plus/app.tsx
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/plus/common/index.tsx
  client/src/plus/common/login-banner.scss
  client/src/plus/common/login-banner.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/plus/updates/index.tsx
  client/src/plus/updates/login-banner.scss
  client/src/plus/updates/login-banner.tsx
  client/src/telemetry/constants.ts
  client/src/ui/atoms/login-link/index.scss
  client/src/ui/atoms/login-link/index.tsx
  client/src/ui/atoms/signup-link/index.scss
  client/src/ui/atoms/signup-link/index.tsx
  client/src/ui/molecules/auth-container/index.scss
  client/src/ui/molecules/auth-container/index.tsx
  client/src/ui/molecules/main-menu/index.scss
  client/src/ui/organisms/top-navigation-main/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(signup-link): clicking led to 404
  client/src/ui/atoms/signup-link/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(signup-link): clicking led to 404 (#9390)
  client/src/ui/atoms/signup-link/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(baseline): add glean metrics
  client/src/document/baseline-indicator.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

added the Nesting pages to CSS Guides
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

added the links for the Guides sidebar for CSS Nesting
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

chore(docs/learn): add user research survey banner
  client/src/assets/icons/user-research.png
  client/src/document/index.tsx
  client/src/ui/molecules/user-research-survey/index.scss
  client/src/ui/molecules/user-research-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix lint
  client/src/ui/molecules/user-research-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

prevent images being inlined, our csp doesn't support it
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

fix css
  client/src/ui/molecules/user-research-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(docs/learn): add user research survey banner (#9405)
  client/config/webpack.config.js
  client/src/assets/icons/user-research.png
  client/src/document/index.tsx
  client/src/ui/molecules/user-research-survey/index.scss
  client/src/ui/molecules/user-research-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(build): stop report URL to not localized doc as broken
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(prism): enable Nginx syntax highlighting
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(prism): enable Nginx syntax highlighting (#9419)
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write, eslint --fix

add types for parameters
  build/blog.ts
  content/document.ts
  content/utils.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove duplicate translation type define
  content/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

removed the Using nesting selector page
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

feat(tool): Add progress bar to fix-flaws command
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

Catch errors and continue
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove unnecessary variables
  content/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix types
  kumascript/index.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

cast to any
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {{SectionOnPage}} macro
  kumascript/macros/SectionOnPage.ejs
Due: prettier --ignore-unknown --write

fix: add missing broken link reports
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix functional testing
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
