Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

Clarify relationship between REACT_APP_DEV_MODE & REACT_APP_WRITER_MODE
  docs/envvars.md
Due: prettier --ignore-unknown --write

Fix typo in error message in site-search/search-results.tsx (#9326)
  client/src/site-search/search-results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(flaws): stop reporting absolute MDN blog links as broken (#9080)
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar-filter): remove feedback footer (#9242)
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

style(css): disable media-query-no-invalid
  .stylelintrc.json
Due: prettier --ignore-unknown --write

fix(react): assign ReactElement to variable
  client/src/plus/plus-docs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): remove @types/hast
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(kumascript): await htmlValidator.validateString()
  kumascript/tests/macros/Compat.test.ts
  kumascript/tests/macros/DefaultAPISidebar.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/ListGroups.test.ts
  kumascript/tests/macros/Specifications.test.ts
  kumascript/tests/macros/addonsidebar.test.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/utils.test.ts
  kumascript/tests/macros/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): remove @types/hast (#9335)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): remove html-react-parser
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): remove html-react-parser (#9336)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(server/dev): default to NODE_ENV = "development"
  server/dev.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(server/dev): remove non-existing entries
  server/dev.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(server/dev): remove publicPath option
  server/dev.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(server/dev): set mode = "development"
  server/dev.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(server): remove devMiddlewares
  server/dev.ts
  server/middlewares.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(package): merge start:{dev-server,server}
  Procfile.dev
  package.json
Due: prettier --ignore-unknown --write

chore(deps-dev): remove webpack-{dev,hot}-middleware
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Add @babel/plugin-proposal-private-property-in-object as dev. dep.
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

enhance(release-please): include chore/enhance commits
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

fix(deps-dev): add @babel/plugin-proposal-private-property-in-object (#9338)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

enhance(release-please): include chore/enhance commits (#9339)
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

chore(server): remove dev middlewares + merge start:{dev-server,server} scripts (#8950)
  Procfile.dev
  package.json
  server/dev.ts
  server/middlewares.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(tools): better error handling for bash: yanr: command not found...
  build/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): migrate to stylelint-config-recommended-scss
  .stylelintrc.json
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps-dev): migrate to stylelint-config-recommended-scss (#9341)
  .stylelintrc.json
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

return early
  build/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(play): fix cursor jump on fist edit
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(deployer): escape markdown markup in link text (#8996)
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Due: prettier --ignore-unknown --write

remove else
  build/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update build/utils.ts
  build/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(build): handle missing BLOG_ROOT + log rg errors (#9340)
  build/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(play): fix cursor jump on first edit (#9356)
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(signup): replace "Get MDN Plus" with "Sign up for free"
  client/src/playground/forms.tsx
  client/src/plus/ai-help/login-banner.tsx
  client/src/plus/app.tsx
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/plus/updates/login-banner.tsx
  client/src/telemetry/constants.ts
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/atoms/signup-link/index.scss
  client/src/ui/atoms/signup-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(document-survey): adjust paddings/margins/widths
  client/src/ui/molecules/document-survey/index.scss
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(playground): remove space
  client/src/playground/forms.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(client): extract PlusLoginBanner
  client/src/playground/forms.tsx
  client/src/plus/ai-help/login-banner.tsx
  client/src/plus/common/login-banner.scss
  client/src/plus/common/login-banner.tsx
  client/src/plus/updates/login-banner.scss
  client/src/plus/updates/login-banner.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(client): rename/inline old login-banner.tsx
  client/src/plus/ai-help/banners.tsx
  client/src/plus/ai-help/index.tsx
  client/src/plus/updates/index.tsx
  client/src/plus/updates/login-banner.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(login-banner): revert to "Upgrade to MDN Plus"
  client/src/plus/common/login-banner.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(login-banner): add "[Upgrade to MDN Plus] for free"
  client/src/plus/common/login-banner.tsx
Due: prettier --ignore-unknown --write, eslint --fix
