Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

do not fold < 6 preview URLs
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Due: prettier --ignore-unknown --write

apply review suggestions
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Due: prettier --ignore-unknown --write

chore(macros/WASMSidebar): remove use of jsxref (#7132)
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Due: prettier --ignore-unknown --write

fix(pr-companion): fold sections with count (#7110)
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Due: prettier --ignore-unknown --write

Extract click to fn. Rename modals. remove mobile article actions
  client/src/banners/active-banner.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/settings/offline-settings.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/ui/organisms/article-actions/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

added subscription a nd get mdn plus clicks
  client/src/telemetry/constants.ts
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/atoms/subscribe-link/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

lints
  client/src/telemetry/glean-context.tsx
  client/src/ui/organisms/article-actions/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

use a hook instead of a function for clicks
  client/src/banners/active-banner.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/settings/offline-settings.tsx
  client/src/telemetry/glean-context.tsx
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/atoms/subscribe-link/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Use page types instead of tags in APIRef
  kumascript/macros/APIRef.ejs
  kumascript/src/info.ts
Due: prettier --ignore-unknown --write

Update apiref test data
  kumascript/tests/macros/fixtures/apiref/subpages.json
Due: prettier --ignore-unknown --write

Remove HPKP from HTTP Sidebar
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

Implement secure context banners in Yari
  build/index.ts
  build/inject-banners.ts
Due: prettier --ignore-unknown --write

fix(stylelint): block-no-empty
  .stylelintrc.json
  client/src/homepage/homepage-hero/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(stylelint): function-url-quotes
  .stylelintrc.json
  client/src/ui/molecules/document-survey/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(stylelint): color-named
  .stylelintrc.json
  client/src/banners/banner.scss
  client/src/document/index.scss
  client/src/document/toolbar/flaws.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/translations/differences/index.scss
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/notification/index.scss
  client/src/ui/molecules/card/index.scss
  client/src/writers-homepage/viewed-documents.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(stylelint): custom-property-no-missing-var-function
  .stylelintrc.json
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

chore: remove Storybook dependabot ignore
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

chore: add Dependabot for remaining yarn.lock
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

Add two BCD-powered banners
  build/inject-banners.ts
Due: prettier --ignore-unknown --write

Ignore BCD arrays and generally weird BCD queries
  build/inject-banners.ts
Due: prettier --ignore-unknown --write

Delete the `link` macro
  kumascript/macros/Link.ejs
Due: prettier --ignore-unknown --write

chore(macros): delete {{previousPage}} macro
  kumascript/macros/previousPage.ejs
Due: prettier --ignore-unknown --write

first attempt
  build/spas.ts
  client/src/homepage/recent-contributions/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(markdown): add Japanese localization (#7188)
  markdown/localizations/ja.json
Due: prettier --ignore-unknown --write

Allow alternate nightly spec URLs
  build/document-extractor.ts
Due: prettier --ignore-unknown --write

chore(macros): delete {{previousPage}} macro (#7238)
  kumascript/macros/previousPage.ejs
Due: prettier --ignore-unknown --write

first
  client/src/document/index.tsx
  client/src/ui/organisms/notes/index.scss
  client/src/ui/organisms/notes/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

notes 1
  client/src/document/index.tsx
  client/src/plus/notes/index.scss
  client/src/plus/notes/index.tsx
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

use notes from inside collection
  client/src/ui/organisms/notes/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Fixed typos
  kumascript/macros/HTMLRefTable.ejs
Due: prettier --ignore-unknown --write

notes 2
  client/src/document/index.tsx
  client/src/plus/notes/display/index.scss
  client/src/plus/notes/display/index.tsx
  client/src/plus/notes/edit/index.scss
  client/src/plus/notes/edit/index.tsx
  client/src/plus/notes/index.scss
  client/src/plus/notes/index.tsx
  client/src/ui/organisms/notes/index.scss
  client/src/ui/organisms/notes/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Use `page-report.yml` for locales (#7165)
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

lint
  client/src/document/index.tsx
  client/src/plus/notes/edit/index.tsx
  client/src/plus/notes/index.tsx
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

flex-end
  client/src/plus/notes/edit/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

chore(on-github): use localized page-report if not en-US
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore: yarn upgrade packages
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Use page type instead of tags for CSSSyntax macro
  kumascript/macros/CSSSyntax.ejs
Due: prettier --ignore-unknown --write

fix(build): stop caching kumascript render
  build/document-extractor.ts
  build/index.ts
  kumascript/index.ts
  kumascript/src/api/util.ts
  server/index.ts
Due: prettier --ignore-unknown --write

rename renderedHtml
  build/index.ts
  kumascript/tests/index.test.ts
Due: prettier --ignore-unknown --write

test(kumascript): get result from cheerio
  kumascript/tests/index.test.ts
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
