Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fixup! ci: remove xyz-build
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

refactor(cloud-function): cleanup imports
  cloud-function/src/env.ts
  cloud-function/src/handlers/handle-stripe-plans.ts
  cloud-function/src/handlers/proxy-kevel.ts
  cloud-function/src/handlers/proxy-telemetry.ts
  cloud-function/src/headers.ts
  cloud-function/src/middlewares/lowercase-pathname.ts
  cloud-function/src/middlewares/redirect-fundamental.ts
  cloud-function/src/middlewares/redirect-leading-slash.ts
  cloud-function/src/middlewares/redirect-locale.ts
  cloud-function/src/middlewares/redirect-moved-pages.ts
  cloud-function/src/middlewares/redirect-trailing-slash.ts
  cloud-function/src/middlewares/require-origin.ts
  cloud-function/src/middlewares/resolve-index-html.ts
  cloud-function/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

workaround(content-proxy): 404 on slugs with dot
  cloud-function/src/handlers/proxy-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(cloud-function): remove unused function
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

workaround(content-proxy): fix workaround
  cloud-function/src/handlers/proxy-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): use path as slug, not full url with query
  cloud-function/src/middlewares/resolve-index-html.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): reuse resolveIndexHtml for live samples
  cloud-function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fix(cloud-function): reuse resolveIndexHtml for live samples
  cloud-function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(cloud-function): use array for api paths
  cloud-function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): use res.{send => sendStatus}
  cloud-function/src/middlewares/not-found.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(cloud-function): serve /assets as is
  cloud-function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(cloud-function): serve root assets as is
  cloud-function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): add index.html to everything except assets
  cloud-function/src/middlewares/resolve-index-html.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): parse/format url in resolveIndexHTML
  cloud-function/src/middlewares/resolve-index-html.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): touch req.url only if url has pathname
  cloud-function/src/middlewares/lowercase-pathname.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(cloud-function): remove compression
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(cloud-function): use res.{status => sendStatus}
  cloud-function/src/handlers/handle-stripe-plans.ts
  cloud-function/src/handlers/proxy-kevel.ts
  cloud-function/src/middlewares/not-found.ts
  cloud-function/src/middlewares/require-origin.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): do not apply 404 fallback to live-samples
  cloud-function/src/handlers/proxy-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(cloud-function): extract isLiveSampleURL()
  cloud-function/src/handlers/proxy-content.ts
  cloud-function/src/headers.ts
  cloud-function/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

KS Macros: Remove fx differentiators from sidebar as a companion of mdn/content#26242 (#8649)
  kumascript/macros/AddonSidebar.ejs
Due: prettier --ignore-unknown --write

chore(deployer): remove aws-lambda
  .eslintrc.cjs
  .github/dependabot.yml
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  deployer/README.md
  deployer/aws-lambda/README.md
  deployer/aws-lambda/content-origin-request/.gitignore
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-request/redirects.json
  deployer/aws-lambda/content-origin-request/yarn.lock
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/content-origin-response/yarn.lock
  deployer/aws-lambda/kevel/.gitignore
  deployer/aws-lambda/kevel/build.js
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/plans-prod-lookup.json
  deployer/aws-lambda/mdn-stripe-price-ids/plans-stage-lookup.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/__mocks__/plans-prod-lookup-test.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/__mocks__/plans-stage-lookup-test.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/mdn-stripe-price-ids/yarn.lock
  deployer/aws-lambda/tests/package.json
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  deployer/aws-lambda/tests/yarn.lock
  deployer/src/deployer/constants.py
  deployer/src/deployer/main.py
  deployer/src/deployer/update_lambda_functions.py
Due: prettier --ignore-unknown --write, eslint --fix

chore(deployer): remove unused DEPLOYER_DISTRIBUTION_ID
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/src/deployer/constants.py
Due: prettier --ignore-unknown --write

fixup! chore(deployer): remove unused DEPLOYER_DISTRIBUTION_ID
  deployer/src/deployer/main.py
Due: prettier --ignore-unknown --write

chore(deployer): remove aws-lambda (#8673)
  .eslintrc.cjs
  .github/dependabot.yml
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  deployer/README.md
  deployer/aws-lambda/README.md
  deployer/aws-lambda/content-origin-request/.gitignore
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-request/redirects.json
  deployer/aws-lambda/content-origin-request/yarn.lock
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/content-origin-response/yarn.lock
  deployer/aws-lambda/kevel/.gitignore
  deployer/aws-lambda/kevel/build.js
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/plans-prod-lookup.json
  deployer/aws-lambda/mdn-stripe-price-ids/plans-stage-lookup.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/__mocks__/plans-prod-lookup-test.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/__mocks__/plans-stage-lookup-test.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/mdn-stripe-price-ids/yarn.lock
  deployer/aws-lambda/tests/package.json
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  deployer/aws-lambda/tests/yarn.lock
  deployer/src/deployer/constants.py
  deployer/src/deployer/main.py
  deployer/src/deployer/update_lambda_functions.py
Due: prettier --ignore-unknown --write, eslint --fix

enhance(placement): add 2nd placement
  client/src/app.scss
  client/src/app.tsx
  client/src/document/index.scss
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(package.json): add override for stylelint-a11y
  package.json
Due: prettier --ignore-unknown --write

chore: add discoverability survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(libs/locale-utils): specify dependencies
  libs/locale-utils/package-lock.json
Due: prettier --ignore-unknown --write

fix(libs/env): specify dependency
  libs/env/package-lock.json
  libs/env/package.json
Due: prettier --ignore-unknown --write

refactor(workflows): run ci:all + simplify caching
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  package.json
Due: prettier --ignore-unknown --write

fix: add missing package-lock.json files
  libs/constants/package-lock.json
  libs/fundamental-redirects/package-lock.json
  libs/languages/package-lock.json
  libs/types/package-lock.json
Due: prettier --ignore-unknown --write

refactor: use workspaces
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

ci(workflows): just run npm ci
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
Due: prettier --ignore-unknown --write

chore: remove local package-lock.json
  client/pwa/package-lock.json
  deployer/aws-lambda/tests/package-lock.json
  libs/constants/package-lock.json
  libs/env/package-lock.json
  libs/fundamental-redirects/package-lock.json
  libs/languages/package-lock.json
  libs/locale-utils/package-lock.json
  libs/slug-utils/package-lock.json
  libs/types/package-lock.json
Due: prettier --ignore-unknown --write

chore: remove *:all scripts
  package.json
Due: prettier --ignore-unknown --write

fixup! refactor: use workspaces
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Update scripts/testing.sh
  scripts/testing.sh
Due: prettier --ignore-unknown --write

use custom data instead of a template
  client/src/ui/organisms/placement/index.scss
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input
