Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore: add yarn check:tsc command to check all files (#7963)
  .github/workflows/testing.yml
  .lintstagedrc.json
  build/cli.ts
  build/spas.ts
  client/pwa/tsconfig.json
  lint-staged.config.js
  package.json
  scripts/lint.sh
  server/index.ts
  testing/tests/developing.spec.ts
  testing/tests/headless.sitesearch.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add missing quotation mark
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

Deprecate {{gecko}} macro
  kumascript/macros/gecko.ejs
Due: prettier --ignore-unknown --write

Deprecate {{page}} macro
  kumascript/macros/page.ejs
Due: prettier --ignore-unknown --write

Update client/src/search.tsx
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(quicksearch): split query before dot (#7866)
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

remove(plus): remove notifcations and watching
  build/spas.ts
  client/src/constants.ts
  client/src/plus/common/api.tsx
  client/src/plus/common/tabs.tsx
  client/src/plus/index.tsx
  client/src/plus/notifications/index.scss
  client/src/plus/notifications/index.tsx
  client/src/plus/notifications/notification-card-list-item.tsx
  client/src/plus/notifications/notification-card.tsx
  client/src/plus/notifications/notification-select.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/utils.ts
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/plus/updates/index.tsx
  client/src/ui/atoms/limit-banner/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/manage-upgrade-dialog/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.scss
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-start.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

change copy on plus page
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

update copy
  client/public/assets/plus-docs/updates/collections.png
  client/public/assets/plus-docs/updates/updates.png
  client/public/assets/plus-docs/updates/updates_bcd.png
  client/public/assets/plus-docs/updates/updates_collection.png
  client/public/assets/plus-docs/updates/updates_filter.png
  client/public/assets/plus-docs/updates/updates_search.png
  client/src/plus/plus-docs/index.tsx
  copy/plus/features/notifications.md
  copy/plus/features/updates.md
Due: prettier --ignore-unknown --write, eslint --fix

chore(tsc): sort compilerOptions in tsconfigs
  client/pwa/tsconfig.json
  client/tsconfig.json
  tsconfig.json
Due: prettier --ignore-unknown --write

update copy and images
  client/public/assets/collections.png
  client/public/assets/collections_light.png
  client/public/assets/offline.png
  client/public/assets/offline_settings_light.png
  client/public/assets/updates.png
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(quicksearch): boost exact matches
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(search): extract FlexItem
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(search): replace `as` with return type
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(search): exactly match title + slugTail
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(search): str.split().pop() is never undefined
  client/src/search.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): deprecate {{gecko}} macro (#8071)
  kumascript/macros/gecko.ejs
Due: prettier --ignore-unknown --write

chore(lint): run check:tsc in parallel
  package.json
Due: prettier --ignore-unknown --write

fix(lambda): use single set of bcd api jsons across all dev builds
  deployer/aws-lambda/content-origin-request/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): deprecate ARIARole macro (#8025)
  kumascript/macros/ARIARole.ejs
Due: prettier --ignore-unknown --write

chore(macros/MDNSidebar): add Communication channels page(#8061)
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write

chore(lint): run check:tsc in parallel (#8083)
  package.json
Due: prettier --ignore-unknown --write

fix: use proper brand for GitHub (#8027)
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test(macros): remove {{page}} from test cases
  kumascript/tests/index.test.ts
  testing/content/files/en-us/chicken_and_egg/chicken/index.html
  testing/content/files/en-us/chicken_and_egg/egg/index.html
  testing/content/files/en-us/chicken_and_egg/index.html
  testing/content/files/en-us/web/foo/index.html
  testing/content/files/en-us/web/fubar/index.html
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add AppProps type
  build/spas.ts
  build/utils.ts
  client/src/app.tsx
  client/src/contributor-spotlight/index.tsx
  client/src/document/index.tsx
  client/src/homepage/contributor-spotlight/index.tsx
  client/src/homepage/featured-articles/index.tsx
  client/src/homepage/index.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/homepage/recent-contributions/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/index.tsx
  client/src/plus/index.tsx
  client/src/plus/plus-docs/index.tsx
  client/src/types/hydration.ts
  ssr/index.ts
  ssr/render.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! test(macros): remove {{page}} from test cases
  testing/content/files/en-us/_wikihistory.json
  testing/content/files/en-us/learn/css/css_layout/introduction/grid/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/grid/stuff/index.html
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(lambda): use single set of bcd api jsons across all dev builds (#8084)
  deployer/aws-lambda/content-origin-request/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(lint): run check:tsc even if nproc is unavailable
  package.json
Due: prettier --ignore-unknown --write

chore(macros): remove WebRTCSidebar (#8012)
  content/translation.ts
  kumascript/macros/WebRTCSidebar.ejs
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): deprecate SectionOnPage (#7985)
  kumascript/macros/SectionOnPage.ejs
Due: prettier --ignore-unknown --write

Update kumascript/macros/js_property_attributes.ejs
  kumascript/macros/js_property_attributes.ejs
Due: prettier --ignore-unknown --write

fix: sendBeacon can be undefined
  client/src/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

Delete WebRTCSidebar.ejs
  kumascript/macros/WebRTCSidebar.ejs
Due: prettier --ignore-unknown --write

Update client/src/hooks.ts
  client/src/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(client/hooks): sendBeacon can be undefined (#8089)
  client/src/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(short-survey): add web compat survey
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

add to stage and prod yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
