Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Update client/src/ui/organisms/footer/index.scss
  client/src/ui/organisms/footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

style(sass): disallow concatenated selectors (#9023)
  .stylelintrc.json
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/updates/index.scss
  client/src/ui/atoms/avatar/index.scss
  client/src/ui/atoms/toast/index.scss
  client/src/ui/molecules/dropdown/index.scss
  client/src/ui/molecules/pagination/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

improvements
  build/syntax-highlight.ts
  client/public/runner.html
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/playground/forms.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
  client/src/playground/utils.ts
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

modal
  client/src/playground/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix editor highlight
  client/src/playground/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "style(sass): disallow concatenated selectors (#9023)"
  .stylelintrc.json
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/updates/index.scss
  client/src/ui/atoms/avatar/index.scss
  client/src/ui/atoms/toast/index.scss
  client/src/ui/molecules/dropdown/index.scss
  client/src/ui/molecules/pagination/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "style(sass): disallow concatenated selectors (#9023)" (#9038)
  .stylelintrc.json
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/updates/index.scss
  client/src/ui/atoms/avatar/index.scss
  client/src/ui/atoms/toast/index.scss
  client/src/ui/molecules/dropdown/index.scss
  client/src/ui/molecules/pagination/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

console
  client/src/playground/console.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Revert "Revert "style(sass): disallow concatenated selectors (#9023)" (#9038)"
  .stylelintrc.json
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/updates/index.scss
  client/src/ui/atoms/avatar/index.scss
  client/src/ui/atoms/toast/index.scss
  client/src/ui/molecules/dropdown/index.scss
  client/src/ui/molecules/pagination/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(avatar): move .avatar-wrap out of .avatar
  client/src/ui/atoms/avatar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): trim query
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Fix a gap between page's start and header
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar): remove unnecessary `position: relative`
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): assign quicklinks/sidebarInnerNav once
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar-filter): remove unnecessary CSS block
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

refactor(sidebar-filter): rename params for consistency
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): rename functions for clarity
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar): add filter (#8968)
  client/src/assets/icons/filter.svg
  client/src/document/index.scss
  client/src/document/organisms/sidebar/SidebarFilterer.ts
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
  client/src/document/organisms/toc/index.scss
  client/src/search.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/sidebar-click.ts
  client/src/ui/atoms/icon/index.scss
  client/src/ui/atoms/thumbs/index.scss
  client/src/ui/atoms/thumbs/index.tsx
  client/src/ui/molecules/grids/_document-page.scss
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

design feedback 1
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/playground/forms.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feedback 2
  client/src/playground/forms.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(gcp): cache volatile content for 1h
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

feedback 3
  client/src/playground/forms.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
  client/src/telemetry/constants.ts
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

lint
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(macros/AddonSidebar): use page titles + cleanup (#8995)
  kumascript/macros/AddonSidebar.ejs
  kumascript/tests/macros/addonsidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

set max-age to 1hr on bucket as well, just in case
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

review updates
  build/blog.ts
  client/src/blog/post.tsx
  content/utils.ts
  libs/types/blog.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(gcp): cache volatile content for 1h (#9050)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(footer): add blog feed icon
  client/src/assets/icons/feed.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

use next breakpoint for targeting mobile
  client/src/blog/post.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(footer): add blog feed icon (#9060)
  client/src/assets/icons/feed.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(blog): previous/next links at end of posts (#8922)
  build/blog.ts
  client/src/blog/post.scss
  client/src/blog/post.tsx
  content/utils.ts
  libs/types/blog.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): use relative URL
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): apply document list style
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feedback x
  client/src/document/molecules/tooltip/index.scss
  client/src/document/molecules/tooltip/index.tsx
  client/src/playground/forms.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
  client/src/ui/atoms/icon/index.tsx
  client/src/ui/base/_themes.scss
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): add blinking cursor
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): use rounded corners
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): add footer with Supabase/OpenAI mention
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): display quota in input placeholder
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): add send button 130 ↵ ✚
  client/src/assets/icons/send.svg
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/ui/atoms/icon/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
