Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

review updates
  client/src/hooks.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

MP-16: style collections v2 (#6933)
  client/src/hooks.ts
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/rust-types.ts
  client/src/plus/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Order list
  build/syntax-highlight.js
Due: prettier --ignore-unknown --write, eslint --fix

ci(workflows): skip npm-publish if dependabot merged
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

ci(workflows): skip npm-publish if dependabot merged (#6949)
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

Further sort
  build/syntax-highlight.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(syntax-highlight): add C + TSX, deduplicate and reorder (#6943)
  build/syntax-highlight.js
Due: prettier --ignore-unknown --write, eslint --fix

ci(dev-build): notify PRs about successful builds
  .github/workflows/dev-build.yml
Due: prettier --ignore-unknown --write

add ja translation
  kumascript/macros/SectionOnPage.ejs
Due: prettier --ignore-unknown --write

refactor(build): convert to typescript
  .gitignore
  build/bcd-urls.ts
  build/build-options.ts
  build/check-images.ts
  build/cli.ts
  build/document-extractor.ts
  build/document-utils.ts
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/sections.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/format-notecards.ts
  build/git-history.ts
  build/index.ts
  build/matches-in-text.ts
  build/page-title.ts
  build/resolve-bcd.ts
  build/search-index.ts
  build/sitemaps.ts
  build/spas.ts
  build/sync-translated-content.ts
  build/syntax-highlight.ts
  build/tsconfig.json
  build/utils.ts
  build/wrap-tables.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/site-search/form.tsx
  client/src/site-search/search-results.tsx
  libs/types/document.ts
  package.json
  server/flaws.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): add types
  build/bcd-urls.ts
  build/cli.ts
  build/document-extractor.ts
  build/index.ts
  build/resolve-bcd.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write

build(dist): transpile build
  tsconfig.dist.json
Due: prettier --ignore-unknown --write

fix(build): fix cheerio types
  build/document-extractor.ts
Due: prettier --ignore-unknown --write

fix(build): check for SkippedDocumentBuild
  build/cli.ts
Due: prettier --ignore-unknown --write

ci(testing): separate lint from test
  .github/workflows/testing.yml
Due: prettier --ignore-unknown --write

chore(build/flaws): print {newRawBody,rawBody}
  build/flaws/index.ts
Due: prettier --ignore-unknown --write

fix(build): allow {id,title} to be null
  build/document-extractor.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write

fix(build): revert filtering text nodes
  build/document-extractor.ts
Due: prettier --ignore-unknown --write

fix(build): make GenericFlaw.explanation optional
  build/bcd-urls.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write

feat(macros): localize DeprecatedBadge
  kumascript/macros/DeprecatedBadge.ejs
Due: prettier --ignore-unknown --write

Update DeprecatedBadge.ejs
  kumascript/macros/DeprecatedBadge.ejs
Due: prettier --ignore-unknown --write

feat(macros): localize DeprecatedBadge (#6954)
  kumascript/macros/DeprecatedBadge.ejs
Due: prettier --ignore-unknown --write

MP-96 fix stale data in collection edit modal
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
Due: prettier --ignore-unknown --write, eslint --fix

MP-96 fix stale data in collection edit modal (#6955)
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "chore(build/flaws): print {newRawBody,rawBody}"
  build/flaws/index.ts
Due: prettier --ignore-unknown --write

test(destructive): print stdout
  .github/workflows/testing.yml
  testing/tests/destructive.test.ts
Due: prettier --ignore-unknown --write

chore(build): revert flaws to JS
  build/flaws/bad-bcd-queries.js
  build/flaws/broken-links.js
  build/flaws/heading-links.js
  build/flaws/index.js
  build/flaws/pre-tags.js
  build/flaws/sections.js
  build/flaws/translation-differences.js
  build/flaws/unsafe-html.js
Due: prettier --ignore-unknown --write, eslint --fix

revert(build): unfix syncAllTranslatedContent()
  build/sync-translated-content.ts
Due: prettier --ignore-unknown --write

chore(macros): delete {{Exception}} macro
  kumascript/macros/Exception.ejs
Due: prettier --ignore-unknown --write

Delete Exception.ejs
  kumascript/macros/Exception.ejs
Due: prettier --ignore-unknown --write

ci(dev-build): notify PRs about successful builds (#6950)
  .github/workflows/dev-build.yml
Due: prettier --ignore-unknown --write

chore(macros): delete {{Exception}} macro (#6961)
  kumascript/macros/Exception.ejs
Due: prettier --ignore-unknown --write

merge the script tags
  client/public/index.html
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

MP-96 clear new collection modal
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {{ifmethod}} macro
  kumascript/macros/ifmethod.ejs
Due: prettier --ignore-unknown --write

MP-96 clear new collection modal (#6980)
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {{ifmethod}} macro (#6982)
  kumascript/macros/ifmethod.ejs
Due: prettier --ignore-unknown --write

fix(tests): stabilize flaky tests
  testing/tests/developing.spec.ts
  testing/tests/headless.sitesearch.spec.ts
Due: prettier --ignore-unknown --write

refactor(scripts): extract lint.sh
  scripts/lint.sh
  scripts/testing.sh
Due: prettier --ignore-unknown --write

Update libs/constants/index.js
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix
