Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fixup! fixup! fixup! feat(gcp/function): use @google-cloud/functions-framework
  gcp/function/.gcloudignore
Due: prettier --ignore-unknown --write

chore(gcp/function): generate redirects map on demand only
  .github/workflows/xyz-build.yml
  gcp/function/package.json
Due: prettier --ignore-unknown --write

feat(gcp/function): deploy functions concurrently in all regions
  .github/workflows/xyz-build.yml
  gcp/function/.gitignore
Due: prettier --ignore-unknown --write

ci(xyz-build): redirect build into log files
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): print tail headers for function deploy
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

Add guide to MathML sidebar
  kumascript/macros/MathMLRef.ejs
Due: prettier --ignore-unknown --write

ci(stage-build): add SKIP conditions
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): invalidate cdn cache in GCP
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): only run on function changes
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fixup! ci(stage-build): invalidate cdn cache in GCP
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): GCP_LOAD_BALANCER_NAME is a secret
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fixup! ci(stage-build): add SKIP conditions
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): generate redirects map
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): deploy Function concurrently
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(workflows): prefix function build output
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): use rumba in GCP
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

Update OWD info on community page
  client/src/community/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update WebView icon from old Android logo to its new logo
  client/src/assets/icons/webview.svg
Due: prettier --ignore-unknown --write

enhance(kevel): extract libs/pong + support more formats (#8572)
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  libs/pong/cc2ip.js
  libs/pong/click.js
  libs/pong/coding.js
  libs/pong/fallback.js
  libs/pong/get.js
  libs/pong/image.js
  libs/pong/index.js
  libs/pong/package.json
  libs/pong/viewed.js
  libs/pong/yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

ci(stage-build): support skipping AWS
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(workflows): prefix stderr as well
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fix: Wrap SVG Mandala to reduce CPU usage
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

ci(xyz-build): prefix build logs with sed
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): add sentry env vars
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(gcp/function): use fixRequestBody for content/rumba as well
  gcp/function/src/handlers/content.ts
  gcp/function/src/handlers/rumba.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(gcp/function): rename withContentResponseHeaders
  gcp/function/src/handlers/content.ts
  gcp/function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(gcp/function): set Cache-Control for content
  gcp/function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(live-samples): use live-samples.mdn.mozilla/allizom.net (#8573)
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix: tool `yarn content move` converts double quotes to single quotes in title
  content/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! refactor(gcp/function): merge routers + add HTTPS proxy
  gcp/function/package.json
Due: prettier --ignore-unknown --write

fix(gcp/function): make middlewares + handlers async
  gcp/function/src/handlers/plans.ts
  gcp/function/src/middlewares/pathnameLC.ts
  gcp/function/src/middlewares/redirectFundamental.ts
  gcp/function/src/middlewares/redirectLeadingSlash.ts
  gcp/function/src/middlewares/redirectLocale.ts
  gcp/function/src/middlewares/redirectMovedPages.ts
  gcp/function/src/middlewares/redirectTrailingSlash.ts
  gcp/function/src/middlewares/resolveIndexHTML.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(gcp/function): set --concurrency=8
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): run on push to gcp
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(gcp/function): use gcloud beta functions
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fix(gcp/function): call gcloud beta with --quiet
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): use setup-gcloud with install_components instead of --quiet
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): set --cpu=1 to allow concurrency
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): set --memory=2GB
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): avoid yarn install if we don't build
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write
