Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

mobile 1
  client/public/assets/curriculum/cur-landing-ladder-2.svg
  client/src/curriculum/landing.scss
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): remove old index script
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  scripts/ai-help.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): remove old index script (#10484)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  scripts/ai-help.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

(core:deps-dev): bump web-specs from 2.79.0 to 3.0.0
  build/web-specs.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): Mark 'unimplemented_inline' as deprecated
  kumascript/macros/unimplemented_inline.ejs
Due: prettier --ignore-unknown --write

dark and mobile
  client/public/assets/curriculum/cur-landing-ladder-2-small.svg
  client/src/assets/icons/cur-modules-underline-1.svg
  client/src/assets/icons/cur-modules-underline-2.svg
  client/src/assets/icons/cur-modules-underline-3.svg
  client/src/assets/icons/cur-modules-underline.svg
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/modules-list.scss
  client/src/curriculum/modules-list.tsx
  client/src/curriculum/sidebar.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(baseline): blocklist some bcd keys from input-event
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

landing grid
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

svgo
  client/public/assets/curriculum/cur-landing-ladder-1.svg
  client/public/assets/curriculum/cur-landing-ladder-2-small.svg
  client/public/assets/curriculum/cur-landing-ladder-2.svg
  client/public/assets/curriculum/cur-landing-ladder.svg
  client/public/assets/curriculum/cur-landing-top.svg
  client/public/assets/curriculum/cur-topic-practices.svg
  client/public/assets/curriculum/cur-topic-scripting.svg
  client/public/assets/curriculum/cur-topic-standards.svg
  client/public/assets/curriculum/cur-topic-styling.svg
  client/public/assets/curriculum/cur-topic-tooling.svg
Due: prettier --ignore-unknown --write

misc
  build/curriculum.ts
  client/public/assets/curriculum/cur-landing-ladder-2-small.svg
  client/src/curriculum/landing.scss
  client/src/curriculum/modules-list.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

lint
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(baseline): blocklist some bcd keys from input-event (#10493)
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update kumascript/macros/unimplemented_inline.ejs
  kumascript/macros/unimplemented_inline.ejs
Due: prettier --ignore-unknown --write

dark mode fixes
  client/public/assets/curriculum/cur-landing-ladder-2-small.svg
  client/src/assets/icons/cur-landing-started-advanced.svg
  client/src/assets/icons/cur-landing-started-beginner.svg
  client/src/assets/icons/cur-landing-started-educator.svg
  client/src/assets/icons/cur-landing-started-employment.svg
  client/src/curriculum/index.scss
  client/src/curriculum/landing.scss
  client/src/curriculum/modules-list.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

no sidebar on mobile landing
  client/src/curriculum/layout.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

sidebar details
  client/src/curriculum/sidebar.tsx
Due: prettier --ignore-unknown --write, eslint --fix

content anchor
  client/src/curriculum/layout.tsx
Due: prettier --ignore-unknown --write, eslint --fix

make sure long words break onto the next line instead of overflowing
  client/src/homepage/recent-contributions/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(macros/CSS_Ref): fix special cases (#10241)
  kumascript/macros/CSS_Ref.ejs
Due: prettier --ignore-unknown --write

sidebar overview
  client/src/curriculum/sidebar.tsx
Due: prettier --ignore-unknown --write, eslint --fix

dark mode
  client/public/assets/curriculum/cur-landing-ladder-1.svg
  client/public/assets/curriculum/cur-landing-ladder.svg
  client/public/assets/curriculum/cur-landing-top.svg
  client/src/assets/icons/cur-landing-about-beginner.svg
  client/src/assets/icons/cur-landing-about-bullet.svg
  client/src/assets/icons/cur-landing-about-free.svg
  client/src/assets/icons/cur-landing-about-pace.svg
  client/src/assets/icons/cur-mdn-resource.svg
  client/src/curriculum/index.scss
  client/src/curriculum/landing.scss
  client/src/curriculum/module.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps): bump web-specs from 2.79.0 to 3.0.0 (#10478)
  build/web-specs.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): Mark 'unimplemented_inline' as deprecated (#10486)
  kumascript/macros/unimplemented_inline.ejs
Due: prettier --ignore-unknown --write

chore(macro): Add ko DOMAttributeMethods
  kumascript/macros/DOMAttributeMethods.ejs
Due: prettier --ignore-unknown --write

make sure long words break onto next line instead of overflowing
  client/src/homepage/recent-contributions/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixes
  client/src/curriculum/index.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

add try again button
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): send correct questions when editing
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build): remove the translation_of metadata (#10037)
  build/index.ts
  content/document.ts
  kumascript/tests/macros/fixtures/documentData1.json
  libs/types/document.ts
  testing/translated-content/files/fr/web/foo/index.html
  testing/translated-content/files/zh-cn/web/foo/index.md
  testing/translated-content/files/zh-tw/web/foo/index.html
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

more fixes
  build/curriculum.ts
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

rename
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): remove decorative images from a11y tree
  client/src/plus/ai-help/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): remove decorative images from a11y tree
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix and add tests
  client/src/plus/ai-help/rust-types.ts
  client/src/plus/ai-help/use-ai.test.ts
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove unused import
  client/src/plus/ai-help/use-ai.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "chore(deps-dev): bump husky from 9.0.10 to 9.0.11 (#10518)"
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

align button
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(telemetry): add Glean measurement for client-side navigation
  client/src/document/index.tsx
  client/src/site-search/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(site-search): remove unnecessary GA measurement
  client/src/site-search/index.tsx
  client/src/site-search/search-results.tsx
Due: prettier --ignore-unknown --write, eslint --fix
