Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): prevent edit if quota exceeded
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): align History banner with Turbo banner
  client/src/plus/ai-help/history.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): remove History banner border
  client/src/plus/ai-help/history.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): align login-banner (upsell) with ai-help-banner
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): hide history toggle if expanded on desktop
  client/src/plus/ai-help/history.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): reset delayed sources properly
  client/src/plus/ai-help/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): load chat only if history is enabled
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): reduce prev/next width
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): delay via dispatch
  client/src/plus/ai-help/hooks.ts
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(ai-help): rename delayedArray state
  client/src/plus/ai-help/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add support for GFM noteblocks proposal
  markdown/m2h/handlers/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): improve History banner on mobile
  client/src/plus/ai-help/history.scss
  client/src/plus/ai-help/history.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Revert "fixup! fix(workflows): ignore plain.html everywhere"
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

Add support for caution, tip and important notecard types
  client/src/assets/icons/important.svg
  client/src/assets/icons/note-caution.svg
  client/src/assets/icons/tip.svg
  client/src/ui/molecules/notecards/index.scss
  markdown/localizations/de.json
  markdown/localizations/en-US.json
  markdown/localizations/es.json
  markdown/localizations/fr.json
  markdown/localizations/ja.json
  markdown/localizations/ko.json
  markdown/localizations/pl.json
  markdown/localizations/pt-BR.json
  markdown/localizations/ru.json
  markdown/localizations/zh-CN.json
  markdown/localizations/zh-TW.json
  markdown/m2h/handlers/index.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): prevent submitting empty question
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): reduce contrast of disclaimer footer
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): show first source immediately
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

style(stylelint): fix issues
  client/src/ui/atoms/icon/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): add text to Toggle History button
  client/src/plus/ai-help/history.scss
  client/src/plus/ai-help/history.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): resolve URL substring sanitization issue
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(settings): update AI Help copy
  client/src/settings/ai-help.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): highlight GPT-4 usage
  client/public/assets/ai-help/gpt-4.svg
  client/src/plus/ai-help/history.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): use border-secondary for landing box-shadow
  client/src/plus/ai-help/landing.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(baseline): update icons, add text to feedback link
  client/config/webpack.config.js
  client/src/assets/icons/baseline/browser-check.svg
  client/src/assets/icons/baseline/browser-cross.svg
  client/src/assets/icons/baseline/chrome.svg
  client/src/assets/icons/baseline/edge.svg
  client/src/assets/icons/baseline/firefox.svg
  client/src/assets/icons/baseline/high-dark.svg
  client/src/assets/icons/baseline/high.svg
  client/src/assets/icons/baseline/limited-dark.svg
  client/src/assets/icons/baseline/limited.svg
  client/src/assets/icons/baseline/low-dark.svg
  client/src/assets/icons/baseline/low.svg
  client/src/assets/icons/baseline/safari.svg
  client/src/assets/icons/feedback.svg
  client/src/document/baseline-indicator.scss
  client/src/document/baseline-indicator.tsx
  svgo.config.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

revert svgo changes
  client/config/webpack.config.js
  svgo.config.js
Due: prettier --ignore-unknown --write, eslint --fix

bump web-features package
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(ai-help): update docs
  client/public/assets/plus-docs/ai-help/ask-question.png
  client/public/assets/plus-docs/ai-help/code-example.png
  client/public/assets/plus-docs/ai-help/code-examples-playground.png
  client/public/assets/plus-docs/ai-help/code-examples-queue.png
  client/public/assets/plus-docs/ai-help/context.png
  client/public/assets/plus-docs/ai-help/example-question-answering.png
  client/public/assets/plus-docs/ai-help/example-question-editing.png
  client/public/assets/plus-docs/ai-help/history-banner.png
  client/public/assets/plus-docs/ai-help/history-settings.png
  client/public/assets/plus-docs/ai-help/login-signup.png
  client/public/assets/plus-docs/ai-help/rate-answers.png
  client/public/assets/plus-docs/ai-help/report-feedback.png
  client/public/assets/plus-docs/ai-help/sources.png
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write

chore(prod-build): only update ai help index
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

fixup! chore(ai-help): update docs
  client/public/assets/plus-docs/ai-help/issue-template.png
Due: prettier --ignore-unknown --write

chore(ai-help): replace landing screenshots
  client/public/assets/ai-help/ai-help_dark.png
  client/public/assets/ai-help/ai-help_light.png
  client/public/assets/ai-help/ai_help_dark.png
  client/public/assets/ai-help/ai_help_light.png
  client/src/plus/ai-help/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): update docs screenshots
  client/public/assets/plus-docs/ai-help/code-examples-playground.png
  client/public/assets/plus-docs/ai-help/code-examples-queue.png
  client/public/assets/plus-docs/ai-help/example-question-answering.png
  client/public/assets/plus-docs/ai-help/example-question-editing.png
  client/public/assets/plus-docs/ai-help/history-banner.png
  client/public/assets/plus-docs/ai-help/history-settings.png
  client/public/assets/plus-docs/ai-help/issue-template.png
  client/public/assets/plus-docs/ai-help/login-signup.png
  client/public/assets/plus-docs/ai-help/rate-answers.png
  client/public/assets/plus-docs/ai-help/report-feedback.png
Due: prettier --ignore-unknown --write

chore(ai-help): use en-US for copy
  client/src/plus/ai-help/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "chore(prod-build): only update ai help index"
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

fixup! chore(ai-help): update docs screenshots
  client/public/assets/plus-docs/ai-help/code-examples-playground.png
  client/public/assets/plus-docs/ai-help/code-examples-queue.png
  client/public/assets/plus-docs/ai-help/example-question-answering.png
  client/public/assets/plus-docs/ai-help/example-question-editing.png
  client/public/assets/plus-docs/ai-help/history-banner.png
  client/public/assets/plus-docs/ai-help/history-settings.png
  client/public/assets/plus-docs/ai-help/issue-template.png
  client/public/assets/plus-docs/ai-help/login-signup.png
  client/public/assets/plus-docs/ai-help/rate-answers.png
  client/public/assets/plus-docs/ai-help/report-feedback.png
Due: prettier --ignore-unknown --write

Revert "chore(cloud-function): increase timeout from 120s to 240s"
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  cloud-function/src/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): detect stream timeout after 15 sec
  client/src/plus/ai-help/constants.tsx
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): stop stream on error
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): update docs
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write

fixup! fix(ai-help): stop stream on error
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): remove comments from docs
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
