Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

fix png
  client/public/assets/plus-docs/offline/desktop-offline-user-menu.png
Due: prettier --ignore-unknown --write

remove note from plus menu
  client/src/ui/molecules/plus-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

lint
  client/src/settings/feature-preview.tsx
  client/src/ui/molecules/plus-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix copy
  client/src/settings/feature-preview.tsx
Due: prettier --ignore-unknown --write, eslint --fix

re-add plus menu items
  client/src/ui/molecules/plus-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

remove old settings route
  client/src/app.tsx
Due: prettier --ignore-unknown --write, eslint --fix

make try plus not show for subscribers
  client/src/plus/plus-docs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(translate): 各日本語ページリンク更新
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros): remove {{anch}} and {{manch}}
  kumascript/macros/anch.ejs
  kumascript/macros/manch.ejs
Due: prettier --ignore-unknown --write

feature(plus): preview feature (#6726)
  build/spas.js
  client/package.json
  client/public/assets/plus-docs/collections/desktop-collections-user-menu.png
  client/public/assets/plus-docs/collections/desktop-main-menu-collections.png
  client/public/assets/plus-docs/collections/mobile-collections-menu-item.png
  client/public/assets/plus-docs/collections/mobile-menu.png
  client/public/assets/plus-docs/notifications/mobile-notifications-user-menu.png
  client/public/assets/plus-docs/notifications/notifications-user-menu.png
  client/public/assets/plus-docs/offline/desktop-offline-user-menu.png
  client/pwa/src/db.ts
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/service-worker.ts
  client/src/app.tsx
  client/src/fuzzy-search.ts
  client/src/index.tsx
  client/src/offline-settings/index.tsx
  client/src/plus/common/api.tsx
  client/src/plus/index.tsx
  client/src/plus/plus-docs/index.tsx
  client/src/search.tsx
  client/src/settings/clear.tsx
  client/src/settings/db.ts
  client/src/settings/feature-preview.tsx
  client/src/settings/index.scss
  client/src/settings/index.tsx
  client/src/settings/manage.tsx
  client/src/settings/mdn-worker.tsx
  client/src/settings/offline-settings.tsx
  client/src/settings/update.tsx
  client/src/ui/atoms/switch/index.scss
  client/src/ui/molecules/plus-menu/index.scss
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/search/index.scss
  client/src/ui/molecules/user-menu/index.tsx
  client/src/user-context.tsx
  copy/plus/features/collections.md
  copy/plus/features/notifications.md
  copy/plus/features/offline.md
  copy/plus/features/overview.md
  testing/tests/offline-db.test.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

chore(plus): remove fuzzy search
  client/src/fuzzy-search.ts
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

remove tests
  testing/tests/headless.search.spec.ts
Due: prettier --ignore-unknown --write

chore(macros): remove {{anch}} and {{manch}} (#6760)
  kumascript/macros/anch.ejs
  kumascript/macros/manch.ejs
Due: prettier --ignore-unknown --write

feature(build): manually template for SSR
  client/public/index.html
  ssr/render.ts
Due: prettier --ignore-unknown --write

fix spa locale
  ssr/render.ts
Due: prettier --ignore-unknown --write

prettier and ts
  ssr/render.ts
Due: prettier --ignore-unknown --write

feat(translate): 各日本語ページリンク更新 (#6757)
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

chore(plus): remove fuzzy search (#6766)
  client/src/fuzzy-search.ts
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
  package.json
  testing/tests/headless.search.spec.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Apply suggestions from code review
  ssr/render.ts
Due: prettier --ignore-unknown --write

chore(macros): update zh-CN strings
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

defer is done by webpack
  ssr/render.ts
Due: prettier --ignore-unknown --write

chore(macros): update zh-CN strings (#6761)
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

Add clarification to BCD tables that there is more data upon click
  client/src/assets/icons/more.svg
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
  client/src/ui/atoms/icon/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

chore(macros): fix InheritanceDiagram.ejs
  kumascript/macros/InheritanceDiagram.ejs
Due: prettier --ignore-unknown --write

change collection list into a proper list
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/icon-card/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

chore(macros): fix InheritanceDiagram.ejs (#6778)
  kumascript/macros/InheritanceDiagram.ejs
Due: prettier --ignore-unknown --write

feature(SSR): don't use cheerio for SSR (#6628)
  client/public/index.html
  ssr/render.ts
Due: prettier --ignore-unknown --write

fix(SSR): use .replace with arrow functions
  ssr/render.ts
Due: prettier --ignore-unknown --write

fix(SSR): use .replace with arrow functions (#6782)
  ssr/render.ts
Due: prettier --ignore-unknown --write

Replace Details of the object model with Using classes in JS sidebar (#6745)
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

fix: update slug for Using Classes in JS sidebar
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

fix: inconsistent sidebar icon placement
  kumascript/macros/APIRef.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/WebExtAPISidebar.ejs
Due: prettier --ignore-unknown --write

fix: update slug for Using Classes in JS sidebar (#6788)
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

updating mdnsidebar
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write

updates
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write

Depreciate the InterWiki macro
  kumascript/macros/Interwiki.ejs
Due: prettier --ignore-unknown --write

Fix icons displayed in BCD cells
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Updated metrics to include bugs
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .gitignore
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/telemetry/pings.yaml
  testing/.env
Due: prettier --ignore-unknown --write, eslint --fix

Remove superfluous logging, add IF for Glean
  client/src/document/index.tsx
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix
