Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Added Sidebar menu Link
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

chore(blog): stylise sponsored content indicator (#9174)
  client/src/blog/index.scss
  client/src/blog/index.tsx
  client/src/blog/post.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Rename PWA tutorial
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

fix(playground): don't extract inline css
  client/src/document/code/playground.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update PWA sidebar (#9192)
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

chore(readme): add section about supported platforms
  README.md
Due: prettier --ignore-unknown --write

Revert AI-explain added inexplicably (Closes: #9208)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/syntax-highlight.ts
  client/src/blog/post.tsx
  client/src/document/code/ai-explain.ts
  client/src/document/code/copy.ts
  client/src/document/code/playground.ts
  client/src/document/code/render-md.ts
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Revert "fix(ai-explain): feedback copy"
  client/src/document/code/ai-explain.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "feat(ai-explain): add ai-explain to code blocks (#9188)"
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/syntax-highlight.ts
  client/src/blog/post.tsx
  client/src/document/code/ai-explain.ts
  client/src/document/code/copy.ts
  client/src/document/code/playground.ts
  client/src/document/code/render-md.ts
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-explain): pause ai-explain
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(AddonSidebar): fix invalid item
  kumascript/macros/AddonSidebar.ejs
Due: prettier --ignore-unknown --write

chore: pride month 2023 is over :( (#9137)
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): add short and extended explanatory guidance
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): add short and extended explanatory guidance (#9215)
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): update survey and add openai links
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(flaws): stop reporting absolute MDN links as broken
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(flaws): stop reporting absolute MDN blog links as broken
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): add "Report issue with this answer on GitHub" link
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): add "Report issue with this answer on GitHub" link (#9238)
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Remove X-XSS-Protection header
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(readme): add section about supported platforms (#9207)
  README.md
Due: prettier --ignore-unknown --write

fix(macros/AddonSidebar): inline "Using_the_JavaScript_APIs" redirect (#9212)
  kumascript/macros/AddonSidebar.ejs
Due: prettier --ignore-unknown --write

chore(ai-help): update thumbs copy
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): update thumbs copy (#9223)
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar-filter): remove feedback footer
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

remove redundant selectors
  client/src/document/code/playground.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): don't extract inline css (#9203)
  client/src/document/code/playground.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(homepage): add distilled blog post to "Latest news"
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(homepage): add distilled blog post to "Latest news" (#9249)
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

change image's background color to transparent
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

stage
  content/wikihistories.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): add beta disclaimer banner
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): add beta disclaimer banner (#9261)
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): enhance issue reporting
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): enhance issue reporting (#9262)
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {{Interwiki}} macro
  kumascript/macros/Interwiki.ejs
Due: prettier --ignore-unknown --write

chore: remove reference to removed macros
  kumascript/src/info.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update "MDN Chat" instead
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(footer): Add Discord server to footer (#8949)
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update build/document-utils.ts
  build/document-utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
