Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

refactor(main-menu): extract TopMenuLink
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): measure top-level menu link clicks
  client/src/telemetry/constants.ts
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(document-survey): hide for writers (#9893)
  client/src/ui/molecules/document-survey/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): measure top-level menu link clicks (#9938)
  client/src/telemetry/constants.ts
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): remove TenthCampaignQuote macro (#9906)
  kumascript/macros/TenthCampaignQuote.ejs
Due: prettier --ignore-unknown --write

another feedback cycle
  client/src/assets/icons/message.svg
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/history.scss
  client/src/plus/ai-help/history.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(plus): add hash to Plus url
  client/src/plus/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(menu): highlight current item
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/menu/index.scss
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ui): introduce --text-active + use for active menu items
  client/src/ui/_vars.scss
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/menu/index.scss
  client/src/ui/molecules/submenu/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixup! feat(menu): highlight current item
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(footer): add mastodon svg icon (#9689)
  client/src/assets/icons/mastodon.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(sidebar): add Colors category to Guides (#9936)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

chore(eslint): disable n/no-deprecated-api
  .eslintrc.cjs
Due: prettier --ignore-unknown --write

chore(pong): update mapping (#9884)
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
  libs/pong/pong2.js
  libs/pong/types.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(markdown): migrate to mdast-util-to-hast
  markdown/m2h/handlers/code.ts
  markdown/m2h/handlers/dl.ts
  markdown/m2h/handlers/index.ts
  markdown/m2h/handlers/mdast-util-to-hast-utils.ts
  markdown/m2h/index.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

enhance(opengraph): fix og:image and add og:{image:*,site_name,type} (#9795)
  client/public/index.html
  ssr/render.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(markdown): migrate to mdast-util-to-hast
  markdown/m2h/handlers/code.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fixup! chore(markdown): migrate to mdast-util-to-hast
  markdown/m2h/handlers/code.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(markdown): migrate to mdast-util-to-hast
  markdown/m2h/handlers/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

feedback and delete all
  client/src/plus/ai-help/history.scss
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
  client/src/settings/ai-help.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(build): explain why we build allBrowserCompat.txt
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build): sort sitemaps
  build/cli.ts
  build/sitemaps.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(build/sitemaps): avoid reusing parameter variable
  build/sitemaps.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(search): preserve meaningful dots
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): sort meta files (#9899)
  build/cli.ts
  build/sitemaps.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/telemetry/metrics.yaml
  client/src/telemetry/metrics.yaml
Due: prettier --ignore-unknown --write

chore(telemetry): send geo_iso with pings (#9909)
  client/src/env.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/user-context.tsx
  docs/envvars.md
Due: prettier --ignore-unknown --write, eslint --fix

feat(links): distinguish visited links (v2) (#9931)
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps-dev): remove use-debounce
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

refactor(build): extract getWebFeatureStatus() without import assertion
  build/index.ts
  build/utils.ts
  build/web-features.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(build): extract getWebSpec() without import assertion
  build/blog.ts
  build/extract-sections.ts
  build/extract-specifications.ts
  build/index.ts
  build/web-specs.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(kumascript): remove import assertion
  kumascript/tests/fixtures/server/macros/require-used.ejs
Due: prettier --ignore-unknown --write

fixup! refactor(build): extract getWebSpec() without import assertion
  build/extract-sections.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): use cwd() as base for node_modules
  build/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): remove use-debounce (#9952)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(markdown): migrate to mdast-util-to-hast (#9941)
  markdown/m2h/handlers/code.ts
  markdown/m2h/handlers/dl.ts
  markdown/m2h/handlers/index.ts
  markdown/m2h/handlers/mdast-util-to-hast-utils.ts
  markdown/m2h/index.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(submenu): revert highlighting active item
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! chore(submenu): revert highlighting active item
  client/src/ui/molecules/submenu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(menu): add isActive prop to override state
  client/src/ui/molecules/menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix
