Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

wip(baseline): update feedback link
  client/src/document/baseline-indicator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): add new landing page
  client/public/assets/ai-help/context.svg
  client/public/assets/ai-help/history.svg
  client/public/assets/ai-help/lightbulb-question.svg
  client/public/assets/ai-help/turbo.svg
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/teaser.scss
  client/src/plus/ai-help/teaser.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): replace stop icon
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip(baseline): fix feedback link to SSR
  client/src/document/baseline-indicator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip(baseline): add build metadata
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip(baseline): bump web-features version
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Follow-up to fix a sidebar bug I introduced in #10111
  kumascript/macros/GamesSidebar.ejs
Due: prettier --ignore-unknown --write

fix(macros/GamesSidebar): update WebVR -> WebXR in string map (#10126)
  kumascript/macros/GamesSidebar.ejs
Due: prettier --ignore-unknown --write

wip(baseline): save build.json per-locale
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): delay sources
  client/src/plus/ai-help/hooks.ts
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): set responding state with first chunk
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip(baseline): move types around to check:tsc works
  client/src/document/baseline-indicator.tsx
  libs/types/document.ts
  libs/types/web-features.ts
  type-fixes/web-features.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): sync search/generate status messages
  client/src/plus/ai-help/constants.tsx
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip(baseline): update types from upstream
  libs/types/web-features.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): auto-focus texarea
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip(baseline): add level to feedback link
  client/src/document/baseline-indicator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): sync chatId to URL query
  client/src/plus/ai-help/hooks.ts
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): delay sources only if pending
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(document): do not break the line of the metadata
  content/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): remove border around messages
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

refactor(ai-help): use SVGs as component
  client/src/plus/ai-help/teaser.scss
  client/src/plus/ai-help/teaser.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): use currentColor for addition SVGs
  client/public/assets/ai-help/context.svg
  client/public/assets/ai-help/history.svg
Due: prettier --ignore-unknown --write

fix(ai-help): make accent color more prominent in dark theme
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(code-example): remove left/top/right border of header
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): remove background-color from answers
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(baseline): update learn more link
  client/src/document/baseline-indicator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground/queue): update hover color + add active/focus states
  client/src/playground/queue/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(baseline): pin web-features version
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(ai-help): update additions icons
  client/public/assets/ai-help/context.svg
  client/public/assets/ai-help/history.svg
  client/public/assets/ai-help/turbo.svg
  client/src/plus/ai-help/teaser.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(baseline): update widget to reflect new definition (#10128)
  build/cli.ts
  build/index.ts
  build/web-features.ts
  client/src/app.scss
  client/src/assets/icons/baseline/check-dark.svg
  client/src/assets/icons/baseline/check.svg
  client/src/assets/icons/baseline/cross-dark.svg
  client/src/assets/icons/baseline/cross.svg
  client/src/assets/icons/baseline/high-dark.svg
  client/src/assets/icons/baseline/high.svg
  client/src/assets/icons/baseline/limited-dark.svg
  client/src/assets/icons/baseline/limited.svg
  client/src/assets/icons/baseline/low-dark.svg
  client/src/assets/icons/baseline/low.svg
  client/src/assets/icons/feedback.svg
  client/src/document/baseline-indicator.scss
  client/src/document/baseline-indicator.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/ui/base/_themes.scss
  libs/types/document.ts
  libs/types/web-features.ts
  package.json
  tsconfig.json
  type-fixes/web-features.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): remove border from active history item
  client/src/plus/ai-help/history.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): fix typo in settings
  client/src/settings/ai-help.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: remove minmax function
  client/src/settings/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): measure question number
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): add more click measurements
  client/src/document/code/playground.ts
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/history.tsx
  client/src/plus/ai-help/index.tsx
  client/src/settings/ai-help.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): consider "https://developer.mozilla.org/" links internal
  client/src/plus/ai-help/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fix(ai-help): measure question number
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(bcd): Remove redundant getCurrentSupport()
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Don't use @mdn/bcd-utils-api middleware in testing
  .env.testing
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(client): add useScheme() hook
  client/src/hooks.ts
  client/src/types/theme.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
