Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): update HTTP Headers links
  client/src/observatory/results/headers.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): remove PR from plans
  cloud-function/src/stripe-plans/prod.ts
  cloud-function/src/stripe-plans/stage.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(deps): require exact rari version
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

enhance(deps): require exact rari version (#13168)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(plus): remove PR from plans (#13164)
  cloud-function/src/stripe-plans/prod.ts
  cloud-function/src/stripe-plans/stage.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add Japanese translation for "View this page in GitHub"
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Subscription Platform 3.0 prod rollout
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

SubPlat relevant env variables documentation
  docs/envvars.md
Due: prettier --ignore-unknown --write

Update client/src/env.ts
  client/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

linter
  client/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(plus): upgrade to SubPlat 3.0 (#13199)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  docs/envvars.md
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): fix use sp3
  client/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): fix use sp3 (#13205)
  client/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix MDN_PLUS_USE_SP3 logic
  client/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(plus): subplat3 configuration logic (#13206)
  client/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(filecheck): ignore .gitignore/jsonc/yaml
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(filecheck): ignore .gitignore/jsonc/yaml (#13216)
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

style(prettier): run `yarn prettier -w .`
  docs/kumascript/README.md
Due: prettier --ignore-unknown --write

Revert "chore(deps): bump openai from 4.103.0 to 5.1.0"
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(playground): center login button vertically (#12841)
  client/src/ui/molecules/auth-container/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): update HTTP Headers links (#13148)
  client/src/observatory/results/headers.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps)!: bump NodeJS from v20 to v22
  .github/workflows/prod-build.yml
  .github/workflows/review-deploy.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  .nvmrc
  package.json
Due: prettier --ignore-unknown --write

enhance(libs/play): add logging + refine runner errors (#12645)
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

Revert "feat(pride): pride 2025 (#13065)"
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps): remove `@vscode/ripgrep`
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-bundlesize-compare.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/testing.yml
  build/utils.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): remove `@vscode/ripgrep` (#13226)
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-bundlesize-compare.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/testing.yml
  build/utils.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): replace got with fetch
  build/flaws/index.ts
  build/spas.ts
  build/utils.ts
  kumascript/src/api/mdn.ts
  package.json
  testing/tests/developing.spec.ts
  testing/tests/redirects.test.ts
  tool/popularities.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): replace got with fetch (#13225)
  build/flaws/index.ts
  build/spas.ts
  build/utils.ts
  kumascript/src/api/mdn.ts
  package.json
  testing/tests/developing.spec.ts
  testing/tests/redirects.test.ts
  tool/popularities.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): bump dotenv from 16.5.0 to 17.0.0 in /cloud-function
  cloud-function/package-lock.json
  cloud-function/package.json
Due: prettier --ignore-unknown --write

chore(dotenv): set `quiet: true`
  build/build-options.ts
  client/config/env.js
  cloud-function/src/build-canonicals.ts
  cloud-function/src/build-redirects.ts
  cloud-function/src/env.ts
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

Revert "feat(pride): pride 2025" (#13224)
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

ci(npm-published-simulation): use content node version
  .github/workflows/developing.yml
  .github/workflows/npm-published-simulation.yml
Due: prettier --ignore-unknown --write

ci(npm-published-simulation): use content node version (#13238)
  .github/workflows/developing.yml
  .github/workflows/npm-published-simulation.yml
Due: prettier --ignore-unknown --write

Fix typo
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

ci(performance): avoid yarn install in content
  .github/workflows/performance.yml
Due: prettier --ignore-unknown --write

ci(performance): avoid yarn install in content (#13242)
  .github/workflows/performance.yml
Due: prettier --ignore-unknown --write

fix(plus/offer-overview): fix typo on MDN Plus page (#13240)
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

ci(workflows): assign explicit permissions
  .github/workflows/auto-merge.yml
  .github/workflows/developing.yml
  .github/workflows/glean-probe-scraper.yml
  .github/workflows/labeler.yml
  .github/workflows/mark-as-idle-issues-pr.yml
  .github/workflows/new-issues.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-bundlesize-compare.yml
  .github/workflows/pr-commit-signatures.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/pr-docs.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/pr-rebase-needed.yml
Due: prettier --ignore-unknown --write

chore(workflows): remove ripgrep notes
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-bundlesize-compare.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  .github/workflows/testing.yml
Due: prettier --ignore-unknown --write

initial survey option for scrim component
  client/src/document/index.scss
  client/src/lit/curriculum/scrim-inline.js
  client/src/lit/curriculum/scrim-inline.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
