Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(live-sample): inject MathML font/polyfill (#7621)
  kumascript/src/api/util.ts
  kumascript/src/live-sample.ts
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  client/src/document/mathml-polyfill/mathml-font.scss
  client/src/document/mathml-polyfill/mathml.css
Due: prettier --ignore-unknown --write, stylelint --fix

refactor(aws-lambda): convert to ESM (#7673)
  .eslintrc.js
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/tests/package.json
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  deployer/aws-lambda/tests/yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): remove Array.flat/ES6 polyfill (#7689)
  client/public/index.html
  libs/constants/index.js
  testing/tests/csp.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(mathml): always load MathML font, update Polyfill, use latest woff2 font (#7620)
  .lintstagedrc.json
  client/src/document/mathml-polyfill/font/STIXTwoMath-Regular.otf
  client/src/document/mathml-polyfill/font/STIXTwoMath-Regular.woff2
  client/src/document/mathml-polyfill/index.tsx
  client/src/document/mathml-polyfill/mathml-font.scss
  client/src/document/mathml-polyfill/mathml.css
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

chore(docs): Add details of KumaScript troubleshooting, docs README
  docs/README.md
  docs/kumascript/README.md
  docs/kumascript/troubleshooting-errors.md
Due: prettier --ignore-unknown --write

chore(docs): Add details of KumaScript troubleshooting
  docs/kumascript/README.md
Due: prettier --ignore-unknown --write

chore(docs): Add details of Yari to docs README
  docs/README.md
  docs/what-yari-does.md
Due: prettier --ignore-unknown --write

chore(docs): Format list of params for KumaScript macros
  docs/kumascript/README.md
Due: prettier --ignore-unknown --write

fix(ssr): avoid null in <title> on 404 pages
  ssr/render.ts
Due: prettier --ignore-unknown --write

chore(docs): Fix markdownlint errors
  docs/kumascript/README.md
Due: prettier --ignore-unknown --write

fix(ssr): avoid null in <title> on 404 pages (#7714)
  ssr/render.ts
Due: prettier --ignore-unknown --write

chore(macros/FirefoxSidebar): add pt-BR translation (#7626)
  kumascript/macros/FirefoxSidebar.ejs
Due: prettier --ignore-unknown --write

refactor(libs): convert to ESM
  libs/constants/index.js
  libs/constants/package.json
  libs/env/index.js
  libs/env/package.json
  libs/fundamental-redirects/index.js
  libs/fundamental-redirects/package.json
  libs/languages/index.js
  libs/languages/package.json
  libs/locale-utils/index.js
  libs/locale-utils/package.json
  libs/locale-utils/yarn.lock
  libs/slug-utils/index.js
  libs/slug-utils/package.json
  libs/types/package.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(docs): Remove unused dls
  docs/kumascript/troubleshooting-errors.md
Due: prettier --ignore-unknown --write

chore(docs): Add details of KumaScript troubleshooting
  docs/kumascript/troubleshooting-errors.md
Due: prettier --ignore-unknown --write

Update docs/README.md
  docs/README.md
Due: prettier --ignore-unknown --write

chore(meta): Format doc after merging in reviewer suggestion
  docs/README.md
Due: prettier --ignore-unknown --write

Update docs/kumascript/README.md
  docs/kumascript/README.md
Due: prettier --ignore-unknown --write

chore(docs): add kumascript docs from content (#7713)
  docs/README.md
  docs/kumascript/README.md
  docs/kumascript/troubleshooting-errors.md
Due: prettier --ignore-unknown --write

Delete the `{{TemplateLink}}` macro
  kumascript/macros/TemplateLink.ejs
Due: prettier --ignore-unknown --write

chore(macros): remove CSS_Key_Concepts macro (#7592)
  kumascript/macros/CSS_key_concepts.ejs
Due: prettier --ignore-unknown --write

chore(macros): remove Source macro (#7593)
  kumascript/macros/source.ejs
Due: prettier --ignore-unknown --write

chore(macros): delete {{property_prefix}} macro
  kumascript/macros/property_prefix.ejs
Due: prettier --ignore-unknown --write

Fix Playwright config
  playwright.config.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix import statement
  build/cli.ts
Due: prettier --ignore-unknown --write

Fix imports
  build/cli.ts
Due: prettier --ignore-unknown --write

Fix ESLint errors/warnings
  .eslintrc.cjs
  client/config/paths.js
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix transformers
  client/config/jest/cssTransform.js
  client/config/jest/fileTransform.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix Caporal import for filecheck CLI
  filecheck/cli.ts
Due: prettier --ignore-unknown --write

Fix import (don't include .js inside of src/)
  client/src/document/index.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Move Jest config out of package.json
  jest.config.json
  package.json
Due: prettier --ignore-unknown --write

Ensure test:testing uses ESM Jest
  package.json
Due: prettier --ignore-unknown --write

Ensure Jest is always run with --experimental-vm-modules
  package.json
Due: prettier --ignore-unknown --write

Fix filechecker to handle URL objects as well as file path strings
  filecheck/checker.ts
Due: prettier --ignore-unknown --write

Use const vs. let
  filecheck/checker.ts
Due: prettier --ignore-unknown --write

chore(macros): delete {{property_prefix}} macro (#7717)
  kumascript/macros/property_prefix.ejs
Due: prettier --ignore-unknown --write

refactor(macros/CSSSyntax): extract getWebRefProperty()
  kumascript/macros/CSSSyntax.ejs
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
