Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

refactor(sidebar-filter): resolve unnecessary return
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): replace while with for..of
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): move function behind constructor
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): use querySelector instead of getElementById
  client/src/telemetry/sidebar-click.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar-filter): hide "In this article" if no match
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

only share for logged in
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-fiilter): rename collapse{Detail => Parent}
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

refator(sidebar-filter): rename dataset.{open => wasOpen}
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove unnecessary jsdoc
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): exclude + hide TOC
  client/src/document/organisms/sidebar/SidebarFilterer.ts
  client/src/document/organisms/sidebar/filter.tsx
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): inline SidebarFilterer.root
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(thumbs): hide if previously submitted
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): remove weird icon margin
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): apply clear button style to thumbs buttons as well
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixup! feat(thumbs): hide if previously submitted
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: improvements to XSLT reference sidebars
  kumascript/macros/XsltRef.ejs
Due: prettier --ignore-unknown --write

chore: rename "Ask MDN" to "AI Help"
  client/src/search/ai.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): move to top navigation
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: rename XSLTref changes to XsltSidebar
  kumascript/macros/XsltRef.ejs
  kumascript/macros/XsltSidebar.ejs
Due: prettier --ignore-unknown --write

feat(placment): hp takeover
  client/src/homepage/index.scss
  client/src/homepage/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar-filter): align heart with clear button
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feedback
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix

make a 100%
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): rename "Ask MDN" to "AI Help" and move to page
  build/spas.ts
  client/src/app.tsx
  client/src/constants.ts
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/login-banner.scss
  client/src/plus/ai-help/login-banner.tsx
  client/src/plus/ai-help/use-ai.ts
  client/src/plus/index.scss
  client/src/plus/index.tsx
  client/src/search/ai.scss
  client/src/search/ai.tsx
  client/src/search/dialog.scss
  client/src/search/dialog.tsx
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): highlight assistant messages
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): use avatar + chatgpt logo
  client/src/assets/icons/chatgpt.svg
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/ui/atoms/avatar/index.scss
  client/src/ui/atoms/icon/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): align avatar with text
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): use green color scheme
  client/src/plus/ai-help/index.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): use same color for header + body links
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): underline links on hover
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

style(sass): disallow concatenated selectors
  .stylelintrc.json
Due: prettier --ignore-unknown --write

feat(placement): hp takeover (#9022)
  client/src/homepage/index.scss
  client/src/homepage/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Update kumascript/macros/XsltSidebar.ejs
  kumascript/macros/XsltSidebar.ejs
Due: prettier --ignore-unknown --write

feat(macros): add GlossarySidebar macro (#8997)
  kumascript/macros/GlossarySidebar.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
Due: prettier --ignore-unknown --write

feat(macros): add XsltSidebar for XSLT pages (#9021)
  kumascript/macros/XsltSidebar.ejs
Due: prettier --ignore-unknown --write

refactor(sidebar-filter): extract toggleElement()
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): show by resetting style.display
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): avoid forEach without this context
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(thumbs): increase gap between icons
  client/src/ui/atoms/thumbs/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): increase icon size to 1rem/16px
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input
