Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

Client-side_tooling_overview translate by japanese
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

fix(client/fallback-link): suggest search terms, provide repo links
  client/src/page-not-found/fallback-link.tsx
Due: prettier --ignore-unknown --write, eslint --fix

ci: use built-in setup-node caching
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
Due: prettier --ignore-unknown --write

chore(macros/LearnSidebar): add Japanese translation for Building Angular (#7176)
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

ci: use built-in setup-node caching (#7234)
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
Due: prettier --ignore-unknown --write

fix(client/document): wrap LoadingError in container, reuse PageNotFound for 404
  client/src/document/index.tsx
  client/src/page-not-found/fallback-link.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(notecards): remove margin-bottom from last element
  client/src/ui/molecules/notecards/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

build(fonts): switch to inter-ui
  client/src/assets/fonts/Inter.var.woff2
  client/src/assets/fonts/Montserrat-SemiBold.woff
  client/src/assets/fonts/Montserrat-SemiBold.woff2
  client/src/assets/fonts/Montserrat-VF.woff2
  client/src/assets/fonts/inter-v3-latin-600.woff
  client/src/assets/fonts/inter-v3-latin-600.woff2
  client/src/assets/fonts/inter-v3-latin-regular.woff
  client/src/assets/fonts/inter-v3-latin-regular.woff2
  client/src/ui/base/_typography.scss
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, stylelint --fix

apply suggestions from code review
  kumascript/macros/ListSubpagesForSidebar.ejs
Due: prettier --ignore-unknown --write

refactor: remove `code` wrapper variables
  kumascript/macros/ListSubpagesForSidebar.ejs
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  build/spas.ts
Due: prettier --ignore-unknown --write

feat(spas): add translated-content to Recent contributions on homepage (#7250)
  build/spas.ts
  client/src/homepage/recent-contributions/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): sync broken-links flaw with web.smartLink()
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write

feat(macros/ListSubpagesForSidebar): sort subpages by title (#7186)
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/src/info.ts
Due: prettier --ignore-unknown --write

test(m2h): expect newline after frontmatter
  testing/content/files/en-us/markdown/tool/m2h/expected.html
Due: prettier --ignore-unknown --write

fix(content/document): preserve metadata spacing on write (#7279)
  content/document.ts
  testing/content/files/en-us/markdown/tool/m2h/expected.html
Due: prettier --ignore-unknown --write

style(stylelint): fix length-zero-no-unit (#7395)
  .stylelintrc.json
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/homepage/contributor-spotlight/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/ui/_vars.scss
  client/src/ui/atoms/modal/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/top-navigation/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

chore(stylelint): remove old ignore (#7396)
  .stylelintignore
Due: prettier --ignore-unknown --write

style(stylelint): fix rule-empty-line-before (#7397)
  .stylelintrc.json
  client/src/app.scss
  client/src/community/index.scss
  client/src/contributor-spotlight/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/interactive-examples.scss
  client/src/document/toolbar/flaws.scss
  client/src/flaws/index.scss
  client/src/homepage/homepage-hero/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/settings/index.scss
  client/src/sitemap/index.scss
  client/src/translations/differences/index.scss
  client/src/translations/index.scss
  client/src/ui/atoms/signout/index.scss
  client/src/ui/atoms/spinner/index.scss
  client/src/ui/atoms/switch/index.scss
  client/src/ui/base/_mdn.scss
  client/src/ui/molecules/get_involved/index.scss
  client/src/ui/molecules/maintenance/index.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/offline-status-bar/index.scss
  client/src/ui/molecules/plus-menu/index.scss
  client/src/ui/molecules/reference-menu/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/molecules/theme-switcher/index.scss
  client/src/ui/molecules/user-menu/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
  client/src/writers-homepage/viewed-documents.scss
Due: prettier --ignore-unknown --write, stylelint --fix

style(stylelint): fix declaration-block-no-duplicate-properties (#7398)
  .stylelintrc.json
  client/src/homepage/homepage-hero/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

chore: update NPM packaging ignores
  .gitignore
  .npmignore
Due: prettier --ignore-unknown --write

fix: build SSR before packaging
  package.json
Due: prettier --ignore-unknown --write

chore(deps-dev): replace eslint-plugin-node with n (#7401)
  .eslintrc.js
  build/cli.ts
  build/spas.ts
  content/utils.ts
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  package.json
  sd-config.js
  server/dev.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

style(stylelint): fix function-no-unknown (#7399)
  .stylelintrc.json
  client/src/minimal-prism.scss
Due: prettier --ignore-unknown --write, stylelint --fix

chore(macros): deprecate {{source}} (#7164)
  kumascript/macros/source.ejs
Due: prettier --ignore-unknown --write

refactor(sync-translated-content): move from /build to /tool
  tool/cli.ts
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write

refactor(libs/types): extract DocFrontmatter from /build
  build/spas.ts
  content/document.ts
  libs/types/document.ts
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write

fix: stylelint no-duplicate-selectors
  .stylelintrc.json
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/flaws/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/ui/atoms/icon/index.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix: stylelint scss/at-extend-no-missing-placeholder
  .stylelintrc.json
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(bcd): Show child compat data even when parent has none
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write, stylelint --fix

Address feedback to avoid type assertions
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write

fix(bcd): Make BCD show grandchildren only when ancestors have no data
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write, stylelint --fix

Address review comments by doing BFS
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write

fix(macro): update HTMLSideBar macro
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

Bring block and inline element links closer
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

Make guides section top level
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

Add non global attributes to the sidebar
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

ci: run tests on Linux and Windows
  .github/workflows/testing.yml
Due: prettier --ignore-unknown --write

ci: use env for /dev/null Windows compat
  .github/workflows/testing.yml
Due: prettier --ignore-unknown --write

fix(bcd): list descendant features even if parent has no data (#7167)
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write, stylelint --fix
