Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix(observatory): refactor handleResponse, re-sorting imports
  client/src/observatory/benchmark.tsx
  client/src/observatory/index.tsx
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): menu style fix
  client/src/observatory/index.scss
  client/src/observatory/results.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): rename utility function, un-inline icon svgs, fix default obs api url in documentation
  client/public/assets/observatory/fail-icon.svg
  client/public/assets/observatory/pass-icon.svg
  client/src/observatory/benchmark.tsx
  client/src/observatory/results.tsx
  client/src/observatory/utils.tsx
  docs/envvars.md
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): style fix for icon bullets
  client/src/observatory/results.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): rename and document axis range function for benchmark chart
  client/src/observatory/benchmark.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): factored the benchmark svg component into its own files
  client/src/observatory/benchmark-chart/index.scss
  client/src/observatory/benchmark-chart/index.tsx
  client/src/observatory/benchmark.tsx
  client/src/observatory/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): lift tab contend components up two levels, refactored internal tabs data structure
  client/src/observatory/benchmark.tsx
  client/src/observatory/csp.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

new scrim background
  client/src/assets/curriculum-landing-arrow.svg
  client/src/assets/curriculum-scrim-bg.svg
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): doc urls, link to observatory home
  client/src/observatory/docs/index.scss
  client/src/observatory/docs/index.tsx
  client/src/observatory/index.scss
  copy/observatory/scoring_methodology.md
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): moved utility functions into `utils.tsx`
  client/src/observatory/benchmark.tsx
  client/src/observatory/index.tsx
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): fix menu headings
  client/src/observatory/docs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): fix menu headings
  client/src/observatory/docs/index.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): spa prefix
  build/spas.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): factor observatory application title into constants
  client/src/observatory/docs/index.tsx
  client/src/observatory/landing.tsx
  client/src/observatory/layout.tsx
  client/src/observatory/types.ts
  client/src/ui/molecules/tools-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): form handling
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): glean payload format
  client/src/observatory/landing.tsx
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): glean payload error format
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): import sorting
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): role and aria-label for progress
  client/src/observatory/progress/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): glean payload format
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): accessible arrow hints on grade change
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): refactor grade change indicator
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): colon outside of link
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): move constant to its proper place
  client/src/observatory/results.tsx
  client/src/observatory/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): doc link fix, rename/refactor rescan button
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): formatDateTime helper, import POST hook as useRescanTrigger
  client/src/observatory/results.tsx
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): clickHandler type fix, remove host prop from rescan button and do not calculate time on every render
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): updated FAQ doc
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

fix(observatory): moved individual tab components of results to their own files
  client/src/observatory/results.tsx
  client/src/observatory/results/cookies.tsx
  client/src/observatory/results/csp.tsx
  client/src/observatory/results/headers.tsx
  client/src/observatory/results/history.tsx
  client/src/observatory/results/rating.tsx
  client/src/observatory/results/rescan-button.tsx
  client/src/observatory/results/tests.tsx
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): tooltip css improvement
  client/src/observatory/tooltip/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixup! Merge branch 'main' into test-de
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

fix: avoid asserting potentially non-Locale as Locale
  content/redirect.ts
  markdown/m2h/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): remove page macro
  kumascript/macros/page.ejs
  testing/content/files/en-us/learn/css/css_layout/introduction/flex/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/flex/stuff/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/index.html
  testing/tests/headless.index.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): tooltip color fix, table background fix for dark mode
  client/src/observatory/index.scss
  client/src/observatory/tooltip/index.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): chart light colors and drawing order
  client/src/observatory/benchmark-chart/index.scss
  client/src/observatory/benchmark-chart/index.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): landing illustration update, accent color update
  client/public/assets/observatory/landing-illustration.svg
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

ui tweaks
  client/src/assets/icons/enter-fullscreen.svg
  client/src/assets/icons/exit-fullscreen.svg
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! fix: avoid asserting potentially non-Locale as Locale
  content/redirect.ts
Due: prettier --ignore-unknown --write, eslint --fix
