Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps): migrate from inquirer to @inquirer/prompts 7.0.0 (#11508)
  build/cli.ts
  package.json
  tool/cli.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(community): further fix for https://github.com/mdn/yari/pull/11930
  client/src/community/index.scss
  copy/community/community.md
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(css): fix a lint error
  client/src/document/ingredients/browser-compatibility-table/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): remove link to old observatory
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): removed old observatory link from the FAQ
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

chore(observatory): remove links to old observatory (#11947)
  client/src/observatory/landing.tsx
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): update the FAQ for the new API V2
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

Update copy/observatory/faq.md
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

removed outdated copy
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

chore(test-de): sync translated content
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

use git-history
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

chore: remove install:all
  package.json
Due: prettier --ignore-unknown --write

feat(community): new community page design (#11653)
  build/spas.ts
  client/src/app.tsx
  client/src/assets/community/community-calls-dark.svg
  client/src/assets/community/community-calls.svg
  client/src/assets/community/discord-dark.svg
  client/src/assets/community/discord.svg
  client/src/assets/community/people-dark.svg
  client/src/assets/community/people.svg
  client/src/assets/community/quote-end-dark.svg
  client/src/assets/community/quote-end.svg
  client/src/assets/community/quote-start-dark.svg
  client/src/assets/community/quote-start.svg
  client/src/assets/community/video-bg-dark.svg
  client/src/assets/community/video-bg.svg
  client/src/assets/community/video-thumbnail.png
  client/src/assets/community/youtube-play.svg
  client/src/community/contributor-list.scss
  client/src/community/contributor-list.ts
  client/src/community/index.scss
  client/src/community/index.tsx
  client/src/react-app.d.ts
  client/src/ui/atoms/button/_mixins.scss
  client/src/utils.ts
  copy/community/community.md
  deployer/src/deployer/search/__init__.py
  libs/constants/index.js
  ssr/react-app.d.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(server): clean-up
  libs/env/index.d.ts
  libs/env/index.js
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(test-de): only sync de
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

chore(test-de): rename steps
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

remove scrimba discount fallback banner
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor placement view logic into useViewed hook
  client/src/hooks.ts
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

spit up docs route
  server/index.ts
  server/static.ts
Due: prettier --ignore-unknown --write, eslint --fix

simplify/clean up useViewed code
  client/src/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

add view pings for scrimba
  client/src/curriculum/landing.tsx
  client/src/curriculum/partner-banner.tsx
  client/src/telemetry/constants.ts
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add click pings for curriculum landing scrimba banner and scrim click outs
  client/src/curriculum/partner-banner.tsx
  client/src/curriculum/scrim-inline.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/WebExtAllExamples): update zh-* translation (#11831)
  kumascript/macros/WebExtAllExamples.ejs
Due: prettier --ignore-unknown --write

fix
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ssr): fix --no-docs (rename to --skip-docs)
  build/ssr-cli.ts
  build/ssr.ts
  package.json
Due: prettier --ignore-unknown --write, eslint --fix

add url to document
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ssr): fix --no-docs (rename to --skip-docs) (#11973)
  build/ssr-cli.ts
  build/ssr.ts
  package.json
Due: prettier --ignore-unknown --write, eslint --fix

(fix): proper handling of redirect target urls with hashes on sync translated content
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(dev-server): rari beta support
  copy/community/community.md
  libs/env/index.d.ts
  libs/env/index.js
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): measure homepage link clicks
  client/src/homepage/featured-articles/index.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/homepage/recent-contributions/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(client): visualize scroll depth
  client/src/app.tsx
  client/src/ui/molecules/debug/index.scss
  client/src/ui/molecules/debug/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): update the FAQ for the new API V2 (#11954)
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

fix(utils): hash-awareness of url-to-folder-path
  content/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

revert previous solution
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
