Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix macro testing
  testing/content/files/en-us/web/bar/index.html
  testing/content/files/en-us/web/fixable_flaws/index.html
  testing/tests/destructive.test.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix accessibility section of Learn sidebar
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

Fix linting
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(advertising): remove About page
  client/src/advertising/about/index.scss
  client/src/advertising/about/index.tsx
  client/src/advertising/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(advertising): update Advertising with us page
  client/src/advertising/with_us/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(advertising): pull up page
  build/spas.ts
  client/src/advertising/index.tsx
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(advertising): remove redirect
  client/src/advertising/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(advertising): update Advertising with us page
  client/src/advertising/with_us/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(advertising): add fundamental redirect
  libs/fundamental-redirects/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(client): place hash before headings (#8532)
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(advertising): update copies (#8562)
  build/spas.ts
  client/src/advertising/about/index.scss
  client/src/advertising/about/index.tsx
  client/src/advertising/index.tsx
  client/src/advertising/with_us/index.tsx
  client/src/ui/organisms/footer/index.tsx
  libs/fundamental-redirects/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(macros/CSSSyntax): extract to lib
  kumascript/macros/CSSSyntax.ejs
  kumascript/src/api/page.ts
  kumascript/src/lib/css-syntax.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(macros/CSSSyntax): add snapshot tests
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
  kumascript/tests/lib/css-syntax.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update kumascript/macros/PWASidebar.ejs
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

Fix suggestion
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

Update for current page set
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

chore(csp): remove mdn.mozillademos.org
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(csp): remove interactive-examples.prod.mdn.mozilla.net
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/placement-context.tsx
  client/src/placement-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(placement): introduce PlacementContext (#8522)
  client/src/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(lambda): support more formats for kevel
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
  libs/pong/click.js
  libs/pong/coding.js
  libs/pong/fallback.js
  libs/pong/get.js
  libs/pong/image.js
  libs/pong/index.js
  libs/pong/package.json
  libs/pong/viewed.js
Due: prettier --ignore-unknown --write, eslint --fix

lint
  deployer/aws-lambda/kevel/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/LearnSidebar): remove duplicated accessibility section (#8553)
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

Use fully qualified slugs
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

Review comments (refactoring)
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

Formatting
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

chore(csp): remove legacy hosts (#8564)
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(live-samples): use live-samples.mdn.mozilla/allizom.net
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/pwa/src/service-worker.ts
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

ad custon title (cttitle)
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix

Remove trailing slash
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

Add inheritance
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

chore(client): remove MDN Plus launch banner
  client/src/banners/active-banner.tsx
  client/src/banners/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feedback
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  libs/pong/cc2ip.js
  libs/pong/click.js
  libs/pong/coding.js
  libs/pong/get.js
  libs/pong/viewed.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): deprecate htmlattrdef + htmlattrxref macros (#8551)
  kumascript/macros/htmlattrdef.ejs
  kumascript/macros/htmlattrxref.ejs
  testing/content/files/en-us/web/bar/index.html
  testing/content/files/en-us/web/fixable_flaws/index.html
  testing/tests/destructive.test.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(macros): merge {{secureContextGeneric}} into {{secureContext_header/inline}} (#8258)
  kumascript/macros/secureContextGeneric.ejs
  kumascript/macros/secureContext_header.ejs
  kumascript/macros/secureContext_inline.ejs
Due: prettier --ignore-unknown --write

feat(macros): create a PWA sidebar (#8238)
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

refactor(top-nav): simplify the top-navigation
  client/src/ui/molecules/auth-container/index.tsx
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/maintenance/index.tsx
  client/src/ui/molecules/search/index.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/ui/organisms/top-navigation/index.scss
  client/src/ui/organisms/top-navigation/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

lint
  client/src/ui/organisms/top-navigation/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
