Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps): bump nodemon from 2.0.22 to 3.1.4 in /cloud-function (#11754)
  cloud-function/package-lock.json
  cloud-function/package.json
Due: prettier --ignore-unknown --write

feat(telemetry): add Sentry to client
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  client/src/env.ts
  client/src/index.tsx
  client/src/telemetry/sentry.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(csp): add *.sentry.io as connect-src
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): reduce Sentry bundle size
  client/config/webpack.config.js
  client/src/index.tsx
  client/src/telemetry/sentry.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): add minimal integrations
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): load sentry async
  client/src/telemetry/sentry.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fix(telemetry): remove unused initSentry() param
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry): deduplicate errors before sentry was loaded
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): load Sentry on demand
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(telemetry): load Sentry on demand
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry): avoid invalid release value
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry): remove unused initSentry() param
  client/src/index.tsx
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): quantify gain of sentry treeshaking
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): bump @sentry/* from 7.80.0 to 8.29.0
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps-dev): remove unnecessary @sentry/browser
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(build): avoid importing everything from @sentry/node
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sentry): disable treeshake
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

enhance(build): show bundle size diff on PRs
  .github/workflows/pr-bundlesize-compare.yml
  client/config/webpack.config.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(bundle-size): conditionally remove hashes to keep filenames static
  .github/workflows/pr-bundlesize-compare.yml
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(bundle-size): partially revert 4a5cf81b8958bb3b5f80b8d20ae0bc1ae1d426bb
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(bundle-size): increase deterministic id to 4 chars
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): handle invalid chat ids correctly (#11678)
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(syntax-highlight): don't return unescaped strings
  client/src/document/code/syntax-highlight.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(typescript): fix always truthy expression
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(placement): add scrimba discount
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(http): improvements following reviewer feedback
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

enhance(ad-free): hide all banners completely
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

test(macros/HTTPSidebar): update test expectation
  kumascript/tests/macros/HTTPSidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip(ssr): review updates
  .gitignore
  package.json
  ssr/.gitignore
  ssr/prepare.ts
  ssr/theme.js
  ssr/webpack.config.js
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar): reuse icon margin for non-nested entries
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(community): use avatars.githubusercontent.com directly to avoid cookie warnings
  copy/community/README.md
  copy/community/index.json
  copy/community/index.md
Due: prettier --ignore-unknown --write

fix(community): react item key error
  client/src/community/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar): reuse icon margin for non-nested entries (#11786)
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

enhance(ad-free): hide all banners completely (#11787)
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

wip(syntax-highlight): review updates
  build/blog.ts
  build/code-headers.ts
  build/curriculum.ts
  build/index.ts
  client/src/blog/post.tsx
  client/src/document/code/syntax-highlight.tsx
  client/src/document/hooks.ts
  client/src/document/index.tsx
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): add missing type
  client/src/playground/editor.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(community): match button padding to login button
  client/src/community/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps): run yarn upgrade
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps): run yarn upgrade (#11789)
  yarn.lock
Due: prettier --ignore-unknown --write

fix(community): cache github issues response in localstorage to mitigate ratelimiting
  client/src/community/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
