Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix(ai-help): reduce z-index of sticky question
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): update sources section copy
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): update footer copy
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): persist current chat
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): replace fallback + hide sources in this case
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): add stop button
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): show ellipsis on stopped message
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): pluralize remaining questions, remove isPlusSubscriber check
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): add missing effect dep
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): update JavaScript question
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): fix example url
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): update upsell copy
  client/src/plus/ai-help/login-banner.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): show examples below + don't submit directly
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): hide sources sections if we do not have sources
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): move examples below + categorize + apply Updates design
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): make footer sticky
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): move stop button to actions
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): scroll to top with timeout
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): rename role-* CSS class + restructure CSS
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(ai-help): move status CSS class to message container
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): move stop button back to footer
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): show stop while loading
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

legacy live samples and href
  .github/workflows/stage-build.yml
  build/cli.ts
  build/index.ts
  client/src/document/molecules/tooltip/index.tsx
  client/src/playground/forms.tsx
  client/src/ui/atoms/signin-link/index.tsx
  docs/envvars.md
  kumascript/macros/LiveSampleURL.ejs
  kumascript/src/live-sample.ts
  kumascript/tests/macros/LiveSampleURL.test.ts
  libs/env/index.js
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): scroll automatically until user scrolls
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test test:testing
  testing/content/files/en-us/web/embeddable/index.html
  testing/content/files/en-us/web/embeddable/legacy/index.html
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): make auto-scroll reliable
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): add "Enable auto-scroll" button
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

more legacy live samples
  build/blog.ts
  build/index.ts
  kumascript/src/live-sample.ts
  testing/content/files/en-us/web/embeddable/index.html
  testing/content/files/en-us/web/embeddable/legacy/index.html
  testing/content/files/en-us/web/embeddable/legacy/index.md
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): scroll after render
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): scroll + focus when selecting example
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): use accent color for examples
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat: add link to the game development section in the Guides nav menu (#8948)
  client/src/ui/molecules/guides-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): use border-primary for examples
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): update input focus style
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(placement): update fallback top banner
  client/src/telemetry/constants.ts
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): add to offer overview
  client/public/assets/ai-help.png
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(server): proxy /api/v1/stripe/plans to stage API
  client/src/plus/common/api.tsx
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): add to plan details
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

ux
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore: revert obsolete code from earlier version
  client/src/ui-context.tsx
  client/src/ui/atoms/avatar/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input
