Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(macros): add data-macro to JSRef/SVGRef
  kumascript/macros/JSRef.ejs
  kumascript/macros/SVGRef.ejs
Due: prettier --ignore-unknown --write

Add missing async/await declarations
  server/index.ts
  ssr/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update macros used for badges
  kumascript/src/lib/badges.ts
Due: prettier --ignore-unknown --write, eslint --fix

Follow ESM migration
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

lint
  client/src/document/ingredients/interactive-example.tsx
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update kumascript/macros/JSRef.ejs
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

fix(macros): add data-macro attribute to JSRef/SVGRef (#8311)
  kumascript/macros/JSRef.ejs
  kumascript/macros/SVGRef.ejs
Due: prettier --ignore-unknown --write

fix(telemetry/sidebar-click): ignore TOC clicks
  client/src/telemetry/sidebar-click.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/telemetry/sidebar-click.ts
  client/src/telemetry/sidebar-click.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(telemetry/sidebar-click): check for sidebar first
  client/src/telemetry/sidebar-click.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry/sidebar-click): ignore mobile TOC incl placement
  client/src/telemetry/sidebar-click.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry/sidebar-click): ignore mobile TOC clicks (#8312)
  client/src/telemetry/sidebar-click.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(short-survey): MDN Web Docs content discovery
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update .github/workflows/prod-build.yml
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

Update .github/workflows/stage-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(short-survey): add content discovery survey (#8315)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(placement): record HTTP status with fetched event
  client/src/document/organisms/toc/placement.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(build): support chunking
  build-fast.sh
  build/build-options.ts
  build/cli.ts
  content/document.ts
  package.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(git): ignore Procfile.tmp
  .gitignore
Due: prettier --ignore-unknown --write

chore(build): add cleanup as task
  build-fast.sh
Due: prettier --ignore-unknown --write

chore(build): time build:fast
  package.json
Due: prettier --ignore-unknown --write

chore(build-fast): use yarn, cleanup afterwards
  build-fast.sh
Due: prettier --ignore-unknown --write

chore(placement): record HTTP status with fetched event (#8319)
  client/src/document/organisms/toc/placement.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(tool/sync-translated-content): find document by dir only (#8253)
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/JSRef): rewrite and show correct subpages (#8134)
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

fix: remove repeated extra className
  client/src/ui/organisms/top-navigation/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(content/image): avoid passing Buffer to is-svg
  content/image.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(prod-build): use interactive-examples base url
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

refactor(macros/WebExtAPIRef): use page-type instead of tags (#8251)
  kumascript/macros/WebExtAPISidebar.ejs
Due: prettier --ignore-unknown --write

fix(flaws): Improve flaws display page (#8274)
  client/src/flaws/index.scss
  client/src/flaws/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(organisms/metadata): ignore hydration error in last modified timestamp
  client/src/document/organisms/metadata/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Add TZ setting to .env-dist file
  .env-dist
Due: prettier --ignore-unknown --write

wip
  gcp/function/.gcloudignore
  gcp/function/.gitignore
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/app.ts
  gcp/function/src/cli.ts
  gcp/function/src/env.ts
  gcp/function/src/handlers/bcdApi.ts
  gcp/function/src/handlers/client.ts
  gcp/function/src/handlers/content.ts
  gcp/function/src/handlers/liveSamples.ts
  gcp/function/src/handlers/rumba.ts
  gcp/function/src/handlers/spa.ts
  gcp/function/src/headers.ts
  gcp/function/src/index.ts
  gcp/function/src/source.ts
  gcp/function/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

feat(interactive-examples): measure actions
  client/src/document/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

more
  gcp/function/package.json
  gcp/function/src/app.ts
  gcp/function/src/handlers/bcdApi.ts
  gcp/function/src/handlers/client.ts
  gcp/function/src/handlers/content.ts
  gcp/function/src/index.ts
  gcp/function/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

PoC: visualization for how far behind the lastest commit
  client/src/translations/differences/index.tsx
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
