Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(permalink): remove unnecessary title (#7591)
  client/src/document/ingredients/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update package.json
  package.json
Due: prettier --ignore-unknown --write

refactor(kumascript): introduce KumaThis
  kumascript/src/api/mdn.ts
  kumascript/src/api/page.ts
  kumascript/src/api/web.ts
  kumascript/src/api/wiki.ts
  kumascript/src/environment.ts
Due: prettier --ignore-unknown --write

refactor: type caught errors
  build/flaws/index.ts
  build/index.ts
  kumascript/src/render.ts
  kumascript/tests/render.test.ts
  markdown/m2h/cli.ts
  tool/cli.ts
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write

refactor: distinguish cheerio.{AnyNode,Element}
  build/utils.ts
  filecheck/checker.ts
  kumascript/src/api/util.ts
Due: prettier --ignore-unknown --write

fix(kumascript): make SourceCodeError properties public
  kumascript/src/errors.ts
Due: prettier --ignore-unknown --write

refactor(tool/cli): improve tryOrExit() type
  tool/cli.ts
Due: prettier --ignore-unknown --write

fix(tool/cli): validate if value is string
  tool/cli.ts
Due: prettier --ignore-unknown --write

refactor(content): move Object.entries() type assertion to usage
  content/popularities.ts
Due: prettier --ignore-unknown --write

fix(content/utils): add type assertion for memoize()
  content/utils.ts
Due: prettier --ignore-unknown --write

fixup! refactor: distinguish cheerio.{AnyNode,Element}
  build/utils.ts
Due: prettier --ignore-unknown --write

style(eslint): remove unused import
  build/cli.ts
Due: prettier --ignore-unknown --write

style(eslint): disable for destructuring Doc
  build/cli.ts
  server/index.ts
Due: prettier --ignore-unknown --write

chore(client/tsconfig): remove unnecessary strict + noImplicitAny
  client/tsconfig.json
Due: prettier --ignore-unknown --write

refactor(kumascript): extract MacroInvocationError.is() helper
  kumascript/src/errors.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write

Clear fv storage on logout, split types of frequrently viewed. PR fixes and tweaks
  client/src/plus/collections/api.ts
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/frequently-viewed.tsx
  client/src/plus/collections/index.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Improve es l10n strings
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
Due: prettier --ignore-unknown --write

fix(bcd): Don't show exact version when feature was removed in range
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add compare-versions dependency and use it for version comparison
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

style(eslint): enable ignoreRestSiblings option for no-unused-vars rule
  .eslintrc.js
  build/cli.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! style(eslint): enable ignoreRestSiblings option for no-unused-vars rule
  .eslintrc.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/APIRef): update Spanish fixtures (#7602)
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
Due: prettier --ignore-unknown --write

chore(macros/CSSRef): add Functions section (#7604)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

style(eslint): resolve current warnings (#7601)
  .eslintrc.js
  build/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

Address feedback
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write

fix(bcd): show previous version in range when feature was removed (#7589)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(sw): don't start the sw if offline is off
  client/pwa/src/db.ts
  client/pwa/src/service-worker.ts
  client/src/plus/collections-quicksearch.ts
  client/src/search.tsx
  client/src/settings/db.ts
  client/src/settings/mdn-worker.tsx
  client/src/settings/offline-settings.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

lint
  client/src/search.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feedback
  client/src/plus/collections-quicksearch.ts
  client/src/settings/mdn-worker.tsx
  client/src/settings/offline-settings.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test(jest): migrate globals.ts-jest to transform (#7594)
  package.json
Due: prettier --ignore-unknown --write

Migrate FV to new key
  client/src/plus/collections/frequently-viewed.tsx
Due: prettier --ignore-unknown --write, eslint --fix

lints + pr nit
  client/src/plus/collections/frequently-viewed.tsx
  client/src/plus/collections/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

assign key to FV card
  client/src/plus/collections/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add functional update
  client/src/plus/collections/frequently-viewed.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/user-context.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(quicksearch): scroll when longer than screen
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(build, bcd): Fix version range in production
  build/document-extractor.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
