Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

change link sharing to an input
  client/src/playground/forms.tsx
Due: prettier --ignore-unknown --write, eslint --fix

more feedback
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/playground/index.scss
  client/src/ui/atoms/signin-link/index.tsx
  libs/constants/index.js
  libs/env/index.d.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

typo
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): revert AuthContainer + inline "Upgrade now"
  client/src/plus/ai-help/login-banner.tsx
  client/src/ui/molecules/auth-container/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(cloud-function): increase timeouts to 55s/60s
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  cloud-function/src/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

plus overview
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add missing img
  client/public/assets/playground.png
Due: prettier --ignore-unknown --write

chore(update-embeddings): update log messages
  tool/update-embeddings.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(update-embeddings): add url field
  tool/update-embeddings.sql
  tool/update-embeddings.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): add update-embeddings
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(ai-help): use url from source
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(ai-help): use url from source
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fixup! chore(ai-help): use url from source
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

ci(stage-build): remove build job for now
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): build only selected dependencies
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(stage-build): remove trailing comma
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

feat(update-embeddings): retrieve all at once + delete unseen docs
  tool/update-embeddings.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(update-embeddings): log error.response.data if available
  tool/update-embeddings.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(update-embeddings): ignore long HTML tables
  tool/update-embeddings.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(update-embeddings): wrap updates/deletions in if block
  tool/update-embeddings.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(update-embeddings): convert to standalone ai-help script
  .github/workflows/stage-build.yml
  package.json
  scripts/ai-help.sql
  scripts/ai-help.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "ci(stage-build): remove build job for now"
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): run update-embeddings-after-build
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

refactor(stage-build): move update-embeddings into build job
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

refactor(scripts/ai-help): rename update-{embeddings => index}
  .github/workflows/stage-build.yml
  scripts/ai-help.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): update MDN Sidebar strings for zh-CN
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write

copy changes
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(blog): add author avatars
  build/blog.ts
  build/build-blog.ts
  client/src/blog/index.scss
  client/src/blog/index.tsx
  client/src/blog/post.scss
  client/src/blog/post.tsx
  libs/types/blog.ts
  libs/types/hydration.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix codeql error
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(icons): remove unused class
  client/src/assets/icons/chatgpt.svg
Due: prettier --ignore-unknown --write

fix(icons): optimize new icons with svgo
  client/src/assets/icons/chatgpt.svg
  client/src/assets/icons/send.svg
Due: prettier --ignore-unknown --write

chore(plus/docs): add AI Help page
  client/src/plus/plus-docs/index.tsx
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write, eslint --fix

chore(offer-overview): move "Ads free" up
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ui): apply not-allowed cursor style globally
  client/src/app.scss
  client/src/plus/ai-help/index.scss
  client/src/plus/updates/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

refactor(ai-help): use CSS variables
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): avoid border-radius: 100px
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps): bump openai from 3.2.1 to 3.3.0
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

refactor(ai-help): introduce telemetry constant
  client/src/plus/ai-help/login-banner.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): add final survey link
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
