Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

add code block header
  build/syntax-highlight.ts
  client/src/assets/icons/play.svg
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(macros/AddonSidebar): use page titles + cleanup
  kumascript/macros/AddonSidebar.ejs
Due: prettier --ignore-unknown --write

fix(macros/AddonSidebar): remove more unused translations
  kumascript/macros/AddonSidebar.ejs
Due: prettier --ignore-unknown --write

test(macros/AddonSidebar): update test expectations
  kumascript/tests/macros/addonsidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(deployer): escape markdown markup in link text
  deployer/src/deployer/analyze_pr.py
Due: prettier --ignore-unknown --write

chore: add optional title, width, height attrs to YouTube embed
  kumascript/macros/EmbedYouTube.ejs
Due: prettier --ignore-unknown --write

chore: Add a GlossarySidebar macro for sidebars
  kumascript/macros/GlossarySidebar.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
Due: prettier --ignore-unknown --write

chore: changes following reviewer feedback
  kumascript/macros/GlossarySidebar.ejs
Due: prettier --ignore-unknown --write

chore: leftover closing li tag
  kumascript/macros/GlossarySidebar.ejs
Due: prettier --ignore-unknown --write

fix(client): update proxied extensions for dev server
  client/src/setupProxy.js
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore: update comments
  client/src/setupProxy.js
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): use --mark-color for highlights
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): align left width breadcrumbs
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): hide on pages w/o sidebar
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): add border on focus
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): left align thumbs + items with filter icon
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): increase space between input and thumbs
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar-filter): use different color for match count
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): increase backdrop length + distance
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(thumbs): highlight confirmation for 5 seconds, then transition for 1 second
  client/src/ui/atoms/thumbs/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(thumbs): add heart emoji
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar-filter): collapse if no focus/value
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar-filter): show footer only with focus
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): show footer upon user interaction
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(sidebar-filter): measure when users focus the filter
  client/src/document/organisms/sidebar/filter.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar-filter): show count inside input field
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(thumbs): improve animation
  client/src/ui/atoms/thumbs/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(thumbs): make up/downLabel props
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): redistribute responsibilities between .sidebar-actions and .sidebar-filter
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar-filter): keep input open + thumbs visible until cleared
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): optimize gradient/padding to keep sidebar begin at same position
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): make it available on mobile
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): align items centrally
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar): remove padding-top
  client/src/document/organisms/sidebar/index.scss
  client/src/ui/molecules/grids/_document-page.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fixup! fix(sidebar-filter): optimize gradient/padding to keep sidebar begin at same position
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): unset color for mark elements
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(libs/constants): remove font/woff
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(docs): allow audio (mp3/ogg), video (mp4/webm) and font (woff2) attachments (#7605)
  .github/workflows/testing.yml
  build/check-images.ts
  build/flaws/broken-links.ts
  build/index.ts
  build/utils.ts
  client/src/react-app.d.ts
  client/src/setupProxy.js
  cloud-function/src/app.ts
  cloud-function/src/utils.ts
  content/file-attachment.ts
  content/index.ts
  filecheck/checker.ts
  libs/constants/index.d.ts
  libs/constants/index.js
  libs/constants/index.test.ts
  package.json
  server/index.ts
  server/react-app.d.ts
  ssr/react-app.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update kumascript/macros/GlossarySidebar.ejs
  kumascript/macros/GlossarySidebar.ejs
Due: prettier --ignore-unknown --write

chore(sidebar-filter): do not replace unrelated text nodes
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix
