Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): remove unnecessary wrapper
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(ai-help): reuse ReactMarkdown for off-topic answer for simplicity
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore: add node type directive
  build/matches.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

extract the quota path into a constant
  client/src/plus/ai-help/use-ai.ts
  client/src/plus/common/api.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(common): rename AI_HELP_QUOTA_PATH
  client/src/plus/ai-help/use-ai.ts
  client/src/plus/common/api.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): show canned answer without sources for off-topic questions (#10575)
  client/src/plus/ai-help/constants.tsx
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(modal): make close button visible (#10604)
  client/src/ui/atoms/modal/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): refetch quota after an ai error (#10615)
  client/src/plus/ai-help/use-ai.ts
  client/src/plus/common/api.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: add `lint-staged` script to workaround yarn issue
  package.json
Due: prettier --ignore-unknown --write

fix: run `tsc` in parallel for `check:tsc`
  scripts/check-tsc.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: replace shell commands with scripts
  package.json
  scripts/check-tsc.ts
  scripts/find.ts
  scripts/install-all-npm.ts
  scripts/install-all-subpackages.ts
  scripts/install-all.ts
  scripts/start.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: change `true` to `echo` for `prepare` script
  package.json
Due: prettier --ignore-unknown --write

fix(ai-help): show "Stopped answering" message only once
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): restore animation while sources are loading
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(article-footer): apply new structure
  client/src/document/on-github.tsx
  client/src/document/organisms/article-footer/index.scss
  client/src/document/organisms/article-footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(article-footer): rename Metadata => ArticleFooter
  client/src/document/index.tsx
  client/src/document/organisms/article-footer/index.scss
  client/src/document/organisms/article-footer/index.tsx
  client/src/plus/collections/collection.tsx
  testing/tests/headless.index.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(article-footer): extract Contribute component
  client/src/document/organisms/article-footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(article-footer): consolidate CSS
  client/src/document/organisms/article-footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(article-footer): add feedback buttons
  client/src/document/organisms/article-footer/index.scss
  client/src/document/organisms/article-footer/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(article-footer): add background image
  client/src/assets/article-footer/article-footer.svg
  client/src/document/organisms/article-footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(article-footer): avoid layout shift on vote
  client/src/document/organisms/article-footer/index.scss
  client/src/document/organisms/article-footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(article-footer): add feedback form on "No" vote
  client/src/document/organisms/article-footer/index.scss
  client/src/document/organisms/article-footer/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(document): move article-footer out of main-page-content
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/document/organisms/article-footer/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(article-footer): replace pipe by bullet
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(icons): rename {twitter => x}.svg
  client/src/assets/icons/x.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(footer): update visually-hidden Twitter copy
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(icons): optimize x.svg + add width/height
  client/src/assets/icons/x.svg
Due: prettier --ignore-unknown --write

refactor(icons): rename {x => twitter-x}.svg
  client/src/assets/icons/twitter-x.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! refactor(document): move article-footer out of main-page-content
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(footer): replace Twitter with X logo (#10438)
  client/src/assets/icons/twitter-x.svg
  client/src/assets/icons/twitter.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(build): check for bad_src flaws in markdown files (#8133)
  build/check-images.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/unsafe-html.ts
  build/matches.ts
  package.json
  testing/content/files/en-us/web/images/bad_src/index.html
  testing/content/files/en-us/web/images/bad_src/index.md
  testing/tests/index.test.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/DOMAttributeMethods): add ko locale (#10502)
  kumascript/macros/DOMAttributeMethods.ejs
Due: prettier --ignore-unknown --write

fix(build/matches): remove unnecessary type imports
  build/matches.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(build/matches): remove unnecessary type imports (#10634)
  build/matches.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

refactor(article-footer): rename article-footer-{content-container => inner}
  client/src/document/organisms/article-footer/index.scss
  client/src/document/organisms/article-footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(article-footer): use 0.75rem margin between form elements
  client/src/document/organisms/article-footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(article-footer): crop background image
  client/src/assets/article-footer/article-footer.svg
Due: prettier --ignore-unknown --write

chore(article-footer): move background-image to inner container
  client/src/document/organisms/article-footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "fix(article-footer): use 0.75rem margin between form elements"
  client/src/document/organisms/article-footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(article-footer): remove label padding
  client/src/document/organisms/article-footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
