Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(interactive-examples): grant clipboard-write permission to iframe (#10910)
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/tests/macros/EmbedInteractiveExample.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(stage-build): trigger workflow from next on schedule
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(stage-build): trigger `next` version of workflow on schedule (#10931)
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

Update JSDoc...?
  markdown/m2h/handlers/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(stage-build): provide GH_TOKEN to trigger job
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(stage-build): specify repo for workflow run
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(stage-build): provide GH_TOKEN + specify repo in trigger job (#10932)
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

feat(playground): add Reset button
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): disable Share/Clear buttons if empty
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(seo): run page title rewrite experiment on 500 pages
  build/index.ts
  build/seo.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(notecards): remove border
  client/src/ui/molecules/notecards/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Add color guides
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

fix(ad-free): hide top-banner entirely
  client/src/app.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ad-free): show minimal muted top-banner fallback
  client/src/app.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(layout): remove unnecessary margin-bottom on last paragraph
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(notecard): remove unnecessary !important flag
  client/src/ui/molecules/notecards/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

refactor(ad-free): simplify fallback-copy logic + style
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(playground): extract setEditorContent() + maintain isEmpty
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(playground): add Reset button
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fixup! feat(playground): add Reset button
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): dispatch readystatechange event
  client/public/runner.html
Due: prettier --ignore-unknown --write

fix(playground): dispatch bubbling events on document
  client/public/runner.html
Due: prettier --ignore-unknown --write

Update kumascript/macros/CSSRef.ejs
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

chore(AccessibilitySidebar): add zh-cn translation
  kumascript/macros/AccessibilitySidebar.ejs
Due: prettier --ignore-unknown --write

fix(playground): dispatch load on document, only bubble DOMContentLoaded
  client/public/runner.html
Due: prettier --ignore-unknown --write

enhance(macros/PreviousMenuNext): use the actual title of the document by default (#10812)
  kumascript/macros/PreviousMenuNext.ejs
Due: prettier --ignore-unknown --write

chore: refine comment
  build/seo.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(notecards): reduce left border width
  client/src/ui/molecules/notecards/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

enhance(callouts): remove border
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(playground): dispatch readystatechange + bubble DOMContentLoaded on document (#10946)
  client/public/runner.html
Due: prettier --ignore-unknown --write

feat(experiment): rewrite Web/API page titles (#10926)
  build/index.ts
  build/seo.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(experiment): replace test group
  build/seo.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(experiment): replace test group for Web/API page titles (#10955)
  build/seo.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(translations/dashboard): fix table sorting (#9910)
  client/src/flaws/index.scss
  client/src/translations/dashboard/index.tsx
  client/src/translations/differences/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(notecards,callouts): reduce borders (#10943)
  client/src/document/index.scss
  client/src/ui/molecules/notecards/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(playground): change cursor for disabled buttons
  client/src/playground/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(scss): remove unused notecards styles
  client/src/document/molecules/_notecards.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(playground): validate console messages
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(playground): set src in setEditorContent()
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(callouts): reduce inner bottom spacing (#10944)
  client/src/document/index.scss
  client/src/ui/molecules/notecards/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
