Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

chore(ai-help): remove unnecessary eslint-disable
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): check external url properly
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): reset messageIndex only on "New chat"
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(ai-help): rename reset{State => LoadingState}
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): remove unnecessary async keyword
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): assume setIsLoading is set
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(ai-help): rename {current => newState} + use state as well
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(ai-help): assume setIsLoading is set
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): type params
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): remove unnecessary type param
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): type AiHelpStorage
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

copy and docs
  client/public/assets/plus-docs/playground/playground-example.png
  client/public/assets/plus-docs/playground/playground-menu.png
  client/public/assets/plus-docs/playground/playground-sample.png
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/plus-docs/index.tsx
  copy/plus/features/playground.md
Due: prettier --ignore-unknown --write, eslint --fix

refactor(ai-help): explain what messages we send in our request
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(ai-help): type params
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): improve isAuthenticated condition
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): treat other finish_reasons as "stopped"
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(ai-help): type params
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(ai-help): separate block for clarity
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): distinguish beta tag from new tag
  client/src/app.scss
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

review update
  client/src/app.scss
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(prod): set ORIGIN_PLAY for cloud function
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

fix(prod): set ORIGIN_PLAY for cloud function (#9136)
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

refactor(ai-help): eliminate currentMessageIndex
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: pride month 2023 is over :(
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): distinguish beta tag from new tag (#9135)
  client/src/app.scss
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(plus/docs): update AI Help page + add screenshots
  client/public/assets/plus-docs/ai-help/ask-question.png
  client/public/assets/plus-docs/ai-help/code-example.png
  client/public/assets/plus-docs/ai-help/context.png
  client/public/assets/plus-docs/ai-help/sources.png
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write

fix(playground): render SVGs
  client/public/runner.html
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix it
  client/public/runner.html
Due: prettier --ignore-unknown --write

fix(playground): console scroll to bottom
  client/src/playground/console.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): render SVGs (#9141)
  client/public/runner.html
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): console scroll to bottom (#9153)
  client/src/playground/console.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): update MDN Sidebar strings for zh-CN (#9129)
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write

warn if can't read author file
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: prevent live-sample render errors killing the whole build
  kumascript/src/live-sample.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: prevent live-sample render errors killing the whole build (#9155)
  kumascript/src/live-sample.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): deprecate {{xref_cssvisual}} macro
  kumascript/macros/xref_cssvisual.ejs
Due: prettier --ignore-unknown --write

chore(offer-overview): update AI Help copy
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(plus/docs): update AI Help page + add screenshots
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write

chore(plus/docs): update AI Help copy
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write
