Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fixup! chore(ai-help): add blinking cursor
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): reduce to 3 questions
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): add container padding
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

m chore(ai-help): optimise send icon
  client/src/assets/icons/send.svg
Due: prettier --ignore-unknown --write

chore(ai-help): resize input field
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): remove unnecessary flex/overflow
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(thumbs): show question/confirmation conditionally
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): show thumbs on answers
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! feat(ai-help): add send button 130 ↵ ✚
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

tooltip mobile and tabs
  client/src/document/molecules/tooltip/index.scss
  client/src/document/molecules/tooltip/index.tsx
  client/src/playground/editor.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

use h2 when below blogpost
  client/src/newsletter/index.scss
  client/src/newsletter/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): update footer + left align
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): avoid input overlap with send icon
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): update loading placeholder copies
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): always show thumbs on completed answer
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/ui/atoms/thumbs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(update-embeddings): add title
  tool/update-embeddings.sql
  tool/update-embeddings.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): show error properly above input field
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(thumbs): set height = 1.5rem in general
  client/src/document/organisms/sidebar/filter.scss
  client/src/ui/atoms/thumbs/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(thumbs): use icon-secondary color for icons
  client/src/ui/atoms/thumbs/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): make content span full width
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): add margin between input + footer
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): display answer source
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): title is now never null
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
  tool/update-embeddings.sql
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): update metadata event
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): use quota returned from API
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): add key for loop components
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): update API path
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

header and style
  client/src/playground/forms.tsx
  client/src/playground/index.scss
  cloud-function/src/headers.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

clean up tooltip
  client/src/document/molecules/tooltip/index.scss
  client/src/document/molecules/tooltip/index.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

border-radius and padding for example header
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): remove unnecessary CSS for .ai-help-inner
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): make first message sticky
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): add "New chat" button
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(ai-help): fetch quota on load
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): reset input on submit
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): show Loader until we have quota
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): add upsell banner
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/login-banner.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip
  kumascript/tests/macros/EmbedLiveSample.test.ts
  kumascript/tests/macros/LiveSampleURL.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

review updates
  client/src/blog/post.scss
  client/src/newsletter/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ai-help): update sources section copy
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix
