Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fixup! feat(ai-help): detect stream timeout after 15 sec
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): measure errors
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(workflows): remove plain.html exclusion
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fixup! chore(client): remove experiments
  client/src/plus/common/api.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(settings): update Newsletter/Offline copy
  client/src/settings/newsletter.tsx
  client/src/settings/offline-settings.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(ai-help): add more click measurements
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(settings): update Newsletter/Offline copy (#10177)
  client/src/settings/newsletter.tsx
  client/src/settings/offline-settings.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(ai-help): use en-US for copy
  client/src/plus/ai-help/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(ai-help): remove comments from docs
  copy/plus/features/ai-help.md
Due: prettier --ignore-unknown --write

fixup! chore(ai-help): use en-US for copy
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): fixes from self-review
  build/index.ts
  client/src/document/code/playground.ts
  client/src/playground/queue/index.scss
  client/src/plus/ai-help/history.scss
  client/src/plus/ai-help/history.tsx
  client/src/plus/ai-help/index.scss
  scripts/ai-help-macros.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! fix(ai-help): extract proper ThemedPicture atom
  client/src/ui/atoms/themed-picture/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/document/baseline-indicator.tsx
  client/src/document/baseline-indicator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(baseline): update icons, add text to feedback link (#10172)
  client/src/assets/icons/baseline/browser-check.svg
  client/src/assets/icons/baseline/browser-cross.svg
  client/src/assets/icons/baseline/chrome.svg
  client/src/assets/icons/baseline/edge.svg
  client/src/assets/icons/baseline/firefox.svg
  client/src/assets/icons/baseline/high-dark.svg
  client/src/assets/icons/baseline/high.svg
  client/src/assets/icons/baseline/limited-dark.svg
  client/src/assets/icons/baseline/limited.svg
  client/src/assets/icons/baseline/low-dark.svg
  client/src/assets/icons/baseline/low.svg
  client/src/assets/icons/baseline/safari.svg
  client/src/assets/icons/feedback.svg
  client/src/document/baseline-indicator.scss
  client/src/document/baseline-indicator.tsx
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

test(macros/CSSSyntax): add <angle-percentage> test
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
  kumascript/tests/lib/css-syntax.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(macros/CSSSyntax): update snapshot
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Due: prettier --ignore-unknown --write

refactor(macros/CSSSyntax): rename valuespaces to values
  kumascript/src/lib/css-syntax.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/CSSSyntax): resolve child values
  kumascript/src/lib/css-syntax.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(macros/CSSSyntax): add polygon() test
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
  kumascript/tests/lib/css-syntax.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

style(prettier): run prettier-format
  client/src/document/baseline-indicator.tsx
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/molecules/tooltip/index.tsx
  client/src/document/toolbar/flaws.tsx
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
  client/src/plus/collections/collection.tsx
  client/src/telemetry/glean-context.tsx
  client/src/ui/organisms/placement/index.tsx
  client/src/user-context.tsx
  filecheck/checker.ts
  scripts/ai-help-macros.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(macros/CSSSyntax): add <content-replacement> test
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
  kumascript/tests/lib/css-syntax.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "refactor(client): load Document lazily"
  client/src/app.tsx
  client/src/document/index.test.tsx
  client/src/document/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(client): load Document lazily
  client/src/app.tsx
  client/src/document/index.test.tsx
  client/src/document/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(client): load more lazily
  client/src/about/index.tsx
  client/src/advertising/index.tsx
  client/src/app.tsx
  client/src/blog/index.tsx
  client/src/community/index.tsx
  client/src/contributor-spotlight/index.tsx
  client/src/document/index.tsx
  client/src/homepage/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/newsletter/index.tsx
  client/src/page-not-found/index.tsx
  client/src/plus/index.tsx
  client/src/settings/index.tsx
  client/src/site-search/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Keep with the three existing noteblock types
  markdown/m2h/handlers/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): do not lazy load PageNotFound
  client/src/app.tsx
  client/src/document/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/plus/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(pong): set forwardedip/useragent on click/view request
  cloud-function/src/handlers/proxy-bsa.ts
  libs/pong/pong2.d.ts
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/CSSSupport): support nested @webref/css values (#10183)
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
  kumascript/tests/lib/css-syntax.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(pong): set forwardedip/useragent on click/view requests (#10185)
  cloud-function/src/handlers/proxy-bsa.ts
  libs/pong/pong2.d.ts
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

Get release date from browser data
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Remove [Simple]SupportStatementExtended types
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Use import statement instead of import method
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove @mdn/bcd-utils-api from ai-help-macros
  scripts/ai-help-macros.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove @mdn/bcd-utils-api altogether
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Move tips to troubleshooting section
  README.md
Due: prettier --ignore-unknown --write

Please MD linter
  README.md
Due: prettier --ignore-unknown --write

filecheck: ban parantheses
  filecheck/checker.ts
Due: prettier --ignore-unknown --write, eslint --fix

handle all file types. not just images
  filecheck/checker.ts
  testing/tests/filecheck.test.ts
  testing/tests/filechecker/samplefiles-paren(theses)/index.md
  testing/tests/filechecker/samplefiles-upperCase/index.md
Due: prettier --ignore-unknown --write, eslint --fix
