Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Fix imports
  kumascript/tests/macros/Specifications.test.ts
  kumascript/tests/macros/WebAssemblySidebar.test.ts
  kumascript/tests/macros/firefoxsidebar.test.ts
  kumascript/tests/macros/gamessidebar.test.ts
  kumascript/tests/macros/mdnsidebar.test.ts
  kumascript/tests/macros/svgattr.test.ts
  kumascript/tests/macros/utils.test.ts
  kumascript/tests/macros/wiki-api.test.ts
Due: prettier --ignore-unknown --write

Update Jest config to support ESM
  package.json
Due: prettier --ignore-unknown --write

EJS doesn't support ESM imports; revert to CJS
  kumascript/macros/CSSAnimatedProperties.ejs
  kumascript/macros/CSSInfo.ejs
  kumascript/macros/CSSSyntax.ejs
  kumascript/macros/CSS_Ref.ejs
  kumascript/macros/WebExtAllCompatTables.ejs
Due: prettier --ignore-unknown --write

chore(macros): delete unused {{Compat*}} macros
  kumascript/macros/CompatNo.ejs
  kumascript/macros/CompatVersionUnknown.ejs
  kumascript/macros/CompatibilityTable.ejs
Due: prettier --ignore-unknown --write

chore(macros): delete unused {{Compat*}} macros (#7680)
  kumascript/macros/CompatNo.ejs
  kumascript/macros/CompatVersionUnknown.ejs
  kumascript/macros/CompatibilityTable.ejs
Due: prettier --ignore-unknown --write

chore(client): remove Array.flat/ES6 polyfill
  client/public/index.html
Due: prettier --ignore-unknown --write

fix(plus): textarea grow broken when zoomed out
  client/src/ui/atoms/form/expanding-textarea.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(quicksearch): add a qs paramater
  client/src/search.tsx
  testing/tests/headless.search.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: add SECURITY.md
  SECURITY.md
Due: prettier --ignore-unknown --write

chore(env): reduce MAX_FILE_SIZE to 500 KiB
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(macro-usage-report): add minus sign for 0 occurrences
  scripts/macro-usage-report.ts
Due: prettier --ignore-unknown --write

Properly import Jest within the tests
  kumascript/tests/environment.test.ts
  kumascript/tests/index.test.ts
  kumascript/tests/macros/DefaultAPISidebar.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/LiveSampleURL.test.ts
  kumascript/tests/macros/addonsidebar.test.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/cssxref.test.ts
  kumascript/tests/macros/httpheader.test.ts
  kumascript/tests/macros/jsxref.test.ts
  kumascript/tests/macros/page-api.test.ts
  kumascript/tests/macros/svginfo.test.ts
  kumascript/tests/render.test.ts
  kumascript/tests/templates.test.ts
Due: prettier --ignore-unknown --write

Delete unneeded files
  kumascript/tests/macros/apiref.test.ts-base
  kumascript/tests/macros/apiref.test.ts-ours
  kumascript/tests/macros/apiref.test.ts-theirs
Due: prettier --ignore-unknown --write

Remove unneeded lines
  client/src/app.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert changes to AWS-lambda deployer (deferred to other PR)
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix file checker
  filecheck/checker.ts
Due: prettier --ignore-unknown --write

chore(env): reduce MAX_FILE_SIZE to 500 KiB (#7694)
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(pr-companion): minor formatting fix for PR comment timestamp resolution
  deployer/src/deployer/analyze_pr.py
Due: prettier --ignore-unknown --write

fix(pr-companion): reduce timestamp resolution (#7696)
  deployer/src/deployer/analyze_pr.py
Due: prettier --ignore-unknown --write

Update SECURITY.md
  SECURITY.md
Due: prettier --ignore-unknown --write

fixup! Update SECURITY.md
  SECURITY.md
Due: prettier --ignore-unknown --write

docs: add SECURITY.md (#7693)
  SECURITY.md
Due: prettier --ignore-unknown --write

fixup! chore(client): remove Array.flat/ES6 polyfill
  libs/constants/index.js
  testing/tests/csp.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

account for border
  client/src/ui/atoms/form/expanding-textarea.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(quicksearch): add a qs paramater (#7691)
  client/src/search.tsx
  testing/tests/headless.search.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(code): move font-family to pre/code/.code-example
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(code): move font-family to pre/code/.code-example (#7702)
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(client): reduce pre/code font-size
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Revert dependencies with markers removed by Dependabot
  deployer/poetry.lock
Due: prettier --ignore-unknown --write

Promote only function in macro to default export
  kumascript/tests/fixtures/server/macros/library1-used.ejs
  kumascript/tests/fixtures/server/macros/library1.ejs
Due: prettier --ignore-unknown --write

chore: use un-nested navs for better semantics
  client/src/document/organisms/sidebar/index.tsx
  client/src/document/organisms/toc/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Simplify exports
  client/pwa/src/db.ts
  client/pwa/src/fetch-interceptors.ts
  client/src/plus/contexts/search-filters.tsx
  client/src/settings/db.ts
  libs/fundamental-redirects/index.js
  playwright.config.js
Due: prettier --ignore-unknown --write, eslint --fix

Don't rename "slugToFolder"
  content/redirect.ts
  content/utils.ts
  libs/slug-utils/index.d.ts
  libs/slug-utils/index.js
Due: prettier --ignore-unknown --write, eslint --fix

Remove leftover debugging
  tool/cli.ts
Due: prettier --ignore-unknown --write

Update comment
  kumascript/tests/templates.test.ts
Due: prettier --ignore-unknown --write

Fix imports
  kumascript/tests/macros/Deprecated.test.ts
  kumascript/tests/macros/EmbedInteractiveExample.test.ts
  kumascript/tests/macros/EmbedLiveSample.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/ListGroups.test.ts
  kumascript/tests/macros/LiveSampleURL.test.ts
  kumascript/tests/macros/addonsidebar.test.ts
  kumascript/tests/macros/cssxref.test.ts
  kumascript/tests/macros/httpheader.test.ts
  kumascript/tests/macros/jsxref.test.ts
  kumascript/tests/macros/svginfo.test.ts
Due: prettier --ignore-unknown --write

fix(plus): textarea grow broken when zoomed out (#7690)
  client/src/ui/atoms/form/expanding-textarea.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(quicksearch): click pings for quicksearch
  client/src/search.tsx
  testing/tests/headless.search.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(quicksearch): click pings for quicksearch (#7706)
  client/src/search.tsx
  testing/tests/headless.search.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
