Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

add play queue
  client/src/document/code/playground.ts
  client/src/playground/queue/index.scss
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

copy
  client/src/document/code/playground.ts
  client/src/document/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

open in new tab and more
  client/src/blog/post.tsx
  client/src/document/code/playground.ts
  client/src/document/hooks.ts
  client/src/playground/queue/index.scss
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(placement): fix firing multiple impressions
  client/src/document/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

"fix" test
  client/src/document/index.test.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add intersection observer hook, simplify logic (#9653)
  client/src/hooks.ts
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

ts
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feedback 1
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

more reacty
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(baseline): not appearing on translated docs
  build/index.ts
  kumascript/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

perf: async function concurrent
  build/blog.ts
  build/build-blog.ts
  kumascript/macros/DefaultAPISidebar.ejs
Due: prettier --ignore-unknown --write, eslint --fix

feature detect IntersectionObserver
  client/src/document/index.test.tsx
  client/src/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(placement): fix firing multiple impressions (#9631)
  client/src/document/index.test.tsx
  client/src/document/index.tsx
  client/src/hooks.ts
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

ui fixed + blog queue
  client/src/blog/post.tsx
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/playground/queue/index.scss
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(cookie-security): adapt links for different languages
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

chore(dependabot): group pip minor/patch updates
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

chore(dependabot): group pip minor/patch updates (#9687)
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

feat(footer): add mastodon svg icon
  client/src/assets/icons/mastodon.svg
  client/src/assets/icons/twitter.svg
Due: prettier --ignore-unknown --write

fix(footer): manual adjustment of mastodon.svg for the footer usage
  client/src/assets/icons/mastodon.svg
Due: prettier --ignore-unknown --write

feat(footer): replace mastodon icon link with twitter
  client/src/ui/atoms/icon/index.scss
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(client): deal with css disabled
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/document/hooks.ts
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(plus): prepare account rebranding
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/settings/manage.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(settings): replace "Your account" with "Account"
  client/src/settings/manage.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(plus): prepare account rebranding (#9708)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/settings/manage.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/LearnSidebar): add "HTML forms in legacy browsers" (#9202)
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

fix(client): avoid CSS warning in Firefox
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(csp): remove unsafe-eval from script-src-elem
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix: update branch name with `main`
  kumascript/macros/WebExtExamples.ejs
Due: prettier --ignore-unknown --write

fix(macros/WebExtExamples): update branch name (#9730)
  kumascript/macros/WebExtExamples.ejs
Due: prettier --ignore-unknown --write

fix(client): avoid CSS warning in Firefox (#9727)
  client/src/ui/organisms/top-navigation-main/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(client): avoid Object.fromEntries()
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): wrap color scheme listener in try-catch
  client/src/ui-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(samples):fix LiveSampleLink and unify domains
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  kumascript/macros/LiveSampleLink.ejs
Due: prettier --ignore-unknown --write

feat(blog): add toc
  client/src/blog/index.scss
  client/src/blog/index.tsx
  client/src/blog/post.scss
  client/src/blog/post.tsx
  client/src/document/hooks.ts
  client/src/document/organisms/toc/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

use min height for top header
  client/src/app.scss
  client/src/app.tsx
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/ui/organisms/top-navigation/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

no placment on sponsored posts
  client/src/blog/post.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feedback
  client/src/app.scss
  client/src/blog/post.scss
  client/src/document/hooks.ts
  client/src/document/organisms/toc/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Update client/src/blog/post.scss
  client/src/blog/post.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

reanming and moving to resize observer
  client/src/app.scss
  client/src/app.tsx
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/ui/molecules/grids/_document-page.scss
  client/src/ui/organisms/article-actions/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input
