Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(curriculum): use bg color from label bg
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(curriculum): sync notes hue with bg-color
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(l10n): remove opacity for en-US links
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(curriculum): use --text-secondary + opacity
  client/src/curriculum/modules-list.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(curriculum): highlight "Getting started" in module overview (#11051)
  client/src/curriculum/about.tsx
  client/src/curriculum/overview.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(telemetry): measure user preferred languages
  client/src/telemetry/generated/element.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/generated/page.ts
  client/src/telemetry/generated/pings.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(telemetry): measure user preferred languages
  client/src/telemetry/metrics.yaml
Due: prettier --ignore-unknown --write

fixup! feat(telemetry): measure user preferred languages
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

code refactoring
  client/public/runner.html
Due: prettier --ignore-unknown --write

improve position of 'en-US link indicators' in sidebar
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(css-syntax): fix some minor css syntax bugs
  kumascript/src/lib/css-syntax.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(glean): remove migration flag
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix tests
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Due: prettier --ignore-unknown --write, eslint --fix

fix(macro): Fix two flaws in CSSRef.ejs
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

fix(macro): Fix two flaws in CSSRef.ejs (#11081)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

fix(macro): fix URL issues in sidebar macros
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
Due: prettier --ignore-unknown --write

fix(html): remove trailing slash on void element
  client/public/index.html
  client/public/runner.html
  ssr/render.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: specify the field types
  content/document.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove type check
  content/wikihistories.ts
Due: prettier --ignore-unknown --write, eslint --fix

feature(tool/move): update files pointing to the moved document(s)
  content/document.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix bug
  content/document.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): deterministic output when changing config
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove support for css modules, we don't use them
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): use asset/resource because we never want to inline
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): merge avif config into config for other images
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove InlineChunkHtmlPlugin
  client/config/webpack.config.js
  package.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): we use a tsconfig.json, remove conditional ts logic
  client/config/modules.js
  client/config/paths.js
  client/config/webpack.config.js
  client/scripts/start.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground/runner): fix external script loading in playground (#11017)
  client/public/runner.html
Due: prettier --ignore-unknown --write

chore(webpack): remove jestAliases, since it's not used anywhere
  client/config/modules.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove additionalModulePaths since baseUrl isn't set in our tsconfig
  client/config/modules.js
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove webpackAliases since baseUrl isn't set in our tsconfig
  client/config/modules.js
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove react-native-web specific config options
  client/config/paths.js
  client/config/webpack.config.js
  client/package.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove use of appNodeModules
  client/config/paths.js
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove appWebpackCache, use defaults
  client/config/paths.js
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove appTsBuildInfoFile and hard code
  client/config/paths.js
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove moment locale ignore, we don't use moment
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove workbox-webpack-plugin, we roll our own service worker
  client/config/paths.js
  client/config/webpack.config.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove setupTests, it's not used by anything
  client/config/paths.js
  client/config/webpack.config.js
  client/src/setupTests.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(css-syntax): explicitly order specs
  kumascript/src/lib/css-syntax.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): remove proxySetup path, import setupProxy directly
  client/config/paths.js
  client/config/webpackDevServer.config.js
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
