Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix(sidebar): improve summary link style
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(locale): add Italian locale
  client/src/document/index.scss
  client/src/document/molecules/localized-content-note/index.tsx
  client/src/document/on-github.tsx
  client/src/document/organisms/article-footer/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  libs/constants/index.js
  libs/l10n/l10n.ts
  libs/types/core.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(it): translate "In this article"
  client/src/document/organisms/toc/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

update release date label in compat tables
  client/src/lit/compat/compat-table.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(cloud-function): support Glean for Fred (#13054)
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(on-github): use allizom for Italian issue reports
  client/src/document/on-github.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(bcd): limit length of long bcd tables
  client/src/lit/compat/compat-table.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(pride): pride 2025
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(bcd): limit length of long bcd tables (#13061)
  client/src/lit/compat/compat-table.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(compat-table): reduce features progressively
  client/src/lit/compat/compat-table.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(compat-table): reduce features progressively (#13066)
  client/src/lit/compat/compat-table.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(scrim-inline): load within Prose only if it contains the element
  client/src/curriculum/module.tsx
  client/src/document/ingredients/prose.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix lint
  client/src/curriculum/module.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(localized-content-note): link to README, not repo
  client/src/document/molecules/localized-content-note/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add css
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(scrim-inline): load within Prose only if it contains the element (#13067)
  client/src/curriculum/module.tsx
  client/src/document/index.scss
  client/src/document/ingredients/prose.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(homepage-hero): add back CSS/HTML/JavaScript links
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(pride): pride 2025 (#13065)
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(compat-table): replace "Released" with "Release date" to account for upcoming releases (#13060)
  client/src/lit/compat/compat-table.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(scrims): show outline on focus-visible
  client/src/lit/curriculum/scrim-inline.js
  client/src/lit/curriculum/scrim-inline.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

remove unneeded class
  client/src/lit/curriculum/scrim-inline.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(scrims): show outline on focus-visible (#13110)
  client/src/lit/curriculum/scrim-inline.js
  client/src/lit/curriculum/scrim-inline.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(homepage): add search placeholder
  client/src/homepage/homepage-hero/index.tsx
  client/src/search-utils.ts
  client/src/search.tsx
  client/src/ui/molecules/search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(homepage): add text-shadow on placeholder
  client/src/homepage/homepage-hero/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

style: run `yarn stylelint --fix`
  client/src/ui/molecules/auth-container/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Revert "chore(main): release 4.11.1 (#13108)"
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

enhance(homepage): add search placeholder (#13111)
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/search-utils.ts
  client/src/search.tsx
  client/src/ui/molecules/search/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(npm): modify package for use in fred
  .npmignore
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

remove rather than comment in npmignore
  .npmignore
Due: prettier --ignore-unknown --write

feat(npm): modify package for use in fred (#13133)
  .npmignore
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix: various fixes when using yari in fred
  client/src/env.ts
  client/src/plus/collections/collection.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/settings/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(plus/updates): hide filters if non-authenticated
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(plus/updates): reuse canFilter
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

review fixes
  client/src/env.ts
  client/src/settings/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: various fixes when using yari in fred (#13142)
  client/src/env.ts
  client/src/plus/collections/collection.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/settings/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(plus/updates): hide filters if not authenticated (#13143)
  client/src/plus/updates/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix
