Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

refactor(ai-help): extract Markdown component
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/markdown.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(markdown): remove resolved @ts-expect-error directive
  markdown/m2h/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ai-help): migrate to react-markdown v9
  client/src/plus/ai-help/markdown.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {{spec|spec2|SpecName}} macros
  kumascript/macros/SpecName.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/spec2.ejs
Due: prettier --ignore-unknown --write

chore(macros/HTTPSidebar): remove Cookie Security link
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

Revert "refactor(ai-help): extract Markdown component"
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/markdown.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {spec,spec2,SpecName} macros (#9982)
  kumascript/macros/SpecName.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/spec2.ejs
Due: prettier --ignore-unknown --write

feat(menu): rename "Guides" to "Learn"
  client/src/ui/molecules/learn-menu/index.scss
  client/src/ui/molecules/learn-menu/index.tsx
  client/src/ui/molecules/main-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(learn-menu): point "Accessibility" to Learn section
  client/src/ui/molecules/learn-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(CSSRef): add Border-radius generator
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

chore(footer): update Careers link
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(footer): update Careers link (#9995)
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

update header, dynamically update explainer message to mention GPT-3.5/4
  client/src/app.scss
  client/src/assets/icons/ai-help.svg
  client/src/assets/icons/feedback.svg
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(macro-usage-report): add CSV output format
  tool/cli.ts
  tool/macro-usage-report.ts
Due: prettier --ignore-unknown --write, eslint --fix

Combine duplicate logic in MD/CSV tables
  tool/macro-usage-report.ts
Due: prettier --ignore-unknown --write, eslint --fix

Simplify function arguments
  tool/macro-usage-report.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): Remove deprecated bug/htmlattrdef/xref_cssvisual macros
  kumascript/macros/bug.ejs
  kumascript/macros/htmlattrdef.ejs
  kumascript/macros/xref_cssvisual.ejs
Due: prettier --ignore-unknown --write

nonRecursive -> recursive
  content/document.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove deprecated rotate argument
  client/src/writers-homepage/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(macro-usage-report): add CSV output format (#9996)
  tool/cli.ts
  tool/macro-usage-report.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): bump markdown dependencies (#9980)
  client/src/plus/ai-help/index.tsx
  markdown/m2h/index.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): bump @webref/css from 6.0.0 to 6.7.1
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

test(kumascript): update CSSSyntax snapshots
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Due: prettier --ignore-unknown --write

chore(deps-dev): bump `@typescript-eslint/*` from 5.62.0 to 6.10.0
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

feat(telemetry): add Sentry to client
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  client/src/env.ts
  client/src/index.tsx
  client/src/telemetry/sentry.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(csp): add *.sentry.io as connect-src
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

move feedback link back to top
  client/src/app.scss
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

make queue/play buttons in code examples sentence case
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(telemetry): reduce Sentry bundle size
  client/config/webpack.config.js
  client/src/index.tsx
  client/src/telemetry/sentry.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): add minimal integrations
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): load sentry async
  client/src/telemetry/sentry.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(telemetry): load Sentry on demand
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(telemetry): load Sentry on demand
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry): deduplicate errors before sentry was loaded
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry): remove unused initSentry() param
  client/src/index.tsx
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fix(telemetry): remove unused initSentry() param
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(telemetry): avoid invalid release value
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(webpack): quantify gain of sentry treeshaking
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(flaws): exclude /discord from broken-link flaw
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/CSSRef): add Border-radius generator (#9994)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write
