Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(macros/PWASidebar): add "Whats a PWA" (#8821)
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

Ensure search suggestion URLs include valid locale
  client/src/page-not-found/fallback-link.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): add @elastic/search 8.7.0
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

feat(tool): add search_index scaffolding
  libs/env/index.d.ts
  libs/env/index.js
  tool/cli.ts
  tool/search-index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/HTTPSidebar): update Chinese translation + translate CSP item
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

feat(tool/search-index): first draft
  tool/search-index.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(npm-publish): migrate from merge-release to release-please (#8771)
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

feat(docs): baseline indicator
  build/index.ts
  client/src/assets/icons/baseline/browser-check.svg
  client/src/assets/icons/baseline/browser-cross.svg
  client/src/assets/icons/baseline/check-dark.svg
  client/src/assets/icons/baseline/check.svg
  client/src/assets/icons/baseline/chrome.svg
  client/src/assets/icons/baseline/cross-dark.svg
  client/src/assets/icons/baseline/cross.svg
  client/src/assets/icons/baseline/edge.svg
  client/src/assets/icons/baseline/firefox.svg
  client/src/assets/icons/baseline/safari.svg
  client/src/document/baseline-indicator.scss
  client/src/document/baseline-indicator.tsx
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/ui/base/_themes.scss
  libs/types/document.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

style(prettier): ignore CHANGELOG.md
  .prettierignore
Due: prettier --ignore-unknown --write

ci(dependabot): restrict npm updates to major versions
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

feat(docs): baseline indicator (#8772)
  build/index.ts
  client/src/assets/icons/baseline/browser-check.svg
  client/src/assets/icons/baseline/browser-cross.svg
  client/src/assets/icons/baseline/check-dark.svg
  client/src/assets/icons/baseline/check.svg
  client/src/assets/icons/baseline/chrome.svg
  client/src/assets/icons/baseline/cross-dark.svg
  client/src/assets/icons/baseline/cross.svg
  client/src/assets/icons/baseline/edge.svg
  client/src/assets/icons/baseline/firefox.svg
  client/src/assets/icons/baseline/safari.svg
  client/src/document/baseline-indicator.scss
  client/src/document/baseline-indicator.tsx
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/ui/base/_themes.scss
  libs/types/document.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(build): avoid breadcrumbs over-shortening
  build/document-utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(npm-publish): remove unnecessary dry-run step
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

fix(npm-publish): revert renamed env variable
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

ci(npm-publish): rename steps
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

run through svgo
  client/src/assets/icons/webview.svg
Due: prettier --ignore-unknown --write

Update WebView icon from old Android logo to its new logo (#8620)
  client/src/assets/icons/webview.svg
Due: prettier --ignore-unknown --write

fix(dev): TypeScript errors when running `yarn dev`
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(npm-publish): revert renaming of NPM_AUTH_TOKEN (#8831)
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

fix(dev): TypeScript errors when running `yarn dev` (#8835)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(npm-publish): restore --access public option
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

fix(npm-publish): restore --access public option (#8839)
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

fix(npm-publish): setup node with registry-url
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

fix(lint-staged): use negative pattern correctly
  lint-staged.config.js
Due: prettier --ignore-unknown --write, eslint --fix

Revert "fix(npm-publish): revert renaming of NPM_AUTH_TOKEN (#8831)"
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

Revert "fix(npm-publish): restore --access public option (#8839)"
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

fix(lint-staged): use negative pattern correctly (#8842)
  lint-staged.config.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(npm-publish): setup node with registry url (#8841)
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

feat(build): add @sentry/node
  build/cli.ts
  build/sentry.ts
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

feat(build/sentry): capture console.warn/error/assert() calls
  build/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build/sentry): default to dev environment
  build/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sentry): set SENTRY_RELEASE
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(workflows): enable Sentry in {prod,stage}-build
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(xyz-build): remove gcp branch ref
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

Revert "fixup! ci: remove xyz-build"
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

ci: add xyz-build
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): remove workflow_dispatch input
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): sync with stage-build
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): run on this branch
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

feat(build): collect errors + warnings with @sentry/node (#8571)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/cli.ts
  build/sentry.ts
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
