Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): replace {figure => div}
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Revert "feat(pride): pride 2024 (#11213)"
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Revert "feat(pride): pride 2024" (#11397)
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(pong): remove div/p (#11393)
  client/src/playground/index.scss
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(observatory): remove "?no-redirect" param from legacy link
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): ignore GITHUB_REF in mdn/yari
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(observatory): add message for csp-report-only
  client/src/observatory/results/csp.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(observatory): rename {SORTED_TEST_NAMES => TEST_NAMES_IN_ORDER}
  client/src/observatory/results/tests.tsx
  client/src/observatory/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(observatory): check for number, not undefined
  client/src/observatory/results/rating.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): change "{An => 1} hour ago"
  client/src/observatory/results/human-duration.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): change "{Yesterday => 1 day ago}"
  client/src/observatory/results/human-duration.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(observatory): link to /en-US/observatory only
  client/src/ui/molecules/tools-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): MP-1314 Updated landing page text
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): update landing page copy (#11405)
  client/src/observatory/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(broken-links): add exception for HTTP Observatory
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update Observatory highest possible score
  copy/observatory/tests_and_scoring.md
Due: prettier --ignore-unknown --write

fix(cloud-function): sanitize pong/get input (#11229)
  libs/pong/pong2.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(placement): hide top-banner fallback for ad-free users
  client/public/index.html
  client/src/ui/organisms/placement/index.scss
  client/src/user-context.tsx
  client/src/utils.ts
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): update typo about highest possible score (#11407)
  copy/observatory/tests_and_scoring.md
Due: prettier --ignore-unknown --write

Update client/src/utils.ts
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! fix(placement): hide top-banner fallback for ad-free users
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(observatory): update FAQ question about move
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

fix(observatory): update FAQ question about move (#11413)
  copy/observatory/faq.md
Due: prettier --ignore-unknown --write

fixup! fix(broken-links): add exception for HTTP Observatory
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/HTTPSidebar): use relative link to Observatory
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

fix(menu): exclude user-menu from menu highlighting
  client/src/ui/molecules/menu/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

refactor(user-context): extract setNoPlacementFlag()
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(ad-free): hide top-banner completely (#11412)
  client/public/index.html
  client/src/ui/organisms/placement/index.scss
  client/src/user-context.tsx
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Revert "Merge branch 'MP-1200-add-locale-to-mozilla-org-links' into next"
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(workflows): remove xyz-build
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

chore(flaws): exclude /en-US/observatory/* from broken-link flaw (#11406)
  build/flaws/broken-links.ts
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write, eslint --fix

chore(csp): remove xyz from frame-src
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(workflows): remove xyz-build (#11419)
  .github/workflows/xyz-build.yml
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): preserve HTML comments (#11304)
  client/public/runner.html
Due: prettier --ignore-unknown --write

fix(observatory): set sidebar/TOC background-color
  client/src/observatory/docs/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(curriculum): update partner
  build/curriculum.ts
  client/public/assets/curriculum/scrim.png
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/module.scss
  client/src/curriculum/partner-banner.tsx
  client/src/curriculum/scrim.scss
  client/src/curriculum/scrim.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

use curriculum branch
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix partner links
  client/src/curriculum/landing.tsx
  client/src/curriculum/partner-banner.tsx
  client/src/curriculum/scrim.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
