Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix(npm): run install:all as part of install
  package.json
Due: prettier --ignore-unknown --write

chore: add discoverability survey (#8676)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(kumascript): convert to workspace
  build/extract-specifications.ts
  build/index.ts
  content/translation.ts
  kumascript/jest.config.json
  kumascript/package.json
  kumascript/src/parser.d.ts
  package-lock.json
  package.json
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(stage,prod): stop deploying to AWS
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(macros): delete {{WebkitBug}} macro
  kumascript/macros/WebkitBug.ejs
Due: prettier --ignore-unknown --write

feature(newsletter): add a public mdn newsletter
  client/src/app.tsx
  client/src/newsletter/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): remove macro call of `bug` and `WebkitBug`
  kumascript/macros/unimplementedGeneric.ejs
Due: prettier --ignore-unknown --write

style: remove unused import
  client/src/newsletter/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

make copy optional for top banner
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

cleanup
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feedback
  client/src/app.scss
  client/src/app.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feedback - 1
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix

feedback - 2
  client/src/ui/organisms/placement/index.scss
  libs/pong/get.d.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feedback - 3
  client/src/document/index.tsx
  client/src/document/organisms/sidebar/index.tsx
  client/src/site-search/index.tsx
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix top border
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

rename colors
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
  libs/pong/get.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

nit
  client/src/ui/organisms/placement/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(macros): delete {{WebkitBug}} macro (#8678)
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/unimplementedGeneric.ejs
Due: prettier --ignore-unknown --write

feat(placement): add top banner support (#8687)
  client/src/app.scss
  client/src/app.tsx
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/document/organisms/sidebar/index.tsx
  client/src/placement-context.tsx
  client/src/site-search/index.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
  libs/pong/get.d.ts
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

ci(stage,prod): stop deploying to AWS (#8677)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

execSync -> spawn, various fixes for optimization
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: make sourceCommitCache work correctly
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove log
  server/translations.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove original_slug from frontmatter keys
  content/document.ts
  libs/types/document.ts
  tool/sync-translated-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): fix fxa webhooks
  cloud-function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): fix fxa webhooks (#8706)
  cloud-function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

Run yarn upgrade
  yarn.lock
Due: prettier --ignore-unknown --write

fix(ci): increase memory limit to avoid OOM error
  .github/workflows/pr-kumascript.yml
Due: prettier --ignore-unknown --write

Update OWD info on community page (#8619)
  client/src/community/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Add PWA app sharing how-to article
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

feature(blog): add the MDN blog
  .github/workflows/stage-build.yml
  build/blog.ts
  build/build-blog.ts
  build/index.ts
  build/utils.ts
  client/public/index.html
  client/src/app.tsx
  client/src/blog/index.scss
  client/src/blog/index.tsx
  client/src/blog/post.scss
  client/src/blog/post.tsx
  client/src/document/index.tsx
  client/src/placement-context.tsx
  client/src/ui/molecules/main-menu/index.scss
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/organisms/footer/index.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
  cloud-function/src/app.ts
  cloud-function/src/middlewares/redirect-enforce-trailing-slash.ts
  cloud-function/src/middlewares/resolve-index-html.ts
  cloud-function/src/utils.ts
  deployer/src/deployer/search/__init__.py
  kumascript/index.ts
  kumascript/macros/LiveSampleURL.ejs
  kumascript/src/info.ts
  libs/constants/index.js
  libs/env/index.d.ts
  libs/env/index.js
  libs/types/blog.ts
  libs/types/hydration.ts
  package.json
  server/index.ts
  ssr/render.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix tests
  build/blog.ts
  build/utils.ts
  kumascript/src/info.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix rss guid
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

add rss feed <link>
  ssr/render.ts
Due: prettier --ignore-unknown --write, eslint --fix

add blog to prod build
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

Bloggy mdn (#8742)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/blog.ts
  build/build-blog.ts
  build/index.ts
  build/utils.ts
  client/public/index.html
  client/src/app.tsx
  client/src/blog/index.scss
  client/src/blog/index.tsx
  client/src/blog/post.scss
  client/src/blog/post.tsx
  client/src/document/index.tsx
  client/src/placement-context.tsx
  client/src/ui/molecules/main-menu/index.scss
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/organisms/footer/index.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
  cloud-function/src/app.ts
  cloud-function/src/middlewares/redirect-enforce-trailing-slash.ts
  cloud-function/src/middlewares/resolve-index-html.ts
  cloud-function/src/utils.ts
  deployer/src/deployer/search/__init__.py
  kumascript/index.ts
  kumascript/macros/LiveSampleURL.ejs
  kumascript/src/info.ts
  libs/constants/index.js
  libs/env/index.d.ts
  libs/env/index.js
  libs/types/blog.ts
  libs/types/hydration.ts
  package.json
  server/index.ts
  ssr/render.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

improve(blog): make sorting more resilient
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

lint
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

improve(blog): make sorting more resilient (#8751)
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(blog): add build step
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write
