Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix links
  client/src/curriculum/partner-banner.scss
  client/src/curriculum/partner-banner.tsx
  client/src/curriculum/scrim.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix images
  client/public/assets/curriculum/scrim.png
  client/src/assets/curriculum-scrim-bg.svg
Due: prettier --ignore-unknown --write

feat(curriculum): render based on template
  build/curriculum.ts
  client/src/curriculum/default.tsx
  client/src/curriculum/index.tsx
  client/src/curriculum/partner-banner.scss
  client/src/curriculum/utils.ts
  libs/types/curriculum.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix bottom banner
  client/public/assets/curriculum/curriculum-partner-banner-illustration-large-dark.svg
  client/public/assets/curriculum/curriculum-partner-banner-illustration-large-light.svg
  client/src/curriculum/partner-banner.scss
  client/src/curriculum/partner-banner.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(curriculum): improve design (#11064)
  client/src/curriculum/index.scss
  client/src/curriculum/module.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

move course partner to curriciulum content
  build/curriculum.ts
Due: prettier --ignore-unknown --write, eslint --fix

feedback
  client/src/curriculum/index.tsx
  client/src/curriculum/landing.tsx
  client/src/curriculum/overview.tsx
  client/src/curriculum/partner-banner.scss
  client/src/curriculum/partner-banner.tsx
  client/src/curriculum/scrim.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

update scrim
  client/src/curriculum/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

keep em
  build/curriculum.ts
  client/src/curriculum/module.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Update client/src/document/organisms/toc/index.tsx
  client/src/document/organisms/toc/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(toc): localize "In this article" header (#11303)
  client/src/document/organisms/toc/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps): specify inquirer prompt type
  build/cli.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

more feedback
  client/src/curriculum/scrim.tsx
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

more feedback
  client/public/assets/curriculum/fullscreen-enter.svg
  client/src/assets/icons/exit-fullscreen.svg
  client/src/assets/icons/fullscreen-enter.svg
  client/src/curriculum/landing.scss
  client/src/curriculum/partner-banner.scss
  client/src/curriculum/scrim.scss
  client/src/curriculum/scrim.tsx
  client/src/telemetry/constants.ts
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(curriculum): update curriculum (#11426)
  build/curriculum.ts
  client/public/assets/curriculum/curriculum-partner-banner-illustration-large-dark.svg
  client/public/assets/curriculum/curriculum-partner-banner-illustration-large-light.svg
  client/public/assets/curriculum/fullscreen-enter.svg
  client/public/assets/curriculum/scrim.png
  client/src/assets/curriculum-landing-arrow.svg
  client/src/assets/curriculum-partner-bg.svg
  client/src/assets/curriculum-scrim-bg.svg
  client/src/assets/icons/curriculum-partner-underline-large.svg
  client/src/assets/icons/curriculum-partner-underline-small.svg
  client/src/assets/icons/fullscreen-enter.svg
  client/src/curriculum/default.tsx
  client/src/curriculum/index.tsx
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/module.scss
  client/src/curriculum/modules-list.scss
  client/src/curriculum/overview.tsx
  client/src/curriculum/partner-banner.scss
  client/src/curriculum/partner-banner.tsx
  client/src/curriculum/scrim.scss
  client/src/curriculum/scrim.tsx
  client/src/curriculum/utils.ts
  client/src/telemetry/constants.ts
  client/src/ui/base/_themes.scss
  libs/constants/index.js
  libs/types/curriculum.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

final partner launch test
  .github/workflows/stage-build.yml
  client/src/curriculum/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(cloud-function): avoid redirecting /index.json to //index.json
  cloud-function/src/middlewares/redirect-non-canonicals.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(cloud-function): return 404.json if index.json not found
  cloud-function/src/handlers/proxy-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(curriculum): fix double underline
  client/src/curriculum/partner-banner.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(curriculum): remove autofocus on scrim
  client/src/curriculum/scrim.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(curriculum): avoid underline on focus (#11443)
  client/src/curriculum/partner-banner.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(observatory): set sidebar/TOC background-color (#11420)
  client/src/observatory/docs/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(curriculum): remove autofocus on scrim (#11444)
  client/src/curriculum/scrim.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(sidebar,toc): improve style of current item (#11063)
  client/src/curriculum/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

refactor(cloud-function): extract fetchAsBufferWithCache()
  cloud-function/src/handlers/proxy-content.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(curriculum): add via to scrim.
  client/src/curriculum/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(curriculum): add via to scrim (#11445)
  client/src/curriculum/landing.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(style): remove unused variables
  client/src/ui/_vars.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(cloud-function): avoid double slash where canonical url has trailing slash (#11441)
  cloud-function/src/middlewares/redirect-non-canonicals.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): remove style-dictionary
  client/src/ui/README.md
  package.json
  sd-config.js
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): remove style-dictionary (#11447)
  client/src/ui/README.md
  package.json
  sd-config.js
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix(login): don't double encodeURI
  client/src/ui/atoms/login-link/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(curriculum): slim down context.
  build/curriculum.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(login): don't double encodeURI (#11448)
  client/src/ui/atoms/login-link/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(curriculum): slim down context. (#11449)
  build/curriculum.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update client/src/ui/molecules/menu/index.scss
  client/src/ui/molecules/menu/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(notecard): misaligned icon, excessive internal padding
  client/src/document/index.scss
  client/src/ui/molecules/notecards/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(baseline): hide on /MDN/ pages (#11358)
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix
