Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix upload
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(playground): migrate editor to web component
  client/src/playground/editor.js
  client/src/playground/editor.scss
  client/src/playground/editor.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(spas): streamline 404 (#12248)
  build/spas.ts
  client/src/app.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/page-not-found/index.tsx
  cloud-function/src/handlers/proxy-content.ts
  docs/spas.md
  package.json
  server/index.ts
  server/static.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

make upload faster
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(survey): keep hp survey a bit longer
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

chore(survey): keep hp survey a bit longer (#12256)
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

fix(rari): adopt to rari changes
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(rari): adopt to rari changes (#12257)
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(playground): use localhost if on localhost (#12227)
  client/src/playground/index.tsx
  client/src/playground/utils.ts
  client/src/setupProxy.js
Due: prettier --ignore-unknown --write, eslint --fix

improved duration display and time stamps
  client/src/observatory/results/human-duration.tsx
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix

nits
  client/src/observatory/results.scss
  client/src/observatory/results/cookies.tsx
  client/src/observatory/results/csp.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(tsconfig): don't allow importing ts extensions in pwa
  client/pwa/tsconfig.json
Due: prettier --ignore-unknown --write

fix(tsconfig): don't allow importing ts extensions in pwa (#12258)
  client/pwa/tsconfig.json
Due: prettier --ignore-unknown --write

feat(observatory): cookies tab rework (#12203)
  client/src/observatory/results.scss
  client/src/observatory/results.tsx
  client/src/observatory/results/cookies.tsx
  client/src/observatory/results/csp.tsx
  client/src/observatory/results/human-duration.tsx
  client/src/observatory/types.ts
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(layout): avoid sticky header gap (#11644)
  client/src/app.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

remove generic content PAT, repo is public
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

delete newly added file from copy
  copy/config.json
Due: prettier --ignore-unknown --write

chore: move copy to external generic-content repo (#12068)
  .env-dist
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  build/spas.ts
  copy/community/community.md
  copy/config.json
  copy/observatory/faq.md
  copy/observatory/tests_and_scoring.md
  copy/plus/faq.md
  copy/plus/features/ai-help.md
  copy/plus/features/collections.md
  copy/plus/features/offline.md
  copy/plus/features/overview.md
  copy/plus/features/playground.md
  copy/plus/features/updates.md
  docs/envvars.md
  libs/env/index.d.ts
  libs/env/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix tsc
  client/src/about/custom-elements.js
Due: prettier --ignore-unknown --write, eslint --fix

feat: new about page (#12069)
  build/spas.ts
  client/src/about/_mixins.scss
  client/src/about/custom-elements.js
  client/src/about/index.scss
  client/src/about/index.tsx
  client/src/about/testimonial/index.scss
  client/src/about/testimonial/index.tsx
  client/src/about/testimonial/quote.svg
  client/src/app.scss
  client/src/app.tsx
  client/src/assets/about/accurate-sm.svg
  client/src/assets/about/accurate.svg
  client/src/assets/about/building-dark.svg
  client/src/assets/about/building.svg
  client/src/assets/about/collaborative-sm.svg
  client/src/assets/about/collaborative.svg
  client/src/assets/about/dot-dark.svg
  client/src/assets/about/dot.svg
  client/src/assets/about/education.svg
  client/src/assets/about/global-impact-dark.svg
  client/src/assets/about/global-impact.svg
  client/src/assets/about/handshake.svg
  client/src/assets/about/inclusive-sm.svg
  client/src/assets/about/inclusive.svg
  client/src/assets/about/line-dot.svg
  client/src/assets/about/sparkle.svg
  client/src/assets/about/text-box-check-outline.svg
  client/src/assets/about/web-check.svg
  client/src/assets/lines.svg
  client/src/community/index.scss
  client/src/community/index.tsx
  client/src/telemetry/constants.ts
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(i10n): localize secureContext header and inline text in ko (#12183)
  kumascript/macros/secureContext_header.ejs
  kumascript/macros/secureContext_inline.ejs
Due: prettier --ignore-unknown --write

chore(footer): update Mastodon link
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(rari): fix blog and add .env support
  server/cli.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(about): small fixes
  client/src/about/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(about): small fixes (#12269)
  client/src/about/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(rari): fix blog and add .env support (#12268)
  server/cli.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(footer): update Mastodon link (#12267)
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(scripts/reorder-search-index): add all reference items
  scripts/reorder-search-index.mjs
Due: prettier --ignore-unknown --write

fix(workflows/stage-build): remove duplicate script call
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(scripts/reorder-search-index): refine comments
  scripts/reorder-search-index.mjs
Due: prettier --ignore-unknown --write

fix(css): set border color on home page search input field (#11931)
  client/src/homepage/homepage-hero/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(playground): add comment to keep in sync
  client/src/playground/utils.ts
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(playground): add comment to keep in sync (#12275)
  client/src/playground/utils.ts
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(play): proxy `/runner.html` locally, not just subpaths
  client/src/setupProxy.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(play): proxy `/runner.html` locally, not just subpaths (#12282)
  client/src/setupProxy.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(playground): migrate runner iframe to web component
  client/src/playground/index.scss
  client/src/playground/index.tsx
  client/src/playground/runner.js
  client/src/playground/runner.scss
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix sitemaps
  cloud-function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): editor was losing state if value set before component was ready
  client/src/playground/editor.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(playground): migrate formatting to editor component
  client/src/playground/editor.js
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

wip: attempt to fix lint typescript failure
  .github/workflows/testing.yml
Due: prettier --ignore-unknown --write
