Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

change caching
  kumascript/index.ts
Due: prettier --ignore-unknown --write

enhance(plus): finishing touches for collectionsV2
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/telemetry/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

add feedback link, fully rename to saved articles
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

copy changes
  client/src/banners/active-banner.tsx
  client/src/plus/collections/v2/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

link color for dark mode
  client/src/plus/collections/v2/index.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix

force enable collections v2
  client/src/plus/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

remove multiple collections feature preview
  client/src/plus/common/api.tsx
  client/src/settings/feature-preview.tsx
  client/src/user-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

remove collections v1 code
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/collections/edit-collection.tsx
  client/src/plus/collections/frequently-viewed-tab.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/plus/collections/types.ts
  client/src/plus/common/api.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

move collections v2 code into versionless directories
  client/src/plus/collections/api.ts
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/plus/collections/rust-types.ts
  client/src/plus/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

clean up
  kumascript/index.ts
Due: prettier --ignore-unknown --write

MP-122: add collections limit for free users in the frontend
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/telemetry/constants.ts
  client/src/ui/atoms/modal/index.scss
  client/src/ui/atoms/subscribe-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

MP-122: add collections limit for free users in the frontend (#7206)
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/telemetry/constants.ts
  client/src/ui/atoms/modal/index.scss
  client/src/ui/atoms/subscribe-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

MP-120: display error message from rumba
  client/src/plus/collections/api.ts
  client/src/plus/collections/collection.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): stop always caching kumascript render (#7205)
  build/document-extractor.ts
  build/index.ts
  kumascript/index.ts
  kumascript/src/api/util.ts
  kumascript/tests/index.test.ts
  server/index.ts
Due: prettier --ignore-unknown --write

fix(plus): fix collection hero css
  client/src/plus/collections/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix(plus): fix collection hero css (#7300)
  client/src/plus/collections/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Fix path sep match on Windows
  server/translations.ts
Due: prettier --ignore-unknown --write

chore(macros): delete unused XUL* macros
  kumascript/macros/XULAttr.ejs
  kumascript/macros/XULElem.ejs
Due: prettier --ignore-unknown --write

chore: update function comment
  build/index.ts
Due: prettier --ignore-unknown --write

feat: add `noreferrer` and `target=_blank` to external link for built contents
  build/index.ts
Due: prettier --ignore-unknown --write

refactor: delete unnecessary `client/src/watch.tsx`
  client/src/watch.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Use page type instead of tags for CSSSyntax macro (#7290)
  kumascript/macros/CSSSyntax.ejs
Due: prettier --ignore-unknown --write

Support at-rules and at-rule descriptors on the formal syntax
  kumascript/macros/CSSSyntax.ejs
Due: prettier --ignore-unknown --write

fix(plus): word-wrap for collection item.
  client/src/plus/collections/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

rebase from 7134
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

at-rules want all specs
  kumascript/macros/CSSSyntax.ejs
Due: prettier --ignore-unknown --write

ci: unpin setup-python to v4
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci: unpin snok/install-poetry to v1
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

Use page types instead of tags in APIRef (#7223)
  kumascript/macros/APIRef.ejs
  kumascript/src/info.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Due: prettier --ignore-unknown --write

Remove HPKP from HTTP Sidebar (#7225)
  kumascript/macros/HTTPSidebar.ejs
Due: prettier --ignore-unknown --write

refactor: delete unnecessary `client/src/watch.tsx` (#7306)
  client/src/watch.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete unused XUL* macros (#7305)
  kumascript/macros/XULAttr.ejs
  kumascript/macros/XULElem.ejs
Due: prettier --ignore-unknown --write

Separate static and instance members in API sidebar
  kumascript/macros/APIRef.ejs
Due: prettier --ignore-unknown --write

Add browsers survey to 5% audience
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write

remove unused
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write

Fix tests
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
  kumascript/tests/macros/fixtures/apiref/subpages.json
Due: prettier --ignore-unknown --write

Use page types, not tags, for CSS sidebar
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

Add prod values for survey
  .github/workflows/prod-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write

Allow alternate nightly spec URLs (#7262)
  build/document-extractor.ts
Due: prettier --ignore-unknown --write

MDN add browsers short survey (#7336)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{js,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
