Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

ai-help sample ids
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {{htmlattrxref}} macro
  kumascript/macros/htmlattrxref.ejs
Due: prettier --ignore-unknown --write

scrolling queue
  client/src/playground/queue/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(macros/HTMLSidebar): update zh-CN translation of HTMLSidebar
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/CSSRef): update zh-CN translation of CSSRef
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

chore(macros/HTMLSidebar): update zh-CN translation (#9790)
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

chore(ai-help): fix typo in modal
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(docs): add anchor links on description terms (#8413)
  client/src/document/index.scss
  kumascript/src/api/util.ts
  markdown/m2h/handlers/dl.ts
  testing/content/files/en-us/markdown/tool/m2h/expected.html
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ssr): use absolute href for alternate rss link
  ssr/render.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(opengraph): use underscore for locale
  client/public/index.html
  ssr/render.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(opengraph): add og:image:{type,height,width,alt} properties
  client/public/index.html
Due: prettier --ignore-unknown --write

enhance(opengraph): add og:site_name property
  client/public/index.html
Due: prettier --ignore-unknown --write

test(opengraph): update expectations
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(footer): revert twitter icon link
  client/src/assets/icons/twitter.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/organisms/footer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

Apply suggestions from code review
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

enhance(play): allow {blob:,data:} as frame-src for live samples
  cloud-function/src/headers.ts
  libs/constants/index.d.ts
  libs/constants/index.js
  server/index.ts
  server/middlewares.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): fix typo in modal (#9792)
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(opengraph): add og:type property
  client/public/index.html
Due: prettier --ignore-unknown --write

history
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feedback
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
  cloud-function/README.md
  cloud-function/src/env.ts
  cloud-function/src/handlers/proxy-pong.ts
  libs/pong/pong.js
  libs/pong/pong2.js
  libs/pong/types.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(docs): restore color on description term page links
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(kumascript): remove empty anchor links
  kumascript/src/api/util.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(docs): restore underline behavior on dt links
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(docs): make hashtag of dt anchor links interactive
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(pre-commit): enforce commit signing
  .husky/pre-commit
Due: prettier --ignore-unknown --write

chore(macros): delete {{htmlattrxref}} macro (#9789)
  kumascript/macros/htmlattrxref.ejs
Due: prettier --ignore-unknown --write

refactor(docs): combine unnecessarily nested selectors
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(docs): restore behavior of description term links (#9811)
  client/src/document/index.scss
  kumascript/src/api/util.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

review feedback
  client/src/telemetry/glean-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(glean): add page's UTM parameters to pings (#9595)
  client/src/telemetry/generated/page.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
Due: prettier --ignore-unknown --write, eslint --fix

review updates
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros/Non-standard_Header): remove "Firefox OS"
  kumascript/macros/Non-standard_Header.ejs
Due: prettier --ignore-unknown --write

fixup! chore(macros/Non-standard_Header): remove "Firefox OS"
  kumascript/macros/Non-standard_Header.ejs
Due: prettier --ignore-unknown --write

feat(translate): LearnSidebar.ejs translate for Introduction to client-side frameworks
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

test(build): avoid race condition
  testing/tests/destructive.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(test): extract extractMatchesFromString()
  testing/tests/destructive.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build/blog): add buildBlog() param type
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build/blog): avoid render() requiring full doc
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(build/blog): remove unset modified property
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(docs): distinguish nested definition lists
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
