Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

MP-128: validate collections forms when submitting with return key (#7377)
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

add browserCompat to doc metadata
  build/index.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write

MP-138: update collections card styling
  client/src/plus/collections/index.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix

MP-138: update collection create/edit modal
  client/src/plus/collections/index.scss
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/atoms/form/expanding-textarea.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/form/limited-input.tsx
  client/src/ui/atoms/modal/index.scss
  client/src/ui/base/_themes.scss
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

allow users to enter text beyond limit
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/form/limited-input.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

proper padding when modal overflows on mobile
  client/src/ui/atoms/modal/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

removed trimStart, put cursor back where it was when exceeding char limit
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/atoms/form/limited-input.tsx
Due: prettier --ignore-unknown --write, eslint --fix

MP-138 Collection card and modal updates (#7367)
  client/src/plus/collections/index.scss
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/atoms/form/expanding-textarea.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/form/limited-input.tsx
  client/src/ui/atoms/modal/index.scss
  client/src/ui/base/_themes.scss
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

MP-141 update bookmark menu to reflect new designs
  client/src/plus/collections/collection.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.scss
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

metadata for all articles and dev server
  build/cli.ts
  server/index.ts
Due: prettier --ignore-unknown --write

make browserCompat always an array and types
  build/cli.ts
  build/index.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write

chore: Stylelint scss/selector-no-redundant-nesting-selector
  .stylelintrc.json
  client/src/plus/collections/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
  client/src/ui/molecules/notecards/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/article-actions/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

chore: Stylelint shorthand-property-no-redundant-values
  .stylelintrc.json
  client/src/about/index.scss
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/organisms/footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

Prevent a Nu HTML checker warning
  client/src/ui/atoms/page-content/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update render.ts
  ssr/render.ts
Due: prettier --ignore-unknown --write

Move Yari Page from Content
  docs/what-yari-does.md
Due: prettier --ignore-unknown --write

Move Yari Page from Content (#7491)
  docs/what-yari-does.md
Due: prettier --ignore-unknown --write

refactor(client/utils): improve docCategory() (#7152)
  client/src/app.tsx
  client/src/plus/common/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(kumascript): improve MacroInvocationError display (#7126)
  build/index.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  kumascript/src/errors.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(macros/htmlattrdef): use inline-block for self-link (#7129)
  client/src/app.scss
  kumascript/macros/htmlattrdef.ejs
Due: prettier --ignore-unknown --write, stylelint --fix

chore(broken-links): remove outdated comment
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write

fix(build): sync broken-links flaw with web.smartLink() (#7431)
  build/flaws/broken-links.ts
Due: prettier --ignore-unknown --write

style(stylelint): fix scss/selector-no-redundant-nesting-selector (#7489)
  .stylelintrc.json
  client/src/plus/collections/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
  client/src/ui/molecules/notecards/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/article-actions/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

style(stylelint): fix shorthand-property-no-redundant-values (#7490)
  .stylelintrc.json
  client/src/about/index.scss
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/organisms/footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix

make expanding textarea 2 rows by default
  client/src/ui/atoms/form/expanding-textarea.tsx
Due: prettier --ignore-unknown --write, eslint --fix

MP-141 update bookmark menu to reflect new designs (#7488)
  client/src/plus/collections/collection.tsx
  client/src/ui/atoms/form/expanding-textarea.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.scss
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

MP-142 update collection view to match new designs
  client/src/app.scss
  client/src/document/organisms/metadata/index.tsx
  client/src/plus/collections/collection.scss
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/button/index.tsx
  client/src/ui/organisms/article-actions-container/index.scss
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/article-actions/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix(html): quote attributes, avoid role="main" on main element (#7493)
  client/src/ui/atoms/page-content/index.tsx
  ssr/render.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {{warning}} macro (#7482)
  kumascript/macros/warning.ejs
Due: prettier --ignore-unknown --write

feat: add Theme type
  client/src/types/hydration.ts
  client/src/types/notecards.ts
  client/src/types/notifications.ts
  client/src/types/theme.ts
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(libs): rename get-locale => locale-utils
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-request/yarn.lock
  deployer/aws-lambda/tests/yarn.lock
  libs/locale-utils/index.d.ts
  libs/locale-utils/index.js
  libs/locale-utils/package.json
  server/middlewares.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(libs): extract isValidLocale() to locale-utils
  build/flaws/broken-links.ts
  build/spas.ts
  client/src/hooks.ts
  content/document.ts
  kumascript/src/info.ts
  libs/locale-utils/index.d.ts
  libs/locale-utils/index.js
  server/search-index.ts
  server/translations.ts
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

feedback
  build/cli.ts
  build/index.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write

chore(macros): delete {{CompatChrome}} macro
  kumascript/macros/CompatChrome.ejs
Due: prettier --ignore-unknown --write

chore(macros): delete {{CompatChrome}} macro (#7499)
  kumascript/macros/CompatChrome.ejs
Due: prettier --ignore-unknown --write

chore(client): add Theme type, use *.ts for types (#7492)
  client/src/types/hydration.ts
  client/src/types/notecards.ts
  client/src/types/notifications.ts
  client/src/types/theme.ts
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(bcd): render removed feature as "No" (#7486)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(bcd): allow check for __compat on null (#7469)
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Due: prettier --ignore-unknown --write

fix(sidebar): open all parent details of current page (#7451)
  build/document-extractor.ts
Due: prettier --ignore-unknown --write
