Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fixup! feat(kumascript): add mdn.cache() utility
  kumascript/src/templates.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): show error for off-topic questions
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(ai-help): extract AIHelpAssistantResponseSources
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): show canned answer without sources for off-topic question
  client/src/plus/ai-help/constants.tsx
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(ai-help): index short_title
  scripts/ai-help-macros.ts
  scripts/ai-help.sql
Due: prettier --ignore-unknown --write, eslint --fix

feat(ui): add --text-muted color
  client/src/ui/_vars.scss
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

enhance(ai-help): add "Stopped answering" in new line
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feedback 1
  build/curriculum.ts
  build/utils.ts
  client/src/curriculum/about.tsx
  client/src/curriculum/body.tsx
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/overview.tsx
  client/src/curriculum/prev-next.tsx
  client/src/curriculum/sidebar.tsx
  client/src/curriculum/utils.ts
  client/src/placement-context.tsx
  client/src/ui/molecules/main-menu/index.tsx
  docs/envvars.md
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ai-help): animate status icon only if active
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(ai-help): extract messageForStatus() helper
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(ai-help): add suffix to answer status if stopped
  client/src/plus/ai-help/constants.tsx
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(ai-help): hide all disabled footer actions
  client/src/plus/ai-help/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(macros/Firefox_for_developers): remove the parameter and add zh-CN translation (#10034)
  kumascript/macros/Firefox_for_developers.ejs
Due: prettier --ignore-unknown --write

feedback 2
  .github/workflows/prod-build.yml
  .github/workflows/xyz-build.yml
  build/curriculum.ts
  client/src/curriculum/topic-icon.tsx
  client/src/curriculum/utils.ts
  kumascript/index.ts
  libs/constants/index.d.ts
  libs/constants/index.js
  libs/types/curriculum.ts
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

feedback 3
  build/curriculum.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(webpack-dev-server): migrate {https => server} option
  client/config/getHttpsConfig.js
  client/config/webpackDevServer.config.js
Due: prettier --ignore-unknown --write, eslint --fix

refactor(webpack-dev-server): migrate {close => stopCallback}() method
  client/scripts/start.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ts-jest): override moduleResolution
  jest.config.json
Due: prettier --ignore-unknown --write

chore(deps-dev): bump fork-ts-checker-webpack-plugin from 6.5.0 to 9.0.2
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(fork-ts-checker-webpack-plugin): remove removed option
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): bump fork-ts-checker-webpack-plugin from 6.5.0 to 9.0.2 (#10591)
  client/config/webpack.config.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

more feedback
  build/curriculum.ts
  build/extract-sections.ts
  client/src/curriculum/about.tsx
  client/src/curriculum/index.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/module.scss
  client/src/curriculum/modules-list.scss
  client/src/curriculum/modules-list.tsx
  client/src/curriculum/utils.ts
  client/src/document/ingredients/prose.tsx
  client/src/document/ingredients/utils.tsx
  kumascript/index.ts
  libs/types/curriculum.ts
  libs/types/document.ts
  libs/types/hydration.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(deps-dev): bump @typescript-eslint/* from 5.62.0 to 7.0.2
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(eslint): re-enable typescript-eslint/no-var-requires
  .eslintrc.cjs
Due: prettier --ignore-unknown --write

chore(eslint): add typescript-eslint/stylistic, but commented out
  .eslintrc.cjs
Due: prettier --ignore-unknown --write

chore(deps-dev): migrate to typescript-eslint
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps-dev): bump @typescript-eslint/* from 5.62.0 to 7.0.2 (#10592)
  .eslintrc.cjs
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

more feedback
  client/src/curriculum/modules-list.scss
  client/src/curriculum/modules-list.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix
  build/curriculum.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(typescript): remove some `@ts-ignore` annotations
  build/blog.ts
  build/cli.ts
  build/spas.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "wip"
  build/blog.ts
  build/cli.ts
  build/spas.ts
  package.json
  server/index.ts
  ssr/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ssr): generate declarations
  ssr/tsconfig.json
Due: prettier --ignore-unknown --write

wip
  build/blog.ts
  build/cli.ts
  build/spas.ts
  package.json
  server/index.ts
  ssr/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): add CURRICULUM_ROOT to prod
  .github/workflows/prod-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fix(curriculum): add CURRICULUM_ROOT (#10602)
  .github/workflows/prod-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fix(ai-help): improve generation error message (#10424)
  client/src/assets/icons/alert-circle.svg
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(macros/PreviousMenuNext): add l10n-zh translation
  kumascript/macros/PreviousMenuNext.ejs
Due: prettier --ignore-unknown --write

feat(macro/MDNSidebar): add Technology_status page
  kumascript/macros/MDNSidebar.ejs
Due: prettier --ignore-unknown --write
