Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

Update kumascript/macros/GamesSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
Due: prettier --ignore-unknown --write

chore(deps): bump http-proxy-middleware from 2.0.6 to 3.0.0 in /cloud-function (#10834)
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/handlers/proxy-api.ts
  cloud-function/src/handlers/proxy-content.ts
  cloud-function/src/handlers/proxy-runner.ts
  cloud-function/src/handlers/proxy-telemetry.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ssr): imported image paths set wrong (#10982)
  ssr/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

enhance(l10n): localize "(en-US)" suffix
  build/flaws/broken-links.ts
  client/src/document/index.scss
  kumascript/src/api/web.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

remove log
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(ssr): remove external files dependencies (#10885)
  .env.testing
  .gitignore
  client/config/webpack.config.js
  client/public/index.html
  client/scripts/build.js
  client/scripts/postprocess-client-build.js
  client/scripts/start.js
  client/src/homepage/contributor-spotlight/index.tsx
  client/src/ui/atoms/avatar/index.tsx
  package.json
  ssr/.gitignore
  ssr/ga.ts
  ssr/include.d.ts
  ssr/index.ts
  ssr/mozilla.dnthelper.min.js
  ssr/prepare.ts
  ssr/render.ts
  ssr/webpack.config.js
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(baseline): checkmarks weren't reflecting mobile status
  client/src/document/baseline-indicator.tsx
  libs/types/web-features.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(css-sytax): render more constituents
  kumascript/src/lib/css-syntax.ts
Due: prettier --ignore-unknown --write, eslint --fix

?
  kumascript/src/lib/css-syntax.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(l10n): localize translation banner in Spanish
  client/src/document/molecules/localized-content-note/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

update snapshots
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Due: prettier --ignore-unknown --write, eslint --fix

fix(baseline): checkmarks weren't reflecting mobile status (#11002)
  client/src/document/baseline-indicator.tsx
  libs/types/web-features.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(l10n): localize translation banner in Spanish (#11004)
  client/src/document/molecules/localized-content-note/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

improve GameSidebar macro translation for 'ru' locale
  kumascript/macros/GamesSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/CSSRef): add color guides (#10945)
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

chore(macros/GamesSidebar): add Russian translation (#10984)
  kumascript/macros/GamesSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/LearnSidebar): add more Japanese translations (#10964)
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

enhance(macros/JSRef): refactor + update inheritance data + separate instance/static methods/properties (#8502)
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

enhance(l10n): localize en-US link title
  build/flaws/broken-links.ts
  kumascript/src/api/web.ts
  libs/l10n/l10n.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ssr): imported svg paths set wrong
  ssr/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

test: update expectation
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update libs/l10n/l10n.ts
  libs/l10n/l10n.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(l10n): remove periods
  libs/l10n/l10n.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! chore(l10n): remove periods
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(dropdown): add alwaysRenderChildren option
  client/src/app.scss
  client/src/ui/molecules/dropdown/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(language-menu): always render links to other locales
  client/src/ui/organisms/article-actions/language-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(stage-build): always build from next + trigger from main (#10986)
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(macros/AccessibilitySidebar): use smartLink()
  kumascript/macros/AccessibilitySidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/AddonSidebar): use smartLink()
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
Due: prettier --ignore-unknown --write

chore(macros/CSSRef): use smartLink()
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

chore(macros/FirefoxSidebar): use smartLink()
  kumascript/macros/FirefoxSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/GamesSidebar): use smartLink()
  kumascript/macros/GamesSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/HTMLSidebar): use smartLink()
  kumascript/macros/HTMLSidebar.ejs
Due: prettier --ignore-unknown --write

chore(macros/WebAssemblySidebar): use smartLink()
  kumascript/macros/WebAssemblySidebar.ejs
Due: prettier --ignore-unknown --write

fixup! chore(macros/CSSRef): use smartLink()
  kumascript/macros/CSSRef.ejs
Due: prettier --ignore-unknown --write

test(macros): mock recordNonFatalError()
  kumascript/tests/macros/WebAssemblySidebar.test.ts
  kumascript/tests/macros/addonsidebar.test.ts
  kumascript/tests/macros/firefoxsidebar.test.ts
  kumascript/tests/macros/gamessidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(macros/WebAssemblySidebar): update expectation
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(language-menu): always render inter-locale links (#11013)
  client/src/app.scss
  client/src/ui/molecules/dropdown/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input
