Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

refactor
  client/src/document/baseline-indicator.tsx
  libs/types/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

wip(lit): attempt to fix importing css in client tests
  client/package.json
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

wip(build): build rari in test build
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

wip: point to test branches
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(interactive-examples): telemetry, font-size, class-based hiding
  client/src/document/index.scss
  client/src/lit/interactive-example.js
  client/src/lit/play/console.scss
  client/src/lit/play/editor.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(baseline): asterisk support for baseline (#12415)
  client/src/document/baseline-indicator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(npm-package): use build:legacy:prepare
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

fix(npm-package): use build:legacy:prepare (#12422)
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

wip(build): specify content/rari branch in test build
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

wip(build): fix
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

wip(build): don't cache node modules if we're using custom rari
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(deployer): avoid GitHub mentions
  deployer/src/deployer/analyze_pr.py
Due: prettier --ignore-unknown --write

wip(build): print build inputs
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

wip(build): print invalidate correctly
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fix(deployer): keep original url as link text
  deployer/src/deployer/analyze_pr.py
Due: prettier --ignore-unknown --write

wip(build): branch -> ref
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

chore(baseline): change h2 in summary to div
  client/src/document/baseline-indicator.scss
  client/src/document/baseline-indicator.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

style(black): run `black deployer/src`
  deployer/src/deployer/analyze_pr.py
Due: prettier --ignore-unknown --write

fix: add padding between specifications table and footer box
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(baseline): change h2 in summary to div (#12433)
  client/src/document/baseline-indicator.scss
  client/src/document/baseline-indicator.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(playground): more consistent button disabling
  client/src/lit/play/editor.js
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(layout): add space between specifications table and footer box (#12434)
  client/src/document/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(survey): keep house survey a bit longer
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(survey): keep house survey a bit longer (#12436)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

fix(playground): don't add entries to browser history
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ui): check for `addEventListener` on `MediaQueryList`
  client/src/ui-context.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(playground): support console.log string replacement format
  client/src/lit/play/console.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): keep white bg when switching to dark mode
  client/src/lit/play/runner.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(playground): unbreakable string in console breaking layout
  client/src/playground/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(playground): don't break js on older browsers
  client/src/document/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(playground): don't break when console.logging weird things
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(interactive-examples): no page jump when loading
  client/src/document/index.tsx
  client/src/lit/interactive-example.global.scss
  client/src/lit/interactive-example.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

review updates
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

chore(test-build): support specificying rari and content ref (#12432)
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

chore(deps): add @sentry/browser
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(webpack): treeshake sentry
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

feat(telemetry): capture client errors with Sentry
  client/src/env.ts
  client/src/index.tsx
  client/src/telemetry/sentry.ts
  docs/envvars.md
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

build(workflows): enable Sentry on prod/stage/test
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Due: prettier --ignore-unknown --write

fixup! feat(telemetry): capture client errors with Sentry
  client/src/telemetry/sentry.ts
Due: prettier --ignore-unknown --write, eslint --fix
