Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(cloud-function): parse url with URL() + support query strings
  cloud-function/src/middlewares/redirect-non-canonicals.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cloud-function): compare target with original source
  cloud-function/src/middlewares/redirect-non-canonicals.ts
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(cloud-function): redirect capitalization (v2)
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fix(macros/ListSubpages): list subpages via default locale
  kumascript/macros/ListSubpages.ejs
  kumascript/macros/QuickLinksWithSubpages.ejs
  kumascript/src/api/wiki.ts
  kumascript/src/info.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(macros/AddonSidebar): reflect the type changes of wiki.tree
  kumascript/macros/AddonSidebar.ejs
Due: prettier --ignore-unknown --write

fixup: mock the testing of AddonSidebar
  kumascript/tests/macros/addonsidebar.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

added css-based tabs
  client/src/observatory/csp.tsx
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(macros/AccessibilitySidebar): list subpages via en-US (#11259)
  kumascript/macros/AccessibilitySidebar.ejs
Due: prettier --ignore-unknown --write

feat(workflows): add test-de-build
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

Update kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/Non-standard_Header.ejs
Due: prettier --ignore-unknown --write

chore(cloud-function): reuse normalizeSlug()
  cloud-function/src/build-sitemap.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(cloud-function): rename normalize{Slug => Path}()
  cloud-function/src/build-sitemap.ts
  cloud-function/src/middlewares/redirect-non-canonicals.ts
  cloud-function/src/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(cloud-function): use object for sitemap
  cloud-function/src/build-sitemap.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(test-de): use mdnyalp.dev
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

fix(build): avoid error with check-images
  build/check-images.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(kumascript): avoid ListSubpagesForSidebar error
  kumascript/macros/ListSubpagesForSidebar.ejs
Due: prettier --ignore-unknown --write

tmp: use xyz-build
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

Implemented a first cut of the benchmark chart.
  client/src/observatory/benchmark.tsx
  client/src/observatory/csp.tsx
  client/src/observatory/index.scss
  client/src/observatory/index.tsx
  client/src/observatory/results.tsx
  client/src/observatory/types.ts
  client/src/observatory/utils.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

type fix
  client/src/observatory/benchmark.tsx
Due: prettier --ignore-unknown --write, eslint --fix

some style tuning
  client/src/observatory/benchmark.tsx
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(cloud-function): rename {sitemap => canonicals}
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  cloud-function/.gcloudignore
  cloud-function/.gitignore
  cloud-function/package.json
  cloud-function/src/build-canonicals.ts
  cloud-function/src/middlewares/redirect-non-canonicals.ts
Due: prettier --ignore-unknown --write, eslint --fix

styles
  client/src/observatory/index.scss
  client/src/observatory/results.tsx
  client/src/ui/base/_themes.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

refactor(build): extract makeSitemapIndexTXT
  build/sitemaps.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): distinguish sitemap.{txt,xml.gz}
  build/sitemaps.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(build): extract buildSitemapIndex{TXT,XML}
  build/cli.ts
  build/sitemaps.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(macros/SeeCompatTable): refer to BC table only if it exists
  kumascript/macros/SeeCompatTable.ejs
Due: prettier --ignore-unknown --write

Update kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebar.ejs
Due: prettier --ignore-unknown --write

chore(kumascript): add German translations
  kumascript/macros/AccessibilitySidebar.ejs
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
  kumascript/macros/AvailableInWorkers.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/Deprecated_Header.ejs
  kumascript/macros/Deprecated_Inline.ejs
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/macros/ExperimentalBadge.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/MathMLElement.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/SVGAttr.ejs
  kumascript/macros/SVGRef.ejs
  kumascript/macros/SeeCompatTable.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/js_property_attributes.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/secureContext_header.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
Due: prettier --ignore-unknown --write

update translation
  kumascript/macros/XsltRef.ejs
Due: prettier --ignore-unknown --write

chore(client,libs): add German translation
  client/src/document/baseline-indicator.tsx
  libs/l10n/l10n.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(libs): add "de" to Locale type
  libs/types/core.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(surveys): close German locale survey
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(surveys): close German locale survey (#11294)
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(workflows): add test-de-build stub
  .github/workflows/test-de-build.yml
Due: prettier --ignore-unknown --write

Update kumascript/macros/XsltRef.ejs
  kumascript/macros/XsltRef.ejs
Due: prettier --ignore-unknown --write

fix(macros): typo in EmbedLiveSample.ejs
  kumascript/macros/EmbedLiveSample.ejs
Due: prettier --ignore-unknown --write

update unit tests
  kumascript/tests/macros/EmbedLiveSample.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(toc): localize "In this article" header
  client/src/document/organisms/toc/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

added deploy env var, scoring docs
  .github/workflows/stage-build.yml
  build/spas.ts
  client/src/app.tsx
  client/src/observatory/docs/index.scss
  client/src/observatory/docs/index.tsx
  client/src/observatory/index.tsx
  copy/observatory/scoring.md
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fixup! enhance(toc): localize "In this article" header
  client/src/document/organisms/toc/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
