Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix(jest): reduce memory usage
  package.json
Due: prettier --ignore-unknown --write

fix(jest): isolate modules with ts-jest
  jest.config.json
Due: prettier --ignore-unknown --write

ci(pr-kumascript): run if {jest.config,package}.json change
  .github/workflows/pr-kumascript.yml
Due: prettier --ignore-unknown --write

fix(jest): reduce memory usage (#8753)
  .github/workflows/pr-kumascript.yml
  jest.config.json
  package.json
Due: prettier --ignore-unknown --write

fix(ssr): add hreflang to rss link
  ssr/render.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(ssr): update alternate test cases
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix `{{CSSXref}}` for CSS functions
  kumascript/macros/cssxref.ejs
Due: prettier --ignore-unknown --write

fix(ssr): add hreflang to alternate rss link (#8756)
  ssr/render.ts
  testing/tests/index.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(dependabot): enable for /cloud-function + /lib/{locale-utils,pong}
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

fix(jest): use --rootDir option
  package.json
Due: prettier --ignore-unknown --write

refactor: migrate to lru-cache v9
  content/utils.ts
  kumascript/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

enhance(desgin): move to system fonts
  client/src/about/index.scss
  client/src/app.scss
  client/src/assets/fonts/Inter.var.woff2
  client/src/assets/fonts/Montserrat-SemiBold.woff
  client/src/assets/fonts/Montserrat-SemiBold.woff2
  client/src/assets/fonts/Montserrat-VF.woff2
  client/src/assets/fonts/inter-v3-latin-600.woff
  client/src/assets/fonts/inter-v3-latin-600.woff2
  client/src/assets/fonts/inter-v3-latin-regular.woff
  client/src/assets/fonts/inter-v3-latin-regular.woff2
  client/src/document/index.scss
  client/src/homepage/contributor-spotlight/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/plus/plus-docs/index.scss
  client/src/ui/atoms/form/index.scss
  client/src/ui/base/_reset.scss
  client/src/ui/base/_typography.scss
  client/src/ui/molecules/auth-container/index.scss
  client/src/ui/molecules/get_involved/index.scss
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/organisms/article-actions/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ci): limit failing CI from running on forks
  .github/workflows/glean-probe-scraper.yml
  .github/workflows/npm-publish.yml
Due: prettier --ignore-unknown --write

Bloggy mdn (#8742)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/blog.ts
  build/build-blog.ts
  build/index.ts
  build/utils.ts
  client/public/index.html
  client/src/app.tsx
  client/src/blog/index.scss
  client/src/blog/index.tsx
  client/src/blog/post.scss
  client/src/blog/post.tsx
  client/src/document/index.tsx
  client/src/placement-context.tsx
  client/src/ui/molecules/main-menu/index.scss
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/organisms/footer/index.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
  cloud-function/src/app.ts
  cloud-function/src/middlewares/redirect-enforce-trailing-slash.ts
  cloud-function/src/middlewares/resolve-index-html.ts
  cloud-function/src/utils.ts
  deployer/src/deployer/search/__init__.py
  kumascript/index.ts
  kumascript/macros/LiveSampleURL.ejs
  kumascript/src/info.ts
  libs/constants/index.js
  libs/env/index.d.ts
  libs/env/index.js
  libs/types/blog.ts
  libs/types/hydration.ts
  package.json
  server/index.ts
  ssr/render.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

improve(blog): make sorting more resilient (#8751)
  build/blog.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(blog): add build step
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

chore(tool): print error.stack if error.message is empty
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add the PWA app sharing how-to article to the PWA sidebar
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

Add the PWA app sharing how-to article to the PWA sidebar (#8770)
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

ci(commit-signatures): use base_ref in instructions
  .github/workflows/pr-commit-signatures.yml
Due: prettier --ignore-unknown --write

chore(deps-dev): bump stylelint from 14.16.1 to 15.6.1
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps-dev): bump stylelint-config-recommended from 9.0.0 to 12.0.0
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(deps-dev): bump stylelint-config-sass-guidelines from 9.0.1 to 10.0.0
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Update test case
  kumascript/tests/macros/cssxref.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(layout): consolidate sticky header
  client/src/app.scss
  client/src/document/index.scss
  client/src/ui/molecules/grids/_document-page.scss
  client/src/ui/organisms/article-actions-container/index.scss
  client/src/ui/organisms/article-actions/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

ci(stage,prod): invalidate CDN with --async
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage,prod): merge invalidate into build job
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

Add PWA icon how-to to PWA sidebar
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

fix toc for articles
  client/src/document/hooks.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix MP-165
  client/src/homepage/static-page/index.tsx
  client/src/plus/index.tsx
  client/src/plus/plus-docs/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

lint
  client/src/homepage/static-page/index.tsx
  client/src/plus/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: tool `yarn content move` converts double quotes to single quotes in title (#8623)
  content/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

naming
  client/src/app.scss
  client/src/ui/organisms/article-actions-container/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

printing
  client/public/index.html
Due: prettier --ignore-unknown --write

chore(macros/PWASidebar): add PWA icons how-to article (#8783)
  kumascript/macros/PWASidebar.ejs
Due: prettier --ignore-unknown --write

ci(stage,prod): invalidate CDN asynchronously (#8782)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage,prod): sync everything before deleting extra files
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage,prod): skip /static when syncing rest of build
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write
