Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

ci(xyz-build): extract invalidate job
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fixup! ci(xyz-build): extract invalidate job
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

migrage(pong): use pong internal lib in gcp
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/handlers/kevel.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(libs/pong): add TypeScript declarations
  libs/pong/cc2ip.d.ts
  libs/pong/click.d.ts
  libs/pong/coding.d.ts
  libs/pong/fallback.d.ts
  libs/pong/get.d.ts
  libs/pong/image.d.ts
  libs/pong/index.d.ts
  libs/pong/viewed.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(libs/pong): improve TypeScript definitions
  libs/pong/cc2ip.d.ts
  libs/pong/click.d.ts
  libs/pong/fallback.d.ts
  libs/pong/get.d.ts
  libs/pong/image.d.ts
  libs/pong/viewed.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(gcp/function): update package-lock.json
  gcp/function/package-lock.json
Due: prettier --ignore-unknown --write

chore(gcp/function): avoid userAgent being null
  gcp/function/src/handlers/kevel.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(gcp/function): use body, as body-parser already parses it
  gcp/function/src/handlers/kevel.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(stage-build): extract invalidate job
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

chore(gcp/function): remove @adzerk/decision-sdk from deps
  gcp/function/package-lock.json
  gcp/function/package.json
Due: prettier --ignore-unknown --write

ci(stage,prod): run on ubuntu-latest-4core
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage,prod): build all locales concurrently
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

Revert "chore(gcp/function): remove @adzerk/decision-sdk from deps"
  gcp/function/package-lock.json
  gcp/function/package.json
Due: prettier --ignore-unknown --write

rename
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix

style: lint .github/workflows/*.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(prod-build): extract invalidate job
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

fixup! ci(prod-build): extract invalidate job
  .github/workflows/prod-build.yml
Due: prettier --ignore-unknown --write

style(prettier): ignore /gcp/function/src/internal
  .prettierignore
Due: prettier --ignore-unknown --write

fix(libs/pong): filter keywords with allow list (#8639)
  libs/pong/get.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {{HTMLRefTable}} macro (#8641)
  kumascript/macros/HTMLRefTable.ejs
Due: prettier --ignore-unknown --write

chore(macros): delete {{HTMLVersionInline}} macro
  kumascript/macros/HTMLVersionInline.ejs
Due: prettier --ignore-unknown --write

Remove unused block
  client/src/document/ingredients/browser-compatibility-table/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Sticky BCD table - version 3
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Relocate margin
  client/src/document/ingredients/browser-compatibility-table/index-desktop-xl.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Linting
  client/src/document/ingredients/browser-compatibility-table/index-desktop-xl.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Simplify nesting
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Remove fx differentiators as a companion of mdn/content#26242
  kumascript/macros/AddonSidebar.ejs
Due: prettier --ignore-unknown --write

Update gcp/function/src/handlers/kevel.ts
  gcp/function/src/handlers/kevel.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): delete {{HTMLVersionInline}} macro (#8648)
  kumascript/macros/HTMLVersionInline.ejs
Due: prettier --ignore-unknown --write

Update libs/pong/coding.d.ts
  libs/pong/coding.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(gcp/function): check against null
  gcp/function/src/handlers/kevel.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(libs/locale-utils): remove package-lock.json
  libs/locale-utils/package-lock.json
Due: prettier --ignore-unknown --write

refactor(whatsdeployed): move from deployer to tool (#8633)
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/src/deployer/main.py
  deployer/src/deployer/whatsdeployed.py
  tool/cli.ts
  tool/whatsdeployed.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(stage,prod): build all locales concurrently on 4core runner (#8642)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

feat(user-context): show maintenance message if whoami failed (#8640)
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/ui/atoms/avatar/index.tsx
  client/src/user-context.tsx
  client/src/utils.ts
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(plans): call res.end() for fix timeout
  gcp/function/src/handlers/plans.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(stage-build): remove on.push
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): build on push to main only
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

refactor(gcp/function): rename {redirects => build-redirects}
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  gcp/function/package.json
  gcp/function/src/build-redirects.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(gcp/function): move {gcp/function => cloud-function}
  .eslintignore
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  .prettierignore
  cloud-function/.gcloudignore
  cloud-function/.gitignore
  cloud-function/Procfile
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/app.ts
  cloud-function/src/build-redirects.ts
  cloud-function/src/constants.ts
  cloud-function/src/env.ts
  cloud-function/src/handlers/content.ts
  cloud-function/src/handlers/kevel.ts
  cloud-function/src/handlers/plans.ts
  cloud-function/src/handlers/rumba.ts
  cloud-function/src/handlers/telemetry.ts
  cloud-function/src/headers.ts
  cloud-function/src/index.ts
  cloud-function/src/middlewares/notFound.ts
  cloud-function/src/middlewares/pathnameLC.ts
  cloud-function/src/middlewares/redirectFundamental.ts
  cloud-function/src/middlewares/redirectLeadingSlash.ts
  cloud-function/src/middlewares/redirectLocale.ts
  cloud-function/src/middlewares/redirectMovedPages.ts
  cloud-function/src/middlewares/redirectTrailingSlash.ts
  cloud-function/src/middlewares/requireOrigin.ts
  cloud-function/src/middlewares/resolveIndexHTML.ts
  cloud-function/src/plans/index.ts
  cloud-function/src/plans/prod.ts
  cloud-function/src/plans/stage.ts
  cloud-function/src/proxy.ts
  cloud-function/src/utils.ts
  cloud-function/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
