Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

fix(content): allow whitespace above content folder (#7987)
  content/document.ts
Due: prettier --ignore-unknown --write, eslint --fix

remove interop survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

update survey url
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update package.json
  package.json
Due: prettier --ignore-unknown --write

fix(lint): run check:tsc with 2 processes
  package.json
Due: prettier --ignore-unknown --write

Update client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

add year
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

update yml files
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

Sort keys alphabetically with signed commit
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebGLSidebar.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec2.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  kumascript/macros/CSSRef.ejs
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/JsSidebar.ejs
Due: prettier --ignore-unknown --write

fix layout
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Update build/extract-specifications.ts
  build/extract-specifications.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(README): fix broken badge
  README.md
Due: prettier --ignore-unknown --write

chore(short-survey): add web compat survey (#8097)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Due: prettier --ignore-unknown --write, eslint --fix

Remove console log
  kumascript/macros/JSRef.ejs
Due: prettier --ignore-unknown --write

Remove `Non Standard` case
  kumascript/src/api/page.ts
Due: prettier --ignore-unknown --write, eslint --fix

Make `args` parameter as array type
  kumascript/src/environment.ts
Due: prettier --ignore-unknown --write, eslint --fix

copy changes
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  copy/plus/faq.md
  copy/plus/features/offline.md
  copy/plus/features/overview.md
Due: prettier --ignore-unknown --write, eslint --fix

fix(build): make spec-urls an override for browser-compat (#8023)
  build/extract-specifications.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(search-results): avoid horizontal scrollbar (#8060)
  client/src/site-search/search-results.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

Apply suggestions from code review
  kumascript/macros/NonStandardBadge.ejs
Due: prettier --ignore-unknown --write

docs(README): fix broken badge (#7945)
  README.md
Due: prettier --ignore-unknown --write

Add error when `CONTENT_ROOT` is missing
  content/document-paths.ts
Due: prettier --ignore-unknown --write, eslint --fix

Export logic to `badges.ts` and return array of templates
  kumascript/macros/APIListAlpha.ejs
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/ListGroups.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/src/api/page.ts
  kumascript/src/lib/badges.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update Non-standardGeneric.ejs
  kumascript/macros/Non-standardGeneric.ejs
Due: prettier --ignore-unknown --write

Update ObsoleteGeneric.ejs
  kumascript/macros/ObsoleteGeneric.ejs
Due: prettier --ignore-unknown --write

Merge {{optionalGeneric}} into {{optional_inline}}
  kumascript/macros/optionalGeneric.ejs
  kumascript/macros/optional_inline.ejs
Due: prettier --ignore-unknown --write

Merge {{Non-standardGeneric}} into {{Non-standard_Header}}
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/Non-standard_Header.ejs
Due: prettier --ignore-unknown --write

chore(macros): merge {{optionalGeneric}} into {{optional_inline}} (#8100)
  kumascript/macros/optionalGeneric.ejs
  kumascript/macros/optional_inline.ejs
Due: prettier --ignore-unknown --write

chore(macros): merge {{Non-standardGeneric}} into {{Non-standard_Header}} (#8101)
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/Non-standard_Header.ejs
Due: prettier --ignore-unknown --write

fix(lint): run check:tsc with 2 processes (#8098)
  package.json
Due: prettier --ignore-unknown --write

chore(macros/LearnSidebar): add Cascade layers (#8024)
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

Replace browser-specs with web-specs
  build/extract-specifications.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

Add django to list of Prism.js languages
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write, eslint --fix

Add @zip.js/zip.js as a dependency
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(macros): add missing CSS selectros pages to sidebars
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

chore(syntax-highlight): add django to Prism.js languages (#8108)
  build/syntax-highlight.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(macros): actually add Cascade layers to sidebar
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
Due: prettier --ignore-unknown --write

chore(workflows/pr-commit-signatures): pipe to tee
  .github/workflows/pr-commit-signatures.yml
Due: prettier --ignore-unknown --write

chore(deps): replace browser-specs with web-specs (#7941)
  build/extract-specifications.ts
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix
