Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix --allow-empty-input"
}

chore(libs/play): refine comment
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(libs/play): be consistent about returning response
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(interactive-examples): open targetless `<area>`s in parent window
  client/src/lit/interactive-example/example.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(interactive-examples): open targetless `<area>`s in parent window (#12652)
  client/src/lit/interactive-example/example.js
Due: prettier --ignore-unknown --write, eslint --fix

enhance(ix): highlight selected choice
  client/src/lit/interactive-example/index.js
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix): style CSS Choice header
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix): sync CSS Choice element design
  client/src/lit/interactive-example/index.scss
  client/src/lit/play/editor.js
  client/src/lit/play/editor.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix): add line between choices
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix): apply CSS Choice base style
  client/src/lit/interactive-example/choice.css
  client/src/lit/interactive-example/index.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix): add CSS Choice arrow
  client/src/lit/interactive-example/index.js
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(ix): apply CSS Choice height/overflow on first-child
  client/src/lit/interactive-example/choice.css
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix): distribute CSS Choice choices vs output
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

feat(ix): mark unsupported CSS choice
  client/src/lit/interactive-example/index.js
  client/src/lit/interactive-example/index.scss
  client/src/lit/interactive-example/utils.js
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix): add basic responsive CSS Choice layout
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix): remove resolved TODO notes
  client/src/lit/interactive-example/choice.js
  client/src/lit/interactive-example/index.js
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(ix): select first tab + reset values properly
  client/src/lit/interactive-example/index.js
Due: prettier --ignore-unknown --write, eslint --fix

enhance(ix): reduce delay for CSS Choice editor
  client/src/lit/interactive-example/index.js
  client/src/lit/play/editor.js
Due: prettier --ignore-unknown --write, eslint --fix

Update index.scss for scroll bar overflow #12572
  client/src/playground/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

WAT support
  client/src/lit/interactive-example/index.js
  client/src/lit/play/runner.js
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(play): avoid double-slash
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

removed data-url csp
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ix): use correct default height
  client/src/lit/interactive-example/global.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

watify
  libs/watify/.gitignore
  libs/watify/Cargo.lock
  libs/watify/Cargo.toml
  libs/watify/LICENSE
  libs/watify/README.md
  libs/watify/index.html
  libs/watify/src/lib.rs
Due: prettier --ignore-unknown --write

fix(ix): select first choice properly
  client/src/lit/interactive-example/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ix/choices): move padding out of iframe
  client/src/lit/interactive-example/choice.css
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ix/choices): unset iframe body font-size
  client/src/lit/interactive-example/choice.css
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix/choice): reduce iframe height
  client/src/lit/interactive-example/choice.css
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

add wat syntax highlighting
  client/src/lit/play/editor.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(ix/choice): reduce space between columns
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ix/choice): scroll on overflow
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

allow data: in connect-src CSP
  libs/play/index.js
Due: prettier --ignore-unknown --write, eslint --fix

proper watify local dependency handling
  client/src/lit/play/runner.js
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore(play): do not wrap in minimal editor
  client/src/lit/play/editor.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ix/choice): avoid border overflow
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(ix/choice): use border-bottom on small screens
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix/choice): hide ::after in vertical layout
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(ix/choice): add unsupported border-color to editor
  client/src/lit/interactive-example/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

load watify on demand
  client/src/lit/play/runner.js
Due: prettier --ignore-unknown --write, eslint --fix

removed unused file extension
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix

re-introduce extension
  client/config/webpack.config.js
Due: prettier --ignore-unknown --write, eslint --fix
