Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

feat(gcp/function): handle 404 in content
  gcp/function/src/handlers/content.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "chore(gcp/function): make libs copy read-only"
  gcp/function/package.json
Due: prettier --ignore-unknown --write

chore(placement): move out of toc (#8458)
  client/src/document/organisms/toc/index.tsx
  client/src/site-search/index.scss
  client/src/site-search/index.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

enhance(placement): use body for placement status
  client/src/ui/organisms/placement/index.tsx
  deployer/aws-lambda/kevel/index.js
Due: prettier --ignore-unknown --write, eslint --fix

feedback
  client/src/ui/organisms/placement/index.tsx
  deployer/aws-lambda/kevel/index.js
Due: prettier --ignore-unknown --write, eslint --fix

better safe
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fixup! feat(bcd): fetch compat data from bcd.developer.mozilla/allizom.org
  client/src/plus/updates/api.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(env): use null-coalesce + document REACT_APP_BCD_BASE_URL
  client/src/env.ts
  docs/envvars.md
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix
  client/src/ui/organisms/placement/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

enhance(placement): use body for placement status (#8469)
  client/src/ui/organisms/placement/index.tsx
  deployer/aws-lambda/kevel/index.js
Due: prettier --ignore-unknown --write, eslint --fix

ci(stage-build): prevent concurrent runs
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): run on pushes to main
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

ci(stage-build): ignore Dependabot merges
  .github/workflows/stage-build.yml
Due: prettier --ignore-unknown --write

feat(bcd): fetch compat data from bcd.developer.mozilla/allizom.org (#8470)
  .github/workflows/prod-build.yml
  client/src/document/lazy-bcd-table.tsx
  client/src/env.ts
  client/src/plus/updates/api.ts
  docs/envvars.md
  server/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix lint
  client/src/ui/organisms/top-navigation/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feature(tool/delete): list files pointing to the deleted document (#8412)
  tool/cli.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(styles): remove repeated extra class name (#8326)
  client/src/ui/organisms/top-navigation/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore(client): add geo.country_iso to UserContext
  client/src/env.ts
  client/src/user-context.tsx
  docs/envvars.md
Due: prettier --ignore-unknown --write, eslint --fix

chore(gcp/function): remove /bcd handling
  gcp/function/src/app.ts
  gcp/function/src/env.ts
  gcp/function/src/handlers/bcdApi.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(gcp/function): stick with /api/v1/stripe/plans
  gcp/function/src/app.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(xyz-build): remove build temporarily
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): use google-github-actions/deploy-cloud-functions
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fixup! ci(xyz-build): use google-github-actions/deploy-cloud-functions
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

ci(xyz-build): allow concurrency
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fix(gcp/function): set secret_environment_variables
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fix(gcp/function): set entry_point
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fixup! fix(gcp/function): set entry_point
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fixup! fix(gcp/function): set secret_environment_variables
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

Revert "ci(xyz-build): allow concurrency"
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

Revert "ci(xyz-build): remove build temporarily"
  .github/workflows/xyz-build.yml
Due: prettier --ignore-unknown --write

fix(gcp/function): apply req.originalUrl workaround to search-index.json route
  gcp/function/src/app.ts
  gcp/function/src/middlewares/pathnameLC.ts
  gcp/function/src/middlewares/resolveIndexHTML.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(csp): add bcd.developer.mozilla/allizom.org as connect-src
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(csp): add bcd.developer.mozilla/allizom.org as connect-src (#8483)
  libs/constants/index.js
Due: prettier --ignore-unknown --write, eslint --fix

enhance(placement): show placment in split screen
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/ui/molecules/grids/_document-page.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

lint
  client/src/document/organisms/toc/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

hide when little vertical space
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

compensate for banner
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(gcp/function): add X-Forwarded headers
  gcp/function/src/handlers/content.ts
  gcp/function/src/handlers/rumba.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update kumascript/macros/htmlattrdef.ejs
  kumascript/macros/htmlattrdef.ejs
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
