Repository mdn/yari: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): use border-radius of 1rem
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): align thumbs left + add margin-top to content
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar-filter): increase font-size
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): do not resize thumbs button
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): add padding-right to avoid touching the scrollbar
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

improve deprecated warning logic
  client/src/env.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sidebar-filter): align feedback with filter icon
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

new api format
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): extract getLinkContainer()
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): extract getParents()
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(client/env): split CRUD_MODE into WRITER_MODE and DEV_MODE (#8383)
  .env-dist
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  client/src/app.tsx
  client/src/banners/README.md
  client/src/banners/index.tsx
  client/src/blog/index.tsx
  client/src/blog/post.tsx
  client/src/contributor-spotlight/index.tsx
  client/src/document/index.tsx
  client/src/document/toolbar/edit-actions.tsx
  client/src/document/toolbar/flaws.tsx
  client/src/document/toolbar/index.tsx
  client/src/env.ts
  client/src/homepage/contributor-spotlight/index.tsx
  client/src/homepage/featured-articles/index.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/homepage/recent-contributions/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/site-search/search-results.tsx
  client/src/sitemap/index.tsx
  client/src/telemetry/glean-context.tsx
  docs/envvars.md
  docs/npm-packaging.md
  scripts/developing.sh
  testing/README.md
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): rename all{Headings,Parents}
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

perf(sidebar-filter): avoid duplicate work
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): extract getHeading[Container]()
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): merge get{Link,Heading}Container()
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

perf(sidebar-filter): reuse SidebarFilterer
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): store scrollTop in ref, not state
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): extract usePersistedScrollPosition()
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): extract useSidebarFilter()
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): rename {hasUserInteraction => isActive}
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar-filter): show count only if active
  client/src/document/organisms/sidebar/filter.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

chore(sidebar): add comment about reducing margin-top again
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): avoid margin-top on mobile
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): restore scroll positon on mobile
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): hide parent container, not parent
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sidebar-filter): rename target => container
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): set z-index on sidebar-actions, instead of icon
  client/src/document/organisms/sidebar/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

refactor(sass): inline concatenations
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/updates/index.scss
  client/src/ui/atoms/avatar/index.scss
  client/src/ui/atoms/toast/index.scss
  client/src/ui/molecules/dropdown/index.scss
  client/src/ui/molecules/pagination/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
Due: prettier --ignore-unknown --write, stylelint --fix, stylelint --fix --allow-empty-input

style(sass): allow only specific chars after &
  .stylelintrc.json
Due: prettier --ignore-unknown --write

updates
  client/src/playground/forms.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
  client/src/ui/atoms/button/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(sidebar-filter): disable autocomplete
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix(sidebar-filter): use textContent, not innerText
  client/src/document/organisms/sidebar/SidebarFilterer.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(build): add Sentry context
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(build): replace Sentry.set{Extras => Context}()
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

link
  client/src/playground/index.scss
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix unsafe
  client/src/playground/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat(sidebar-filter): color filter icon when we have input
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix, stylelint --fix --allow-empty-input

fix(github): include build/** in search results
  .gitattributes
Due: prettier --ignore-unknown --write

fix(github): include build/** in search results (#9030)
  .gitattributes
Due: prettier --ignore-unknown --write

chore(build): add Sentry context (#8994)
  build/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: (any of: *.{js,jsx,tsx}) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.{css,scss}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
